<!--[SUBJECT:eBay Notification - [@ebstore_name@]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@ebay_notification_email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
Dear [$COMPANY_NAME$],


<!--##[%DATA id:'total_pending_enditem' if:'>' value:'0'%]##-->
<p><b>
There are [@total_pending_enditem@] end listing processes waiting for approval 
at <!--##[%FORMAT type:'date' format:'#d #k #Y (#G:#I#a)'%]##-->[@current_time@]<!--##[%END FORMAT%]##-->.
</b></p>
<p>
You must either approve or stop the processes in eBay Process Queue before listings can be ended automatically.<br>
<a href="[$SECURE_HOME_URL$]/_cpanel?item=ebprocmgr&limitstatus=Pending&limitapp=n">[$SECURE_HOME_URL$]/_cpanel?item=ebprocmgr&limitstatus=Pending&limitapp=n</a>
</p>
<!--##[%END DATA%]##-->

<!--##[%DATA id:'total_failed_additem' if:'>' value:'0'%]##-->
<p><b>
Cannot create [@total_failed_additem@] listings
between <!--##[%FORMAT type:'date' format:'#d #k #Y (#g:#i#a)'%]##-->[@date_listnotified@]<!--##[%END FORMAT%]##-->
and <!--##[%FORMAT type:'date' format:'#d #k #Y (#g:#i#a)'%]##-->[@current_time@]<!--##[%END FORMAT%]##-->.
</b></p>

<p>
<!--##[%EBAY_FAILED_LISTINGS id:'[@ebstore_id@]' date_from:'[@date_listnotified@]' date_to:'[@current_time@]'%]##-->
<!--##[%PARAM *header%]##-->
<table cellspacing="1px" border="0" cellpadding="4px">
<tr>
	<td><b>Date</b></td>
	<td><b>Process ID</b></td>
	<td><b>SKU</b></td>
	<td><b>Description</b></td>
	<td><b>eBay Template</b></td>
	<td><b>Error Message</b></td>
</tr>
<!--##[%END PARAM%]##-->
<!--##[%PARAM *body%]##-->
<tr>
	<td><!--##[%FORMAT type:'date' format:'#d #k #Y (#G:#I#a)'%]##-->[@date_end@]<!--##[%END FORMAT%]##--></td>
	<td>[@ebproc_id@]</td>
	<td>[%NOHTML%][@SKU@][%END NOHTML%]</td>
	<td>[%NOHTML%][@log_description@][%END NOHTML%]</td>
	<td>[@ebtmpl_name@]</td>
	<td>[%NOHTML%][@rtn_errors@][%END NOHTML%]</td>
</tr>
<!--##[%END PARAM%]##-->
<!--##[%PARAM *footer%]##-->
</table>
<!--##[%END PARAM%]##-->
<!--##[%END EBAY_FAILED_LISTINGS%]##-->
</p>
<p>
You can view more details in eBay Process Log.<br>
<a href="[$SECURE_HOME_URL$]/_cpanel?item=ebproclog&limitstatus=e&limitmodule=AddItem&limitfn=DO_ADDITEM&limitign=y&limitstore=[@ebstore_id@]">[$SECURE_HOME_URL$]/_cpanel?item=ebproclog&limitstatus=e&limitmodule=AddItem&limitfn=DO_ADDITEM&limitign=y&limitstore=[@ebstore_id@]</a>
</p>
<!--##[%END DATA%]##-->

<!--##[%content_zone id:'email_signature'%][%end content_zone%]##-->
