<div class="container">
<div class="row">
<div class="col-xs-12">
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<li><a href="[%url page:'account' /%]">My Account</a></li>
	</ul>
	<div class="page-header">
		<h1> Forgotten username?</h1>
	</div>
	[%if [@error@]%]
	<div class="alert alert-danger"> <a class="close" data-dismiss="alert">×</a>
		<p>[@error@]</p>
	</div>
	[%/if%]
	<p class="help-block"> Please enter your e-mail address below and we will send you your username by e-mail.</p>
	<form method="POST" action="[%url page:'account' type:'forgotusr' /%]">
		<input type="hidden" name="fn" value="proc">
		<div class="row">
			<div class="form-group col-md-6">
				<label>Email Address</label>
				<input class="form-control" name="email" size="30" value="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<input type="submit" name="login" value="Send Me My Username" class="btn btn-success btn-block">
			</div>
		</div>
	</form>
</div>
</div>
</div>