	</div>
</div>
<div class="wrapper-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9 hidden-xs">
				[%payment_methods ignore_balance:'1'%]
					[%param header%]
						<ul class="list-inline">
					[%/param%]
					[%param *body%]
						[%if [@name@] like 'American Express'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-americanexpress"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Visa'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-visa"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Master Card'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-mastercard"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Discover'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-discover"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Diners'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-diners"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Cheque'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-cheque"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Money Order'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-moneyorder"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Direct Deposit'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-directdeposit"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'bpay'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-bpay"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'paypal'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-paypal"></div>
								</div>
							</li>
						[%/if%]
					[%/param%]
					[%param *footer%]
						</ul>
					[%/param%]
				[%/payment_methods%]
			</div>
			<div class="col-sm-3">
				<address>
					<strong>Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@]</strong><br>
					[%if [@config:company_abn@]%]<strong>ABN:</strong> [@config:company_abn@]<br>[%/ if%]
					[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
					<p class="small"><a href="https://www.neto.com.au" title="E-commerce Shopping Cart" rel="nofollow" target="_blank">E-commerce Software</a> By Neto</p>
				</address>
			</div>
		</div>
	</div>
</div>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.2.0'%]bootstrap.min.js[%/cdn_asset%]
<script type="text/javascript" src="[%ntheme_asset%]js/twnn.min.js[%/ntheme_asset%]"></script>
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
<!-- Analytics -->
[%load_template file:"trackingcode/VisitorTracking.html"/%]
<div class="npopup" style=""> <a href="javascript:void(0);" class="npopup-btn-close"></a>
	<div class="npopup-body">
	</div>
</div>
</body>
</html>
