		
	</div>
</div>
<footer>
	<div class="wrapper-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-push-4">
					<div class="row">
						[%menu id:'web_footer'%]
							[%param *level_1%]
								<div class="[@css_class@] col-sm-4">
									<h4>[@name@]</h4>
									<ul class="list-unstyled footer-menu">
										[@next_level@]
									</ul>
								</div>
							[%/param%]
							[%param *level_2%]
								<li><a href="[@url@]">[@name@]</a></li>
							[%/param%]
						[%/menu%]
					</div>	
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-pull-8">
					<div class="t-logo">
						<svg class="logo" xmlns="http://www.w3.org/2000/svg" width="294.8px" height="449.7px" viewBox="0 0 294.8 449.7" xml:space="preserve"><path fill="#939598" d="M174.8,52v243.9l-27.3-27.3V26.7L174.8,52z"/><path fill="#BCBEC0" d="M120.1,295.8l27.3-27.3l27.3,27.3H120.1z M147.5,26.7L174.8,52h81.6l-25.2-25.2H147.5z"/><path fill="#808285" d="M256.4,52l-25.2-25.2l25.2-25.2V52z"/><path fill="#FFFFFF" d="M38.6,1.5h217.8l-25.2,25.2H63.8L38.6,1.5z M38.6,52l25.2-25.2L38.6,1.5V52z"/><path fill="#D1D3D4" d="M38.6,52l25.2-25.2h83.7h0L120.1,52H38.6"/><path fill="#E6E7E8" d="M120.1,52l27.3-25.2v241.8l-27.3,27.3V52z"/><path d="M257.9,1.5c0-0.2,0-0.3-0.1-0.4c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0-0.1-0.1-0.2-0.1-0.2c0,0,0,0,0,0
							c-0.1-0.1-0.2-0.2-0.2-0.3c0,0,0,0-0.1-0.1c-0.1-0.1-0.2-0.1-0.3-0.2c0,0,0,0-0.1,0c0,0,0,0,0,0c-0.1,0-0.2-0.1-0.3-0.1
							c-0.1,0-0.1,0-0.2,0c0,0,0,0-0.1,0H38.6c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0.1c0,0,0,0-0.1,0c0,0-0.1,0.1-0.1,0.1
							c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0.1
							c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0,0,0,0,0.1V52c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0.1,0.2c0,0,0,0,0,0.1
							c0,0,0.1,0.1,0.1,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1
							c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.3,0.1,0.4,0.1c0,0,0,0,0,0c0,0,0,0,0,0h80.1v242.4c0,0,0,0,0,0.1
							c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0.1,0.2c0,0,0,0,0,0.1c0,0,0.1,0.1,0.1,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2
							c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.3,0.1,0.4,0.1
							c0,0,0,0,0,0c0,0,0,0,0,0h54.7c0,0,0,0,0,0c0.1,0,0.2,0,0.3-0.1c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0.1,0,0.2-0.1,0.3-0.2
							c0,0,0,0,0.1-0.1c0.1-0.1,0.2-0.2,0.2-0.3c0,0,0,0,0,0c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0-0.1,0.1-0.3,0.1-0.4
							c0,0,0,0,0,0V53.5h80.1c0.1,0,0.3,0,0.4-0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1-0.1,0.1-0.1c0.1,0,0.1-0.1,0.2-0.1
							c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0.1-0.2
							c0-0.1,0-0.1,0-0.2c0,0,0,0,0-0.1V1.5z M121.6,52.6L146,30.2v237.7l-24.3,24.3V52.6z M149,267.9V30.2l6.2,5.7l18.1,16.7v239.6
							L149,267.9z M175.4,50.5l-24.1-22.2h79.2l16,16l6.2,6.2H175.4z M233.3,26.7l21.6-21.6v43.2L233.3,26.7z M252.7,3l-22.2,22.2h-83.1
							H64.4L42.2,3H252.7z M40.1,5.1l15.3,15.3l6.3,6.3L40.1,48.3V5.1z M64.4,28.2h79.2l-24.1,22.2H42.2L64.4,28.2z M147.5,270.6
							l23.7,23.7h-47.4L147.5,270.6z"/><path fill="#FFFFFF" d="M246.4,421.2h21.4v-10.6h-21.4v-7.1l48.6-9.2l-2.1-11l-19.8,3.8v0h-38.1v7.2l-21.4,4v-11.3h-12.8
								l-5.6,14.7l-16.7,3.2l-6.8-17.9h-12.8v21.6l-28.9,5.5l-9.2-27.1h-11.4l-11.2,33.1l-26.8,5.1v-38.1H59.9v40.3l-0.2,0l-22.4-40.3h-12
								V434L0,438.8l2.1,11l23.2-4.4v3.4h11.4v-5.5l17.7-3.4l4.9,8.9h12v-12.1l22.7-4.3l-5.5,16.4h12.3l4.5-14.5h19.5l4.5,14.5h12.3
								l-8.1-23.8l25.2-4.8v28.6h11.4v-30.8l2.5-0.5l9.3,25.6h8.3l11.3-31.1l0.5-0.1v36.8h11.4v-39l21.4-4v43h39v-10.6h-27.5V421.2z
								 M36.7,431.8v-23.8l12,21.5L36.7,431.8z M115.1,402.2l4.2,14l-9,1.7L115.1,402.2z M186.2,425.6l-3.8-9.9l8.1-1.5L186.2,425.6z"/></svg>
					</div>					
					<h4>find us on</h4>
					<ul class="list-inline list-social">
						[%if [@config:instagram_account_id@]%]
						<li><a href="[@config:instagram_account_id@]" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="37.4" height="37.1" viewBox="0 0 37.4 37.1"><path d="M23.1 9.7c-1.1-.1-1.5-.1-4.4-.1s-3.3 0-4.4.1c-3 .1-4.3 1.5-4.5 4.4-.1 1.1-.1 1.5-.1 4.4s0 3.2.1 4.4c.1 2.9 1.5 4.3 4.5 4.4 1.1.1 1.5.1 4.4.1s3.3 0 4.4-.1c3-.1 4.3-1.5 4.5-4.4.1-1.1.1-1.5.1-4.4s0-3.2-.1-4.4c-.2-2.8-1.6-4.2-4.5-4.4zm-4.4 14.4c-3.1 0-5.5-2.5-5.5-5.6s2.5-5.5 5.6-5.5c3 0 5.5 2.5 5.5 5.5 0 3.1-2.5 5.6-5.6 5.6zm5.8-10c-.7 0-1.3-.6-1.3-1.3 0-.7.6-1.3 1.3-1.3.7 0 1.3.6 1.3 1.3 0 .7-.6 1.3-1.3 1.3zm-2.2 4.4c0 2-1.6 3.6-3.6 3.7-2 0-3.6-1.6-3.7-3.6 0-2 1.6-3.6 3.6-3.7 2.1 0 3.7 1.7 3.7 3.6zM18.7 0C8.4.1.2 8.5.3 18.7S8.7 37.2 19 37.1c10.2-.1 18.4-8.4 18.4-18.5C37.3 8.3 29 0 18.7 0zm10.8 23c-.2 3.9-2.4 6.1-6.3 6.3-1.2.1-1.5.1-4.5.1s-3.3 0-4.5-.1c-4-.2-6.2-2.4-6.3-6.3-.1-1.2-.1-1.5-.1-4.5s0-3.3.1-4.5c.1-3.8 2.3-6 6.3-6.2 1.2-.1 1.5-.1 4.5-.1s3.3 0 4.5.1c4 .2 6.2 2.4 6.3 6.3.1 1.2.1 1.5.1 4.5s0 3.3-.1 4.4z"/></svg></a></li>
						[%/if%]
						[%if [@config:facebook_account_id@]%]
						<li><a href="[@config:facebook_account_id@]" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="37.4" height="37.1" viewBox="0 0 37.4 37.1"><path d="M18.7 0C8.5.1.2 8.5.3 18.7S8.7 37.2 19 37.1c10.2-.1 18.4-8.4 18.4-18.5C37.3 8.3 29 0 18.7 0zm4.7 12.4h-2.1c-.8 0-1 .3-1 1.2v1.9h3.1l-.4 3h-2.8v10.8h-4.7V18.5h-3.1v-3.1h3.1v-3.6c0-2.7 1.4-4.2 4.7-4.2h3.1l.1 4.8z"/></svg></a></li>
						[%/if%]
						[%if [@config:twitter_account_id@]%]
						<li><a href="[@config:twitter_account_id@]" target="_blank"><i class="fa fa-twitter-square text-twitter"></i></a></li>
						[%/if%]
						[%if [@config:googleplus_account_id@]%]
						<li><a href="[@config:googleplus_account_id@]" target="_blank"><i class="fa fa-google-plus-square text-google-plus"></i></a></li>
						[%/if%]
						[%if [@config:youtube_account_id@]%]
						<li><a href="[@config:youtube_account_id@]" target="_blank"><i class="fa fa-youtube-square text-youtube"></i></a></li>
						[%/if%]
						[%if [@config:pinterest_account_id@]%]
						<li><a href="[@config:pinterest_account_id@]" target="_blank"><i class="fa fa-pinterest-square text-pinterest"></i></a></li>
						[%/if%]
						[%if [@config:tumblr_account_id@]%]
						<li><a href="[@config:tumblr_account_id@]" target="_blank"><i class="fa fa-tumblr-square text-tumblr"></i></a></li>
						[%/if%]
						[%if [@config:linkedin_account_id@]%]
						<li><a href="[@config:linkedin_account_id@]" target="_blank"><i class="fa fa-linkedin-square text-linkedin"></i></a></li>
						[%/if%]
					</ul>
				</div>
			</div>
		</div>
		[%if [@config:show_newsletter_subscribe@]%]
		<div class="col-xs-6">
			
				<h4>Stay In Touch</h4>
				<p>Subscribe to our newsletter:</p>
				<form method="post" action="[%URL type:'page' id:'subscribe' https:'1'%][%END URL%]">
					<input type="hidden" name="list_id" value="1">
					<input type="hidden" name="opt_in" value="y">
					<div class="input-group">
						<input name="inp-email" class="form-control" type="email" value="[%nohtml%][@inp-email@][%/nohtml%]" placeholder="Email Address" required/>
						<input name="inp-submit" type="hidden" value="y" />
						<input name="inp-opt_in" type="hidden" value="y" />
						<span class="input-group-btn">
							<input class="btn btn-default" type="submit" value="Subscribe" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"/>
						</span>
					</div>
				</form>
		</div>
		[%/if%]
	</div>
	<div class="wrapper-copy">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					[%payment_methods ignore_balance:'1'%]
						[%param header%]
							<ul class="secure-payment list-inline">
							<li><!--Secure payment via--></li>
						[%/param%]
						[%param *body%]
							[%if [@name@] like 'American Express'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-americanexpress"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Visa'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-visa"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Master Card'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-mastercard"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Discover'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-discover"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Diners'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-diners"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Cheque'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-cheque"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Money Order'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-moneyorder"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Direct Deposit'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-directdeposit"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'bpay'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-bpay"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'paypal'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-paypal"></div>
									</div>
								</li>
							[%/if%]
						[%/param%]
						[%param *footer%]
							</ul>
						[%/param%]
					[%/payment_methods%]
				</div>
				<div class="legal-links col-sm-6">
					<ul class="list-inline">
						<li>&copy; [@config:company_name@] [%format type:'date' format:'#Y'%]today[%/format%]</li>[%menu id:'web_legal'%]
							[%param *level_1%]
								<li><a href="[@url@]">[@name@]</a></li>
							[%/param%]
						[%/menu%]
					</ul>					
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.2.0'%]bootstrap.min.js[%/cdn_asset%]
<script type="text/javascript" src="[%ntheme_asset%]js/twnn.min.js[%/ntheme_asset%]"></script>
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
<!-- Analytics -->
[%load_template file:"trackingcode/VisitorTracking.html"/%]
<div class="npopup" style=""> <a href="javascript:void(0);" class="npopup-btn-close"></a>
	<div class="npopup-body">
	</div>
</div>
<div class="nactivity"></div>
</body>
</html>
