<div class="container">
<div class="row"><!--#Start Column Left# ##-->
<!--##[%load_template file:"column_left/customer.template.html"%][%END load_template%]##-->
<!--# End Column Left# ##-->

<div class="col-xs-12">
<!--# Start Breadcrumb# ##--> 
<ul class="breadcrumb"> 
<li><a href="[@config:home_url@]">Home</a></li>
<li><span class="divider">/</span> <a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
</ul>
<!--# End Breadcrumb# ##--> 
<div class="page-header">
<h1>Password Changed</h1>
</div>

<p>
Your password has been changed, and a confirmation email has been sent to [@EMAIL@].
</p>
<p>
<a href="[%URL page:'account'%][%END URL%]">Continue To My Account Home Page</a><br />
</p>
<p>
<a href="[@config:homeurl@]">Continue To [@config:company_name@] Home Page</a>
</p>

<!--#Start Column Right# ##-->
<!--##[%load_template file:"column_right/customer.template.html"%][%END load_template%]##-->
<!--# End Column Right# ##-->
</div>
</div>
</div>