<div class="container">
<div class="row">
<div class="col-xs-12"> 
<!--# Start Breadcrumb# ##--> 
<ul class="breadcrumb"> 
<li><a href="[@config:home_url@]">Home</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
<li><a href="#">Change My Password</a></li>
</ul>

<!--# End Breadcrumb# ##--> 
<div class="page-header">
<h1>Change Account Password</h1>
</div>

<!--##[%DATA id:'error' if:'ne' value:''%]##-->
<div class="alert alert-danger">
  <a class="close" data-dismiss="alert">×</a>
  [@error@]
</div>
<!--##[%END DATA%]##-->

<p>Please enter your current and new password below in order to change your password.</p>

<form method="POST" action="[%URL page:'account' type:'edit_pwd'%][%END URL%]">
<input type="hidden" name="fn" value="proc">
<div class="row">

<div class="col-xs-12 col-md-4">
<div class="form-group">
<label for="current_pass">Current Password:</label>
<input class="form-control"  name="current_pass" id="current_pass" type="password" value="">
</div>
</div>

<div class="col-xs-12 col-md-4">
<div class="form-group">
<label for="new_pass">New Password:</label>
<input class="form-control"  name="new_pass" id="new_pass" type="password"  value="">
</div>
</div>

<div class="col-xs-12 col-md-4">
<div class="form-group">
<label for="confirm_new_pass">Confirm New Password:</label>
<input class="form-control"  name="confirm_new_pass" id="confirm_new_pass" type="password" value="">
</label>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-3 col-md-offset-9">
<input type="submit" class="btn btn-block btn-lg btn-success" value="Change My Password"/>
</div>
</div>

</form>
</div>
</div>
</div>