<div class="col-xs-12">
	<h1>Page Not Found</h1>
	<p>The page you were looking for doesn't appear to exist or has moved. </p> 
	<p><a href="[@config:home_url@]" class="btn btn-large btn-primary" title="Home Page"><i class="fa fa-home"></i> Home</a></p>	
</div>
