<section class="page--content custom-dye--page">
	<div class="container">
		<div class="page-image--holder row">
			<div class="col-xs-12 col-sm-5 col-sm-push-1">
				<div class="page--images">
					<div class="page-images--secondary secondary-image">
						<img src="[%asset_url type:'content' thumb:'alt_1' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'/%]" />
					</div>
					<div class="page-images--main main-image">
						<img src="[%asset_url type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'/%]" />
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-push-1">
				[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
					[%param *header%]
						<div id="homepageCarousel" class="carousel slide">
							[%if [@total_showing@] > 1%]
								<ol class="carousel-indicators">
									[%site_value id:'counter' type:'load'/%]
								</ol>
							[%/if%]
							<div class="carousel-inner">
					[%/param%]
					[%param *footer%]
							</div>
							[%if [@total_showing@] > 1%]
								<a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
									<span class="fa fa-chevron-left"></span>
								</a>
								<a class="right carousel-control" href="#homepageCarousel" data-slide="next">
									<span class="fa fa-chevron-right"></span>
								</a>
							[%/if%]
						</div>
						<hr>
					[%/param%]
					[%param *ifempty%]
					[%/param%]
				[%/advert%]
				[%advert type:'product' limit:'8' template:'' ad_group:''%]
					[%param *header%]
						<div class="row">
					[%/param%]
					[%param footer%]
						</div>
					[%/param%]
				[%/advert%]
				<div class="content">
				[%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
					[%parse%]
						[@content_description1@]
						[@content_description2@]
						[@content_description3@]
					[%/parse%]
				[%/if%]
				</div>
				[%thumb_list type:'content' content_type:'' template:'' limit:'20'%]
					[%param *footer%]
						<ul class="pagination">
							[%paging limit:'3'%]
								[%param *previous_page%]<li><a href="[@URL@]">Previous Page</a></li>[%/param%]
								[%param *goback_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/param%]
								[%param *current_page%]<li class="active"><a href="[@URL@]">[@PAGE@]</a></li>[%/param%]
								[%param *gonext_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/param%]
								[%param *next_page%]<li><a href="[@URL@]">Next Page</a></li>[%/param%]
							[%/paging%]
						</ul>
					[%/param%]
				[%/thumb_list%]
				[%thumb_list type:'products' template:'' limit:'[@config:related_limit@]'%]
					[%param header%]
						<div class="row">
					[%/param%]
					[%param footer%]
						</div>
					[%/param%]
				[%/thumb_list%]
				[%IF [@content_allow_reviews@]%]
					<div class="dropdown">
						<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							Share: <i class="fa fa-facebook-square text-facebook"></i>
							<i class="fa fa-twitter-square text-twitter"></i>
							<i class="fa fa-pinterest-square text-pinterest"></i>
							<i class="fa fa-google-plus-square text-google-plus"></i>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-facebook-square text-facebook"></i> Facebook</a></li>
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//twitter.com/intent/tweet/?text=[%url_encode%][@content_name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-twitter-square text-twitter"></i> Twitter</a></li>
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;description=[%url_encode%][@content_name@][%/url_encode%]"><i class="fa fa-pinterest-square text-pinterest"></i> Pinterest</a></li>
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-google-plus-square text-google-plus"></i> Google+</a></li>
						</ul>
					</div>
					<a id="comments"></a>
					[%thumb_list type:'content_reviews' limit:'5'%]
						[%param filter_1%][@CONTENT_ID@][%/param%]
						[%param *header%]
							<h3>Comments ([@reviews@])</h3>
						[%/param%]
						[%param *body%]
							<div itemprop="review" itemscope itemtype="http://schema.org/Review">
								<blockquote>
									<h4 itemprop="name"><i>[%nohtml%][@title@][%/nohtml%]</i></h4>
									<div>
										<strong>[%if [@reviewname@]%]By: <span itemprop="author">[@reviewname@]</span> on [%/ if%]<meta itemprop="datePublished" content="[%FORMAT type:'date'%][@insert_date@][%/FORMAT%]">[%FORMAT type:'date'%][@insert_date@][%/FORMAT%]</strong>
									</div>
									<span itemprop="description">[%nohtml%][@review@][%/nohtml%]</span>
									[%IF [@review_response@]%]
										<br /><br />
										<blockquote>
											<span class="review_response text-muted"><strong><i>[@config:website_name@] Response</i></strong><br /> [%nohtml%][@review_response@][%/nohtml%]</span>
										</blockquote>
									[%/IF%]
								</blockquote> <hr />
							</div>
						[%/param%]
					[%/thumb_list%]
					<h3>Leave a comment</h3>
					<form name="edit_review" method="post" role="form" action="[%URL page:'account' type:'write_contentreview'%][%/URL%]">
						<fieldset>
							<input type="hidden" name="fn" value="confirm">
							<input type="hidden" name="item" value="[@content_id@]">
							<input type="hidden" name="checked_terms_and_conditions" value="1">
							<input type="hidden" name="rating_value" id="rating_value" value="5"/>
							<div class="form-group">
								<label for="review_title">Title For Comment</label>
								<input class="form-control" type="text" name="review_title" id="review_title" value="[%nohtml%][@form:review_title@][%/nohtml%]" required/>
							</div>
							<div class="form-group">
								<label for="review_text">Your Comment</label>
								<textarea name="review_text" id="review_text" rows="10" class="form-control" required>[%nohtml%][@form:review_text@][%/nohtml%]</textarea>
							</div>
							[%ajax_loader%]
								[%if ![@user:username@] or [@user:username@] eq 'noreg'%]
									<div class="form-group">
										<label for="customername">Your Name</label>
										<input class="form-control" type="text" name="customername" id="customername" value="[%nohtml%][@form:customername@][%/nohtml%]" required/>
									</div>
									<div class="form-group">
										<label for="emailaddress">Your Email Address</label>
										<input class="form-control" size="70" type="email" name="emailaddress" id="emailaddress" value="[%nohtml%][@form:emailaddress@][%/nohtml%]" required/>
									</div>
								[%/if%]
							[%/ajax_loader%]
							<p>
								<button type="submit" class="btn btn-success" />Post Comment</button>
							</p>
							<p class="text-muted">Comments have to be approved before showing up</p>
						</fieldset>
					</form>
				[%/if%]
			</div>
		</div>
	</div>
</section>