<section class="homepage--slider">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="homepage-slider">
					<div class="slider owl-carousel">
					[%if [@config:show_home_ads@]%]
						[%advert type:'text' template:'slick' limit:'10' ad_group:'homepage-slider'%]
							[%param *header%]									
							[%/param%]
							[%param *footer%]												
							[%/param%]
							[%param *ifempty%]
								<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
									Click to add a banner<br/>
								</a>
							[%/param%]
						[%/advert%]
					[%/if%]
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
[%if [@page_content@] %]
<section class="homepage--content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="page--content">[@page_content@]</div>
			</div>
		</div>
	</div>
</section>
[%/if%]
[%advert type:'text' limit:'3' ad_group:'homepage-categories'%]
	[%param *header%]
	<section class="homepage--adds">
		<div class="container">
			<div class="row">
	[%/param%]
	[%param *body%]
		<div class="col-xs-12 col-sm-4">
			<div class="category [% if [@description@]%][@description@][%/if%]">
				<a href="[@url@]" target="[@target@]">
					<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="[@headline@]"/>
					<div class="text">
						[%if [@headline@]%]<h2>[@headline@]</h2>[%/if%]
						<span class="btn [% if [@description@] like 'btn_black' %]btn-black[%/if%]">[@linktext@]</span>
					</div>
				</a>
			</div>
		</div>
	[%/param%]
	[%param *footer%]
				</div>
		</div>
		</section>
	[%/param%]
	[%param *ifempty%]
	[%/param%]
[%/advert%]
[%advert type:'text' template:'custom-dye' limit:'1' ad_group:'Custom Dye Block'%][%/advert%]
[%advert type:'text' limit:'4' ad_group:'Homepage Instagram'%]
	[%param *header%]
	<section class="homepage--instagram">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>@t.w.n.n</h2>
				<ul class="instragram--list list-inline">
	[%/param%]
	[%param *body%]
			<li class="instagram--item [% if [@description@]%][@description@][%/if%]">
				<a href="[@url@]" target="[@target@]">
					<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="[@headline@]"/>					
				</a>
			</li>		
	[%/param%]
	[%param *footer%]
				</ul>
				<a href="http://instagram.com/t.w.n.n" target="_blank" class="btn btn-black">Follow us</a>
			</div>
		</div>
	</div>
	</section>
	[%/param%]
	[%param *ifempty%]
	[%/param%]
[%/advert%]