<div id="category-page">
	<div class="container">
		<div class="category-header-bar">
			<div class="row">
				<div class="col-xs-5">
					[%FILTER ID:'keywords' if:'ne' value:''%]
					<h1>
						Search [@config:website_name@]
					</h1>
					<!--<div class="search-results-search">
						<form class="" name="productsearch" method="get" action="/">
							<input type="hidden" name="rf" value="kw" />
							<div class="input-group">
								<input class="form-control input-lg ajax_search" id="name_search" autocomplete="off" name="kw" value="[%NOHTML%][%FILTER ID:'keywords'/%][%/NOHTML%]" type="search"/>
								<span class="input-group-btn">
									<button type="submit" value="Search" class="btn btn-lg btn-default"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</form>
					</div>-->
				[%/FILTER%]
				[%FILTER ID:'keywords' if:'eq' value:''%]
					<h1>
						[%url_info name:'page_heading' if:'eq' value:''%]
							[%PARAM if_true%]
								[@name@]
							[%/PARAM%]
							[%PARAM if_false%]
								[%url_info name:'page_heading'%][%end url_info%]
							[%/PARAM%]
						[%/url_info%]
						[%DATA ID:'id' if:'eq' value:''%]
							[%FILTER ID:'keywords' if:'ne' value:''%][%NOHTML%][%FILTER ID:'keywords'/%][%/NOHTML%][%/FILTER%]
						[%/DATA%]
					</h1>
				[%/FILTER%]
				</div>
				<div class="col-xs-7 text-right">
					<form method="get" class="form-horizontal" action="[@config:CURRENT_URL@]">
							<input name="rf" type="hidden" value="[%FILTER_CODE%][%/FILTER_CODE%]">
								<select name="sortby" onChange="return this.form.submit();" class="hidden form-control">
									<option value="popular" [%SORTBY type:'products' if:'eq' value:'popular'%]selected[%/SORTBY%]>
										Most Popular
									</option>
									<option value="name" [%SORTBY type:'products' if:'eq' value:'name'%]selected[%/SORTBY%]>
										Name
									</option>
									<option value="lowest_price" [%SORTBY type:'products' if:'eq' value:'lowest_price'%]selected[%/SORTBY%]>
										Lowest Price
									</option>
									<option value="highest_price" [%SORTBY type:'products' if:'eq' value:'highest_price'%]selected[%/SORTBY%]>
										Highest Price
									</option>
								</select>
								<div class="filter-by">
									<button type="button" class="filter-button">Filter <svg class="icon" height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M20 36h8v-4h-8v4zM6 12v4h36v-4H6zm6 14h24v-4H12v4z"/><path d="M0 0h48v48H0z" fill="none"/></svg></button>
								</div>
								<div class="sort-by">
									<div class="sort-by--placeholder">Sort <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
  <path d="M637.929,17.618l-5.39,5.342V11.622a0.628,0.628,0,0,0-1.255,0V22.791l-5.22-5.173a0.632,0.632,0,0,0-.888,0,0.618,0.618,0,0,0,0,.88l6.377,6.319a0.63,0.63,0,0,0,.887,0l6.377-6.319a0.618,0.618,0,0,0,0-.88A0.632,0.632,0,0,0,637.929,17.618Z" transform="translate(-625 -11)"></path>
</svg></div>
									<ul class="sort-by--options">
										<li data-value="popular" [%SORTBY type:'products' if:'eq' value:'popular'%]class="selected"[%/SORTBY%]>Most Popular</li>
										<li data-value="name" [%SORTBY type:'products' if:'eq' value:'name'%]class="selected"[%/SORTBY%]>Name</li>
										<li data-value="lowest_price" [%SORTBY type:'products' if:'eq' value:'lowest_price'%]class="selected"[%/SORTBY%]>Lowest Price</li>
										<li data-value="highest_price" [%SORTBY type:'products' if:'eq' value:'highest_price'%]class="selected"[%/SORTBY%]>Highest Price</li>
									</ul>
								</div>
						</form>
				</div><!-- ./col-xs-6 -->
			</div><!-- ./row -->
		</div><!-- ./category-header-bar -->
		<div class="row">
		[%SET [@page_type@]='category'/%]
		[%load_template file:'cms/includes/sidebar.template.html'/%]
		<div class="col-xs-12 col-sm-9">
		[%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
		[%FILTER ID:'keywords' if:'ne' value:' '%]
			[%THUMB_LIST type:'products' limit:'[@config:THUMB_LIMIT@]'%]
			[%PARAM template%][%VIEWBY type:'products' default:'[@templatethumb@]'%][%/VIEWBY%][%/PARAM%]
			[%PARAM *header%]
			<div class="[%VIEWBY type:'products' if:'eq' value:'list' if_true:'thumb_list' if_false:'thumb'%][%/VIEWBY%]">
				<div class="product-list">
				[%/PARAM%]
				[%PARAM *footer%]
				</div>
			</div>
			[%IF [@total_results@] > [@config:thumb_limit@]%]
				<div class="row">
					<div class="col-xs-12">
						<hr />
						<div class="text-center">
							<ul class="pagination">
								[%paging limit:'3'%]
									[%PARAM *previous_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-left"></i></a></li>[%/PARAM%]
									[%PARAM *goback_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
									[%PARAM *current_page%]<li class="active"><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
									[%PARAM *gonext_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
									[%PARAM *next_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-right"></i></a></li>[%/PARAM%]
								[%/paging%]
							</ul>
						</div>
						<hr />
					</div>
				</div>
			[%/IF%]
			[%/PARAM%]
			[%PARAM *ifempty%]
				<div class="row">
					<div class="col-xs-12">
						<p>This category is empty! Please try another category or use our search function to find what you are looking for. If you require further assistance please contact us.</p>
					</div>
				</div>
			[%/PARAM%]
		[%/THUMB_LIST%]
		[%/FILTER%]			
		[%/if%]		
		</div>
	</div>
</div>