[%load_template file:'printdocs/includes/styles.template.html'/%]
[%picking_list order_id:'[@form:id@]' orders:'[@form:orders@]' orderlines:'[@form:ols@]' id_type:'[@form:use@]'	warehouse_id:'[@form:warehouse_id@]' process_id:'[@form:pid@]' page_width:'[@form:page_width@]' admin_name:'[@form:admin_name@]' no_item_split:'[@config:PICKING_SLIP_NO_ITEM_SPLIT@]' sortby:'pick_zone'%]
[%param *header%]
<div class="container">
[%/param%]
[%param *page_header%]
	[%if [@count@] > 0 %]
		<hr class="pagebreak">
	[%/if%]
	<div style="width:[@page_width@];">
[%/param%]
[%param *order_header%]
<div class="order_id">
	<div class="row">
		<div class="col-xs-7">
			[%if [@process_id@] > 0%]
				<h1>Bulk process <span class="text-success">#[@process_id@]</span> <img class="barcode" src="[%BARCODE_URL fn:'code128' barcode:'[@process_id@]' height:'35' /%]"></h1>
			[%/if%]
			<h1>Picking Slip for <span class="text-success">#[%nohtml%][@order_id@][%/nohtml%]</span></h1>
			<h2>
				Customer: [%nohtml%][@ship_first_name@] [@ship_last_name@] [%/nohtml%]
				[%if [@ship_company@] ne ''%]<i class="text-muted">([@ship_company@])</i>[%/if%]
			</h2>
			[%if [@date_required@] ne '0000-00-00 00:00:00'%]
				<h3>Date Required:[@date_required@][%format type:'date' default:'' format:'#D/#M/#Y #H:#I (#w)'%][@date_required@][%/format%]</h3>
			[%/if%]
			[%if [@customer_po@] ne ''%]
				<h3>Purchase Order Number: [%nohtml%][@customer_po@][%/nohtml%]</h3>
			[%/if%]
			<p>Printed by <strong>[%nohtml%][@admin_name@][%/nohtml%]</strong>, <i>[%format type:'date' format:'#D/#M/#Y #H:#I'%]NOW[%/format%]</i></p>
		</div>
		<div class="col-xs-5">
			<div class="panel panel-default panel-margin-top">
				<div class="panel-body">
					[%if [@ship_company@]%]
						<p>[%nohtml%][@ship_company@][%/nohtml%]</p>
					[%/if%]
					<p>[%nohtml%][@ship_street1@] [@ship_street2@][%/nohtml%]</p>
					<p>[%nohtml%][@ship_city@][%/nohtml%]</p>
					<p>[%nohtml%][@ship_state@] [@ship_zip@], [@ship_country@][%/nohtml%]</p>
					<p>Shipping With: [%nohtml%][@shipping_method@][%/nohtml%]</p>
					<p>Estimated Shipping Weight: [@weight@]KG</p>
					[%if [@internal_notes@] ne ''%]
						<p>Internal Order Notes: [%nohtml%][@internal_notes@][%/nohtml%]</p>
					[%/if%]
					[%if [@special@] ne ''%]
						<p>Customer Instructions: [%nohtml%][@special@][%/nohtml%]</p>
					[%/if%]
				</div>
			</div>
		</div>
	</div>
</div>
<table class="table table-striped table-condensed table-bordered">
	<thead>
		<tr>
			<th>Image</th>
			<th>QTY</th>
			<th>SKU</th>
			<th>Location</th>
			<th>Item</th>
			<th>QTY picked</th>
			<th>Pick Task</th>
			<th>Unit</th>
			<th>Picked</th>
			<th>Pick Bin</th>
			<th>Checked</th>
		</tr>
	</thead>
	<tbody>
[%/param%]
[%param *order_body%]
		<tr>
			<td><img class="img-small-thumb" src="[%asset_url type:'item' id:'[@SKU@]' thumb:'thumb' /%]"></td>
			<td>[@quantity@]</td>
			<td>[%nohtml%][@sku@][%/nohtml%]</td>
			<td>
				[%if [@pick_zone@]%]<p><strong>[%nohtml%][@pick_zone@][%/nohtml%]</strong></p>[%/if%]
				<p>[@location@]</p>
			</td>
			<td>
				[%if [@brand@]%]<p><i>[%nohtml%][@brand@][%/nohtml%]</i></p>[%/if%]
				<p>[%nohtml%][@model@][%/nohtml%]</p>
				[%if [@extra@] ne ''%]
				<p><i>([%nohtml%][@full_extra@][%/nohtml%])</i></p>
				[%/if%]
				[%if [@config:PICKSLIP_SHOW_INTERNALNOTE@] AND [@internal_notes@] ne '' %]
				<p><i>[%nohtml%][@internal_notes@][%/nohtml%]</i></p>
				[%/if%]
			</td>
			<td>[@pick_qty@]</td>
			<td><strong><span class="[%if [@warehouse_quantity@] < 1%]text-danger[%/if%]">[@pick_task@]</span></strong></td>
			<td>[@item_unit@]</td>
			<td><i class="fa fa-square-o fa-2x"></i></td>
			<td >[%nohtml%][@bin_location@][%/nohtml%]</td>
			<td><i class="fa fa-square-o fa-2x"></i></td>
		</tr>
[%/param%]
[%param *order_footer%]
</tbody>
</table>
[%/param%]
[%param *component_header%]
<h4>Items That Require Assembly</h4>
<table class="table table-bordered table-condensed">
	<tr>
		<th>Image</th>
		[%if [@no_item_split@]%]
		<th>Qty Ordered</th>
		[%/if%]
		<th>SKU</th>
		<th>Location</th>
		<th>Item</th>
		<th>Picked To Date</th>
		<th>Assemble Task</th>
		<th>Unit</th>
		<th>Assembled</th>
		<th>Checked</th>
	</tr>
[%/param%]
[%param *component_body%]
	<tr>
		<td><img class="img-small-thumb" src="[%ASSET_URL type:'item' id:'[@SKU@]' thumb:'thumb' /%]"></td>
		[%if [@no_item_split@]%]
		<td>[@quantity@]</td>
		[%/if%]
		<td>[%nohtml%][@SKU@][%/nohtml%]</td>
		<td>[%nohtml%][@pick_zone@][%/nohtml%]</td>
		<td>
			[%if [@brand@]%]<p><i>[%nohtml%][@brand@][%/nohtml%]</i></p>[%/if%]
			<p>[%nohtml%][@model@][%/nohtml%]</p>
			[%if [@extra@] ne ''%]
			<p><i>([%nohtml%][@full_extra@][%/nohtml%])</i></p>
			[%/if%]
			[%if [@config:PICKSLIP_SHOW_INTERNALNOTE@] AND [@internal_notes@] ne '' %]
			<p><i>[%nohtml%][@internal_notes@][%/nohtml%]</i></p>
			[%/if%]
		</td>
		<td>[@pick_qty@]</td>
		<td>[@pick_task@]</td>
		<td>[@item_unit@]</td>
		<td><i class="fa fa-square-o fa-2x"></i></td>
		<td><i class="fa fa-square-o fa-2x"></i></td>
	</tr>
[%/param%]
[%param *component_sub_header%]
	<tr>
		<td class="info" colspan="10"><strong>[@sku@] components : </strong></td>
	</tr>
				<tr>
					<th>Image</th>
					[%if [@no_item_split@]%]<th>Qty Ordered</th>[%/if%]
					<th>SKU</th>
					<th>Location</th>
					<th colspan="2">Item</th>
					<th>Picked To Date</th>
					<th>Assemble Task</th>
					<th>Unit</th>
					<th>Picked</th>
				</tr>
		[%/param%]
		[%param *component_sub_body%]
				<tr>
					<td><img class="img-small-thumb" src="[%ASSET_URL type:'item' id:'[@SKU@]' thumb:'thumb'/%]"></td>
					[%if [@no_item_split@]%]<td>[@quantity@]</td>[%/if%]
					<td>[%nohtml%][@SKU@][%/nohtml%]</td>
					<td>[%if [@pick_zone@]%]<p><strong>[%nohtml%][@pick_zone@][%/nohtml%]</strong></p>[%/if%]<p>[@location@]</p></td>
					<td colspan="2">
						[%if [@brand@]%]<p><i>[%nohtml%][@brand@][%/nohtml%]</i></p>[%/if%]
						<p>[%nohtml%][@model@][%/nohtml%]</p>
						[%if [@extra@] ne ''%]
						<p><i>([%nohtml%][@full_extra@][%/nohtml%])</i></p>
						[%/if%]
						[%if [@config:PICKSLIP_SHOW_INTERNALNOTE@] AND [@internal_notes@] ne '' %]
						<p><i>[%nohtml%][@internal_notes@][%/nohtml%]</i></p>
						[%/if%]
					</td>
					<td>[@pick_qty@]</td>
					<td>[@pick_task@]</td>
					<td>[@item_unit@]</td>
					<td><i class="fa fa-square-o fa-2x"></i></td>
				</tr>
				[%/param%]
			[%param *component_sub_footer%]
		[%/param%]
[%param *component_footer%]
</table>
[%/param%]
[%param *page_footer%]
			<table class="table table-bordered">
				<tr>
					<th>No. Cartons</th>
					<th>Length</th>
					<th>Width </th>
					<th>Height</th>
					<th>Weight</th>
					<th>Shipping Method</th>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
	<div class="row">
		<div class="col-xs-4">
			<p class="underline-field">Picked By:</p>
		</div>
		<div class="col-xs-4">
			<p class="underline-field">Checked By:</p>
		</div>
	</div>
</div>
[%/param%]
[%param *footer%]
</div>
[%/param%]
[%/picking_list%]
