[%load_template file:'printdocs/includes/styles.template.html'/%]
<div class="text-center">
	<p>
		<small>
			[@SKU@]
		</small>
	</p>
	<img src="[%barcode_url fn:'' height:'[@label_height@]' sku:'[@SKU@]'/%]"/>
</div>
