.cart--page{
	padding-bottom: 70px;
	h1{
		text-transform: uppercase;
	}
	.cart-qty{
		max-width: 120px;
		height: 40px;
	}
	.img-responsive{
		min-width: 30px;
		max-height: 50px;
	}
	.cartTable{
		td{
			vertical-align: middle;
		}
	}
	.table--action {
		padding-left: 20px;
	}
	.subform-td{
		@media (max-width: $screen-xs-max){
			display: block;
			margin-bottom: 5px;
			padding: 0;
			width: 100% !important;
		}
	}
	.postcode-form{
		padding-top: 0;
		visibility: hidden;
		height: 0;
		opacity: 0;
		@include transition(visibility 0s linear, height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out);
		&.open{
			height: auto;
			@include transition(visibility 0.3s linear, height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out);
			opacity: 1;
			visibility: visible;
		}
	}
	.shipping-methods{
		.label-block{
			width: 100%;
			input{
				margin-right: 10px;
				margin-top: 0;
			}
			h4{
				vertical-align: middle;
				font-size: 16px;
				font-weight: normal;
				margin: 0;
			}
		}
	}
	.btn-change-postcode{
		font-size: 12px;
    padding-bottom: 5px;
    line-height: 1;
    height: auto;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
	}
}