#category-page{
	background: white;
	color: black;
	padding: rem(15) 0 0;
	@media (min-width: $screen-sm){
		padding: rem(15) 0 rem(80);
	}
	.category-header-bar{
		padding-top: rem(10);
		border-bottom: 1px solid #b5b5b5;
		padding-bottom: rem(10);
		margin-bottom: rem(25);
	}
	h1{
		font-size: rem(16);
		letter-spacing: -0.02;
		color: #bfbfbf;
		margin: 0;
		line-height: 1;
		font-weight: 400;
	}
	.product-list{
		@include clearfix();
		margin: 0 -15px;		
	}
	.filter-by{
		display: inline-block;
		text-transform: uppercase;
		margin-right: em(10);
		.icon{
			fill: $main-black;
			margin-left: em(10);
	    height: 20px;
    	width: 20px;
    	vertical-align: top;
    	position: relative;
    	top: 1px;
		}
		@media (min-width: $screen-sm){
			display: none;
		}
	}		
	.filter-button{
		text-transform: uppercase;
  	background: none;
    border: none;	
    padding: 0;
		@include appearance(none);
	}
	.ui-slider-horizontal{
    @include border-radius(15px);
    box-shadow: none;
    background: black;
    border: none;
    height: 4px;
    top: 4px;
    margin: 10px 12px 22px;
    .ui-slider-range{
    	background: $purple;
    }
    .ui-slider-handle{
			top: -8px;
	    border-radius: 50%;
	    background: $purple;
	    border: none;
    }
	}

}
#left-sidebar{
	.btn-close{
		display: none;
	}
	@media (max-width: $screen-xs-max){
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 30px;
		background: white;
		z-index: 10;
		overflow: auto;
		@include transition(left 0.3s ease-out);
		&.active{
			left: 0;
		}
		.btn-close{
			display: block;
	    position: absolute;
	    right: 20px;
	    top: 20px;
	    border: none;
	    margin: 0;
	    background: none;
	    padding: 0;
			.icon{
				width: 30px;
				height: 30px;
				fill: black;
				line-height: 1;
				display: block;
			}
		}
	}
}