.contact--page{
	padding: em(40) 0;
	.container{
		max-width: em(1000);
		line-height: em(24,17);
	}
	.content, form{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.content{
		@media (min-width: $screen-sm){
			padding-top: 284px;
		}
	}
	.form-group {
		@media (min-width: $screen-sm){
			max-width: em(285);
		}
	}
	.box{
		background: $secondary-black;
		padding: 0 em(30);
	}
	.description{
		margin-bottom: em(35);
		p{
	    margin-bottom: em(30);
		}
		&:after{
			display: block;
			content: " ";
			width: em(100);
			height: 4px;
			background: white;
		}
	}
	h1{
		font-size: em(45);
		line-height: em(48,45);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: em(20,45);
	}
	h2{
		font-size: em(30);
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: em(40,30);
	}
	h3{
		font-size: em(17);
		margin-top: 0;
		text-transform: uppercase;
	}
	h4{
		font-size: em(17);
		line-height: em(24,17);
		letter-spacing: 0;
		font-weight: 300;
		max-width: em(280,17);
		margin-bottom: rem(30);
		&:after{
			margin-top: rem(30);
			width: rem(100);
			height: 4px;
			background: white;
			display: block;
			content: " ";			
		}
	}
}