.custom-dye--page{
	.content-intro{
		margin-top: 0;
	}
}
.custom-dye-swatches{
	background: $main-black;
	padding: 50px 0 65px;
	@media (max-width: $screen-sm-max){
		.container{
			width: auto;
			padding: 0;
		}
	}
	h3{
		text-transform: uppercase;
		font-size: 30px;
		margin-bottom: 40px;
	}
	.image{
		background: none !important;
	}
}