.page--content{
	overflow: hidden;
	.content{
		padding: em(60) 0;
	}
	h1{
		font-size: em(45);
		line-height: em(45,45);
		text-transform: uppercase;
	}
	h2{
		font-size: em(32);
		line-height: em(32,32);
		text-transform: uppercase;
	}
	.content-intro{
		margin-top: rem(35);
		display: block;
		font-weight: 300;
		font-size: rem(17);
		line-height: rem(24);
		margin-bottom: rem(40);
		&:after{
			width: rem(100);
			height: 4px;
			background: white;
			display: block;
			content: " ";
		}
	}
	.content-intro--text{
		margin-bottom: rem(24);
	}	
}
.page--images{
	@include clearfix();
	position: relative;
}
.page-image--holder{
	overflow: hidden;
}
.page-images--secondary{
	  position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    overflow: hidden;
    @media (min-width: $screen-sm){
    	right: 71%;
    }
    img{
    	max-width: none;
    }
}
.page-images--main{
	position: relative;
	padding-top: em(55);
	width: 65%;
	float: right;
	margin-right: 5%;
	@media (min-width: $screen-sm){
		width: 90%;
		margin-right: em(50);
	}
}