.homepage--content {
  background: white;
  padding: 60px 0;
  text-align: center;
  color: black
}
.homepage--adds{
  padding-bottom: em(50);
  h2{
    color: black;
    font-weight: 700;
    font-size: rem(30);
    margin: 0;
    margin-bottom: rem(20);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .white{
    h2{
      color: white;
    }
  }
  .category{
    img{
      display: block;
    }
    @media (max-width: $screen-sm-max){
      margin-bottom: 15px;
    }
  }
}
.homepage--custom-dye {
  text-align: center;
  padding: em(60) em(20);
  color: white;
  background-image: url(../img/custom-dye-bg.jpg);
  background-size: cover;
  @media (min-width: $screen-sm){
    padding: em(160) em(20) em(130);
  }
  .btn{
    margin-top: rem(35);
  }
}
.homepage--custom-dye-container{
  @media (max-width: $screen-sm){
    width: auto;
    padding: 0;
  }
}
.homepage-custom-dye--content{
  max-width: rem(544);
  margin: 0 auto;
  font-size: rem(17);
  font-weight: 300;
  line-height: rem(24);
  h2{
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-bottom: rem(20);
  }
}
.homepage--instagram{
  background: white;
  padding: em(30) 0;
  color: black;
  h2{
    margin-top: 0;
    margin-bottom: em(30,20);
    font-size: em(20);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
.instragram--list{
  @include clearfix();
  margin: 0;
  margin-bottom: em(30);
}
.instagram--item{
  width: 50%;
  padding: 0 !important;
  margin: 0;
  float: left;
  @media (min-width: $screen-sm){
    width: 50%;
  }
  @media (min-width: $screen-md){
    width: 25%;
  }
  a, img{
    display: block;
  }
  a{
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.category a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative
}

.category .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: em(30);
  text-align: center;
}