#customer-login{
	padding: em(40) 0;
	.container{
		max-width: em(1000);
	}
	.form-group {
		max-width: em(285);
	}
	.box{
		background: $secondary-black;
	}
	.description{
		margin-bottom: em(35);
		p{
	    margin-bottom: em(30);
		}
		&:after{
			display: block;
			content: " ";
			width: em(100);
			height: 4px;
			background: white;
		}
	}
	h1{
		font-size: em(45);
		line-height: em(48,45);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: em(20,45);
	}
	h2{
		font-size: em(30);
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: em(40,30);
	}
	label{
		font-size: em(17);
		line-height: em(24,17);
		font-weight: 300;
	}
	.help-block{
		margin-top: 15px;
	}
	.checkbox{
		label{
			position: relative;
			padding-left: 30px;
			&:before{
				content: ' ';
				display: block;
				border: 1px solid white;
				width: 19px;
				height: 19px;
				position: absolute;
				left: 0;
				top: 2px;
			}
			&:after{
				content: ' ';
				display: block;
				position: absolute;
		    	top: 8px;
			    left: 6px;
			    width: 7px;
			    height: 7px;
				//@include border-radius(50%);
				padding: 0;
				background: $link-color;
				opacity: 0;
				@include transform(scale(0));
				@include transition(opacity 0.3s ease-out, transform 0.3s ease-out);
			}
		}
		input{
			display: none;
		}
		input:checked + label{
			&:after{
				opacity: 1;
				@include transform(scale(1));
			}
		}
	}
}
#login, #register{
	padding: em(70) em(30) em(140);
}
#login{
	@media (min-width: $screen-sm){
		padding-left: em(100);
	}
	.description{
		font-size: em(17);
		line-height: em(24,17);
		max-width: em(350,17);
	}
}
#register{
	background: #0e0e0e;
	@media (min-width: $screen-sm){
		padding-left: em(75);
	}
}