#page-with-side-slider{
	padding: rem(80) 0;
	.content{
		padding-top: rem(80);
	}
	h1{
		span{
			margin-top: rem(35);
			display: block;
			font-weight: 300;
			font-size: rem(28);
			line-height: rem(30);
			margin-bottom: rem(40);
		}
		&:after{
			width: rem(100);
			height: 1px;
			background: white;
			display: block;
			content: " ";
		}
	}
	h2{
		font-size: rem(30);
		line-height: rem(40);		
	}
	.main-image{
		position: relative;
		padding-top: rem(180);
	}
	.related-products{
		position: absolute;
		top: 0;
		right: 0;
		width: 62.5%;		
	}
	.slick-arrow{
		svg{
			width: rem(18);
			height: rem(33);
			fill: white;
		}
	}
	.slick-next{
		right: 0;
	}
	.slick-prev{
		left: 0;
	}
	.slider{
		padding: 0 12%;
	}
	.product-slide{
		text-align: center;
		a{
			display: block;
			text-decoration: none;
			position: relative;
		}
		.content{
			padding: 0 10%;
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translateY(-50%));
			width: 100%;
		}
		h3{
			font-size: rem(36);
			line-height: rem(34);
			font-weight: 700;
			margin-bottom: rem(12);
		}
		.link{
			display: inline-block;
			text-transform: uppercase;
			font-size: rem(15);
			line-height: rem(40);
			border: none;
			background: white;
			color: black;
			font-weight: 700;
			height: rem(40);
			padding: 0 rem(40);
		}
	}
}