#n_product{
	.npopup{
		background: $main-black;
		padding: em(30);
		border: none;
		z-index: 10;
		display: none;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
		.image{
			float: left;
			margin-right: 10px;
		}
		.description{
			clear: right;
		}
		.body{
			@include clearfix();
		}
		.footer{
			padding: 0 20px;
		}
		.btn{
			width: 100%;
			margin-bottom: 5px;			
		}
	}
	.successaddmessage{
		max-width: 400px;
		margin: 0 auto;
	}
}
.product-availability{
  display: inline-block;
  margin-left: 10px;
  color: #999999;
}
.product-information{
	background: white;
	color: black;
	.product-images{
		position: relative;
		@media (min-width: $screen-sm){
			float: left;
			width: 60%;			
		}
		@media (min-width: $screen-md){
			width: 39.6%;
		}
		&:after{
			content: " ";
			display: block;
			@media (min-width: $screen-sm){
				padding-bottom: 125.53%;
			}
		}
		.product-images--wrap{
			@media (min-width: $screen-sm){
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
	}
	
	}
	.product--thumbs{
		text-align: center;
		@media (min-width: $screen-sm){
			position: absolute;
			top: 50%;
			right: 0;
			@include transform(translateX(50%) translateY(-50%));
			z-index: 1;
		}
		.thumb{
			display: inline-block;
			cursor: pointer;
			border: 1px solid #b7b7b7;
			margin: 15px 4px 0;	
			width: rem(44);
			@media (min-width: $screen-sm){
				display: block;
				margin: 0;
				margin-bottom: 4px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.product-details{
		padding: 50px 8.4% 100px;
		@media (min-width: $screen-sm){
			padding: 100px 8.4%;
			padding-right: 0;
			float: left;
			width: 40%;
		}
		@media (min-width: $screen-md){
			width: 60.4%;
			padding: 100px 8.4%;	
		}
	}
	.wrapper-pricing{
		font-size: rem(18);
		font-weight: 600;
		margin-bottom: rem(20);
	}
	.title{
		@media (min-width: $screen-md){
			float: left;
			width: 50%;
			padding-right: 20px;
		}
	}
	.options{
		padding-bottom: 20px;
		@media (min-width: $screen-md){
		float: right;
		width: 50%;
		}
	}
	.description{
		@media (min-width: $screen-md){
		float: left;
		width: 50%;
		padding-right: rem(30);}
	}
	h1{
		font-weight: 600;
		font-size: rem(40);
		letter-spacing: 0.05em;
		margin-top: 0;
		line-height: 1;
		text-transform: uppercase;
	}
	h2{
		margin-top: 0;
		font-weight: 600;
		font-size: rem(16);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		line-height: 1;
		&.style-2{
			text-transform: none;
		}
	}
	.specific{
		margin-bottom: rem(20);
	}
	.quantity{
		margin-bottom: rem(20);
	}
	input.qty{
		box-shadow: none;
		display: inline-block;
		@include border-radius(0);
		width: rem(68);
		border: 1px solid #bcbcbc;
		height: rem(36);
		line-height: rem(34);
	}
	.option-text{
		text-decoration: none;
		display: inline-block;
		@include border-radius(50%);
		width: rem(35);
		height: rem(35);
		vertical-align: middle;
		margin-right: rem(10);
		position: relative;
		background: black;
		color: white;
		text-align: center;
		line-height: rem(35);
		font-size: rem(14);
		margin-bottom: rem(10);
		@include transition(color 0.3s ease-out, background 0.3s ease-out);
		&._itmspec_selected{
			background: $purple;
			color: white;
		}
	}
}
.modal-size-chart {
	.modal-content {
		background-color: white;
		color: black;
	}
	img {
		width: auto !important;
		height: auto !important;
	}
	.table {
		color: black;
		background-color: transparent;
		th {
			text-align: center;
		}
		td, th {
			border: 1px solid black;
			padding: 5px;
		}
	}
}
section.most-popular{
	padding: rem(45) 0;
	text-align: center;
	h3{
		margin-bottom: rem(40);
		font-size: rem(30);
	}
}
section.recently-viewed{
	padding: rem(45) 0;
	background: white;
	color: black;
	text-align: center;
	h3{
		margin-bottom: rem(40);
		font-size: rem(30);
	}
	ul{
		padding: 0;
		margin: 0;
	}
	li{
		width: rem(200);
		display: inline-block;
		padding: 0;
	}
	.product{
		display: block;
		width: 100%;
		padding: 0 1px;
	}
}