[%load_template file:'printdocs/includes/styles.template.html'/%]
<div class="label5x13A4">
	<p>
		<small>
			[%if [@upc@]%]
				[@upc@]
			[%else%]
				[@sku@]
			[%/if%]
		</small>
	</p>
	<img src="[%BARCODE_URL fn:'' height:'[@label_height@]' sku:'[@SKU@]' upc:'[@upc@]' scale:'[@scale@]'/%]"/>
</div>
