[%load_template file:"cart/cart.error.html"/%]
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Your Shopping Cart Is Empty!</h1><br />
			<p>
				<a class="btn btn-white" href="[@config:homeurl@]"><i class="fa fa-home icon-white"></i> Click here to start shopping!</a>
			</p>
		</div>
	</div>
</div>

