
<div class="container">
<div class="row">
<div class="col-xs-12">
	[%load_template file:"cart/cart.error.html"%][%/load_template%]
	[%if [@config:checkout_upsell_extra@]%]
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>Before you checkout...</h1>
				</div>
			</div>
		</div>
		<form method="post" enctype="multipart/form-data" action="[%url page:'checkout'/%]" id="upsellcartform">
			<input type="hidden" name="fn" id="fn" value="payment">
			<input type="hidden" name="upsell" value="y">
			<div id="productoptions">
				[%cart_items splititems:'y'%]
					[%param header%]
						[%set [@data:total_cart_items@]%][@total_items@][%/set%]
					[%/param%]
					[%param hidden%]
						<input type="hidden" name="line[@line@]" id="line[@line@]" value="[@counter@]" />
					[%/param%]
					[%param *body%]
						<input type="hidden" name="line[@line@]" id="line[@line@]" value="[@counter@]">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12"><h3>#[@item_count@] &nbsp; [@model@]</h3></div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-4">
										<img src="[@thumb@]" align="left" alt="[@model@]" border="0">
									</div>
									<div class="options-form-container col-xs-12 col-sm-8">
										[%extra_options id:'[@SKU@]' currentextra:'[@currentextras@]'%]
											[%PARAM *header%]
												<table class="productoptions table table-striped table-bordered" border="0" cellspacing="0" cellpadding="4">
											[%/PARAM%]
											[%PARAM *number_option%]
												<tr>
													<td valign="top"><span id="exname[@line@]_[@count@]">[@name@]</span>:</td>
													<td valign="top" width="70%"><input type="text" class="form-control" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]" value="[@currentextra@]"></td>
												</tr>
											[%/PARAM%]
											[%PARAM *text_option%]
												<tr>
													<td valign="top"><span id="exname[@line@]_[@count@]">[@name@]</span>:</td>
													<td valign="top" width="70%">
														[%if [@length@] > '100'%]
															<textarea class="inputtext form-control" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]" max="[@length@]" cols="20">[@currentextra@]</textarea>
														[%else%]
															<input type="text" class="form-control" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]" max="[@length@]" value="[@currentextra@]">
														[%/if%]
													</td>
												</tr>
											[%/PARAM%]
											[%PARAM *select_option%]
												<tr>
													<td><span id="exname[@line@]_[@count@]">[@name@]</span>:</td>
													<td width="70%">
														<select class="extrasel form-control" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]">
															[@choices@]
														</select>
													</td>
												</tr>
											[%/PARAM%]
											[%PARAM *choices%]
												<option type="text" value="[@option_id@]" [%if [@option_id@] eq [@currentextra@]%]selected[%/if%]>
													[%nohtml%][@text@][%/nohtml%]
													[%if [@price@] ne '0'%]([%format type:'currency'%][@price@][%/format%])[%/if%]
												</option>
											[%/PARAM%]
											[%PARAM *footer%]
												</table>
												<input type="hidden" name="extras[@line@]" id="extras[@line@]" value="[@total_options@]">
											[%/PARAM%]
										[%/extra_options%]
									</div>
								</div>
							</div>
						</div>
					[%/PARAM%]
					[%PARAM footer%]
					[%/PARAM%]
				[%/cart_items%]
			</div>
			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4 col-md-offset-8">
					<input type="hidden" id="continue_to_payment" name="continue_to_payment" value="1">
					<input class="submit_btn btn btn-success btn-lg btn-block" type="submit" value="Continue To Checkout">
				</div>
			</div>
		</form>
	[%else%]
		[%upsell_products type:'cart_upsell' limit:'8' template:'' show_all:'1'%]
			[%param header%]
				<div class="row">
					<div class="col-xs-12">
						<div class="page-header">
							<h1>Before you checkout, we thought you might like these:</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-4 col-md-offset-8">
						<a href="[%url page:'checkout' fn:'[@form:fn@]'/%]" class="btn btn-success btn-lg btn-block" title="Continue To Checkout">Continue To Checkout <i class="fa fa-chevron-right icon-white"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr>
					</div>
				</div>
				<div class="row">
			[%/param%]
			[%param footer%]
				</div>
			[%/param%]
		[%/upsell_products%]
		<div class="row">
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-8">
				<a href="[%url page:'checkout' fn:'[@form:fn@]'/%]" class="btn btn-success btn-lg btn-block" title="Continue To Checkout">Continue To Checkout <i class="fa fa-chevron-right icon-white"></i></a>
			</div>
		</div>
	[%/if%]
	[%ga_funnel%]/purchase/upsell.html[%/ga_funnel%]
</div>
</div>	
</div>	