<!--[SUBJECT:[$COMPANY_NAME$] Batch Job Error (#[@proc_id@])]-->
<!--[FROM:[$company_email$]]-->
<!--[TO:]-->
<hr size="1">
<h1>Batch Job Error / Warning</h1>
<p>
An error occured when processing the following [$company_name$] batch job:
</p>
<p>
[@proc_name@] #[@proc_id@]
</p> 
<p>This batch job was started on [%FORMAT type:'date' now:'1' format:'#d #k #Y (#H:#I:#S)'%][@proc_init_date@][%END FORMAT%].
</p>
<p>
You may view this batch job error here:<br />
<a href="[$securecgiurl$]/suppliers/index.cgi?item=proclog&limitpid=^[@proc_id@]">
[$securecgiurl$]/suppliers/index.cgi?item=proclog&limitpid=^[@proc_id@]
</a>
</p>
<p>
Or you can view all batch job history here:<br>
<a href="[$securecgiurl$]/suppliers/index.cgi?item=procmgr">[$securecgiurl$]/suppliers/index.cgi?item=procmgr</a>
</p>
<p>
[%DATA id:'error' if:'ne' value:''%]
Error:<br />
[@error@]<br />
<br />
[%END DATA%]
Message:<br />
[@message@]<br />
<br />
[%DATA id:'warning' if:'ne' value:''%]
Warning:<br />
[@warning@]<br />
<br />
[%END DATA%]
</p>