<!--[SUBJECT:[@send_from_company@] Customer Statement]-->
<!--[FROM:[@send_from_email@]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
<style>
    td { font-size: 12px; }
</style>
Dear [@username@],
<p>
Please find below and attached your current statement for [@send_from_company@].[@date_start@],[@date_finish@]
</p>
<table style="table-layout: fixed; width: 750px;" border=0 cellpadding=0 cellspacing=0>
[%customer_statement customer:'[@username@]' date_start:'[@date_start@]' date_finish:'[@date_finish@]'%]
[%PARAM *header%]
<tr>
	<Td align=left valign=top>[@bill_first_name@] [@bill_last_name@]<br>
	[@bill_street1@]<br>
	[%IF [@bill_street22]!=''%][@bill_street2@]<Br>[%END IF%]
	[@bill_city@]<br>
	[@bill_state@], [@bill_zip@]<br>
	<br>
	Account: [@username@]<br>
	</td>
	<td align=right valign=top>
	<h2><b>[$COMPANY_NAME$]</b></h2><br>
	<br>
	Statement From: [@date_start@]<br>
	Statement To: [@date_finish@]<br>
	</td>
</tr><tr>
<td colspan=2>
	<table border=0 cellpadding=5 cellspacing=0 style="table-layout: fixed; width: 750px;">
		<tr>
			<td align=left valign=top style="border-top: 1px solid #333333; border-bottom: 1px solid #333333; " width="12%"><b>Date</b></td>
			<td align=left valign=top style="border-top: 1px solid #333333; border-bottom: 1px solid #333333; " width="12%"><b>Reference</b></td>
			<td align=left valign=top style="border-top: 1px solid #333333; border-bottom: 1px solid #333333; " width="10%"><b>Type</b></td>
			<td align=left valign=top style="border-top: 1px solid #333333; border-bottom: 1px solid #333333; " ><b>Description</b></td>
			<td align=left valign=top style="border-top: 1px solid #333333; border-bottom: 1px solid #333333; " width="10%"><b>Debit</b></td>
			<td align=left valign=top style="border-top: 1px solid #333333; border-bottom: 1px solid #333333; " width="10%"><b>Credit</b></td>
			<td align=left valign=top style="border-top: 1px solid #333333; border-bottom: 1px solid #333333; " width="10%"><b>Balance</b></td>
		</tr>
		<tr>
			<td align=left valign=top >[@date_start@]</td>
			<td align=left valign=top >&nbsp;</td>
			<td align=left valign=top >&nbsp;</td>
			<td align=left valign=top >Opening Balance</td>
			<td align=left valign=top >&nbsp;</td>
			<td align=left valign=top >&nbsp;</td>
			<td align=left valign=top >[%format type:"currency"%][@starting_balance@][%END format%]</td>
		</tr>
[%END PARAM%]

[%PARAM *body%]
		<tr>
			<td align=left valign=top >[@date_trans@]</td>
			<td align=left valign=top >[%IF [@customer_po@]!=''%][@customer_po@][%ELSE%][@order_id@][%END IF%]</td>
			<td align=left valign=top >[@trans_type@]</td>
			<td align=left valign=top >[@memo@]</td>
			<td align=left valign=top >[%IF [@debit@]eq'y'%][%format type:"currency"%][@amount@][%END format%][%ELSE%]&nbsp;[%END IF%]</td>
			<td align=left valign=top >[%IF [@credit@]eq'y'%][%format type:"currency"%][@amount@][%END format%][%ELSE%]&nbsp;[%END IF%]</td>
			<td align=left valign=top >[%format type:"currency"%][@line_balance@][%END format%]</td>
		</tr>
[%END PARAM%]
	</table>
	</td>
</tr><tr>
	<td colspan=2>

<table>
[%PARAM *footer%]
</table>
 </td></tr>
 <tr><td  colspan="2">
<br />
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="0" > 
	<tr>
	<td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>CURRENT</b></td>
  	<td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>[@first_term_day@] DAYS</b></td>
  	<td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>[@second_term_day@] DAYS</b></td>
    <td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>[@third_term_day@]+ DAYS</b></td>
    <td style="border-top: 1px solid #333333; color:#CC0000; border-bottom: 1px solid #333333;"><b>AMOUNT DUE</b></td>
   </tr>
<tr>
	<td nowrap>[%format type:"currency"%][@current_overdue_amt@][%END format%]</td>
	<td nowrap>[%format type:"currency"%][@first_overdue_amt@][%END format%]</td>
	<td nowrap>[%format type:"currency"%][@second_overdue_amt@][%END format%]</td>
	<td nowrap>[%format type:"currency"%][@third_overdue_amt@][%END format%]</td>
	<td nowrap style="color:#CC0000;">[%format type:"currency"%][@total_due@][%END format%]</td>
</tr>
  </table></td>
 </tr>
[%END PARAM%]
[%END customer_statement%]   
</table>
</td>
</tr>
</table>


