<div class="container">
	<div class="row">
		
<div class="col-xs-12">
<ul class="breadcrumb">
<li><a href="[@config:home_url@]">Home</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
<li><a href="#">Resolution Centre</a></li>
</ul>


<h1>Resolution Centre</h1>
<div class="box">
<h2>Warranty, Payment &amp; Return Disputes</h2>
<br/>
<p>Dispute #[@dispute_id@] has been updated.</p>
<br/>
<button type="button" class="btn btn-purple" onClick="window.location.replace('[%URL page:account type:warranty id:[@dispute_id@]%][%END URL%]');">Done</button>
<script language="javascript" type="text/javascript">
setTimeout("window.location.replace('[%URL page:account type:warranty id:[@dispute_id@]%][%END URL%]')",1000);
</script>
</div>
<br/><br/>
</div>

	</div>
</div>