<div class="container">
	<div class="row">
		
<div class="col-xs-12">
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<li><a href="[%URL page:'account'/%]">My Account</a></li>
		<li><a href="#">Resolution Centre</a></li>
	</ul>
	<div class="page-header">
		<h1>Resolution Centre</h1>
	</div>
	<div class="box">
		<h2>Step 1 - Choose the type of dispute you would like to raise</h2>
		[%if [@error@]%]
			<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>[@error@]</div>
		[%/if%]
		<form name="disputeForm" action="[%url page:'account' type:'warranty' fn:'create'/%]" method="post">
			[%dispute_types%]
				[%PARAM header%]
					<div class="row">
						<input type="hidden" name="step" value="reason">
				[%END PARAM%]
				[%PARAM *body%]
					<div class="col-xs-12 col-md-6">
						<div class="well">
							<div class="radio">
								<input type="radio" name="type" value="[@dispute_type_id@]" id="[@dispute_type_id@]" [%if [@type@] eq [@dispute_type_id@]%]checked[%/if%]><label for="[@dispute_type_id@]"> <h4>[@dispute_type_title@]</h4>[%if [@dispute_type_title@] eq 'Item dispute'%]<p>I did not receive an item I purchased, or not the one I ordered or significantly different than what was described.</p>[%else%]<p>[@description@]</p>[%/if%]</label>
							</div>
						</div>
					</div>
				[%END PARAM%]
				[%PARAM *footer%]
					</div>
				[%END PARAM%]
			[%END dispute_types%]
			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
			</div>
			<div class="row btn-stack">
				<div class="col-xs-12 col-md-3">
					<a href="[%url page:'account' type:'warranty'/%]" class="btn btn-danger btn-block" value="Cancel"><i class="fa fa-remove icon-white"></i> Cancel</a>
				</div>
				<div class="col-xs-12 col-md-3 col-md-offset-6">
					<button type="submit" class="btn btn-block btn-purple">Continue to Next Step</button>
				</div>
			</div>
		</form>
	</div>
	<br/>
	<br/>
</div>

	</div>
</div>