<section class="customer">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
	<h1>Logged Out - [@config:company_name@]</h1>
	<p>You have been successfully logged out of your account.</p>
	<p>
		<a class="btn btn-lg" href="[%url page:'account' type:'login'%][%END url%]" >
		<i class="fa fa-user"></i> Click here to login again
		</a>
	</p>
</div>
	</div>
</div>

</section>