<section class="customer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!--# Start Breadcrumb# ##-->
				<ul class="breadcrumb">
					<li><a href="[@config:home_url@]">Home</a></li>
					<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
				</ul>
				<!--# End Breadcrumb# ##-->
				<div class="page-header">
					<h1>Account Summary</h1>
					<p><strong>Welcome [@bill_first_name@] [@bill_last_name@] <!--##[%data id:'bill_company' if:'ne' value:''%]##--> - [@bill_company@]<!--##[%END data%]##--></strong> (<a href="[%url page:'account' type:'logout'%][%end url%]">log out</a>)</p>
					<!--##[%USER id:'credit_limit' if:'>' value:'0'%]##-->
					<p>Credit Limit:<b> <!--##[%format type:"currency"%]##-->[@credit_limit@]<!--##[%END format%]##--></b></p>
					<!--##[%END USER%]##-->
					<!--##[%USER id:'credit' if:'>' value:'0'%]##-->
					<p>Available Credit: <b><!--##[%FORMAT type:'currency'%]##-->[@credit@]<!--##[%END FORMAT%]##--></b></p>
					<!--##[%END USER%]##-->
				</div>
			</div>
			<!--##[%user id:'email' if:'eq' value:'0'%]##-->
			<div class="col-xs-12">
				<div class="alert alert-danger"> <a class="close" data-dismiss="alert">×</a> You are required to enter My email address in order to order from our web site and receive our email notifications. <br />
				<a href="[%URL page:'account' type:'edit_account'%][%END URL%]">Click here</a> to enter My email address. </div>
			</div>
			<!--##[%END user%]##-->
			<!--##[%data id:'unresolve_dispute' if:'>' value:'0'%]##-->
			<div class="col-xs-12">
				<div class="alert alert-warning"> <a class="close" data-dismiss="alert">×</a> You have [@unresolve_dispute@] unresolved dispute(s) your resolution centre.<br />
				<a href="[%URL page:'account' type:'warranty'%][%END URL%]">Click here</a> to view  or close your unresolved disputes. </div>
			</div>
			<!--##[%END data%]##-->
			<!--##[%CONFIG id:'ALLOW_QUOTE_APPROVAL' if:'=' value:'1'%]##-->
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'approve_quote'%][%END URL%]">
					Approve Quotes <span class="small">Manage and approve quotes on account</span>
				</a>
			</div>
			<!--##[%END CONFIG%]##-->
			<!--##[%CONFIG id:'CUSTOMER_VIEW_DOCS' if:'=' value:'1'%]##-->
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'documents'%][%END URL%]">
					My Files <span class="small">View and download your files</span>
				</a>
			</div>
			<!--##[%END CONFIG%]##-->
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'edit_account'%][%END URL%]#contact">
					Edit My Contact Details <span class="small">Change your name, phone number and more</span>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'edit_address'%][%END URL%]">
					Edit My Address Book <span class="small">Change or add your shipping address</span>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'edit_pwd'%][%END URL%]">
					Change My Password <span class="small">Set something you'll remember!</span>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'payrec'%][%END URL%]">
					Pay Invoices Online <span class="small">Pay your outstanding balance</span>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account'%][%END URL%]#orders">
					My Orders <span class="small">View, print and track orders you have placed.</span>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'warranty'%][%END URL%]">
					Resolution Center <span class="small">Return an item, make a warranty claim.</span>
				</a>
			</div>
			<div class="hidden col-xs-12 col-md-4">
				<a class="customer-link"  href="[%URL page:'account' type:'standing_orders'%][%END URL%]">
					My Standing Orders <span class="small">View or edit your recurring orders.</span>
				</a>
			</div>
			<!--
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account'%][%END URL%]#quotes">
					My Quotes <span class="small">View or print any outstanding quotes.</span>
				</a>
			</div>
			[%if [@config:show_wishlist@]%]
			<div class="col-xs-12 col-md-4">
				<a class="customer-link"  href="[%URL page:'account' type:'wishlist'%][%END URL%]">
					My Wishlists <span class="small">View, create or edit your wishlist(s)</span>
				</a>
			</div>
			[%/if%]
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'warranty'%][%END URL%]">
					Resolution Centre <span class="small">Problems with a product or order?</span>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a class="customer-link" href="[%URL page:'account' type:'favourites'%][%END URL%]">
					Reorder Items <span class="small">Reorder from a list of past purchases.</span>
				</a>
			</div>
			-->
			<div class="clear"></div>
			<!--##[%active_vouchers%]
			[%PARAM *header%]##-->
			<hr>
			<div class="col-xs-12">
				<h3>Vouchers / Rewards</h3>
				<table class="table table-bordered table-striped" cellpadding="2" cellspacing="0" width="100%" border="0">
					<thead>
						<tr>
							<th>Description</th>
							<th>Balance</th>
						</tr>
					</thead>
					<tbody>
						<!--##[%END PARAM%][%PARAM *body%]##-->
						<tr>
							<td width="90%"><b>[@vprogram_title@]</b><br />
								<!--##[%DATA id:'vprogram_subtitle' if:'ne' value:''%]##-->[@vprogram_subtitle@]<br />
								<!--##[%END DATA%]##-->([@voucher_code@])</td>
								<td nowrap><!--##[%format type:'currency'%]##-->[@reward_amount@]<!--##[%END format%]##-->
								<!--##[%DATA id:'show_points' if:'==' value:'1'%]##-->
								(<!--##[%format type:'number' dp:'0' sp:','%]##-->[@reward_points@]<!--##[%END format%]##--> pts)
								<!--##[%END DATA%]##--></td>
							</tr>
							<!--##[%END PARAM%][%PARAM *footer%]##-->
						</table>
					</div>
					<!--##[%END PARAM%]
					[%END active_vouchers%]##-->
					<div class="col-xs-12">
						<hr />
						<h3 id="orders">My Orders</h3>
						<!--##[%thumb_list type:'orders' limit:'10'%]##-->
						<!--##[%PARAM filter_1%][%FORM id:'ord'%][%END FORM%][%END PARAM%]##-->
						<!--##[%PARAM header%]##-->
						<div class="row">
							<!--##[%END PARAM%]##-->
							<!--##[%PARAM *body%]##-->
							<div class="col-xs-12 col-md-4">
								<div class="customer-order">
									<p>
										<a href="[%URL page:'account' type:'view_order' id:'[@order_id@]'%][%END URL%]">[@order_id@]</a>
										<span class="label pull-right
											<!--##[%DATA id:'order_status' if:'eq' value:'On Hold'%]##-->label-warning<!--##[%END DATA%]##-->
											<!--##[%DATA id:'order_status' if:'eq' value:'Pick'%]##-->label-info<!--##[%END DATA%]##-->
											<!--##[%DATA id:'order_status' if:'eq' value:'New'%]##-->label-primary<!--##[%END DATA%]##-->
											<!--##[%DATA id:'order_status' if:'eq' value:'Backorder Approved'%]##-->label-warning<!--##[%END DATA%]##-->
											<!--##[%DATA id:'order_status' if:'eq' value:'New Backorder'%]##-->label-warning<!--##[%END DATA%]##-->
											<!--##[%DATA id:'order_status' if:'eq' value:'Pack'%]##-->label-info<!--##[%END DATA%]##-->
											<!--##[%DATA id:'order_status' if:'eq' value:'Dispatched'%]##-->label-success<!--##[%END DATA%]##-->
											">[@order_status@]<!--##[%DATA id:'refund_status' if:'ne' value:''%]##--> ([@refund_status@])<!--##[%END DATA%]##--></span>
										</p>
										<hr>
										<p>Date Placed <b><!--##[%format type:"date" default:"-" format:"#d #k #Y"%]##-->[@date_placed@]<!--##[%END format%]##--></b></p>
										<p>Date Due <b><!--##[%format type:'date' default:'[@date_due_text@]' format:'#d #k #Y'%]##-->[@date_due@]<!--##[%END format%]##--></b></p>
										<p>Amount Owed <b><!--##[%format type:"currency"%]##-->[@amount_owed@]<!--##[%END format%]##--></b>
										<!--##[%DATA id:'amount_owed' if:'<' value:'0'%]##--><span class="label label-success">Paid in Full</span><!--##[%END DATA%]##--></p>
										<div class="row btn-stack">
											<div class="col-xs-12 col-md-4">
												<button type="button" class="btn btn-block btn-white" onclick="window.location='[%URL page:'account' type:'track_order' id:'[@order_id@]'%][%END URL%]'"><i class="fa fa-road icon-white"></i> Track</button>
											</div>
											<!--##[%DATA id:'amount_owed' if:'>' value:'0'%]##-->
											<div class="col-xs-12 col-md-4">
												<button class="btn btn-block btn-white" onclick="location.href='[%URL page:'account' type:'pay_order' qs:'action=paynow' id:'[@order_id@]'%][%END URL%]'"><i class="fa fa-check icon-white"></i> Pay</button>
											</div>
											<!--##[%END DATA%]##-->
											<div class="col-xs-12 col-md-4">
												<button type="button" class="btn btn-default btn-block btn-white" onclick="window.location='[%URL page:'account' type:'print'%][%END URL%]/invoice/[@order_id@]'"><i class="fa fa-print"></i> Print</button>
											</div>
										</div>
									</div>
								</div>
								<!--##[%END PARAM%]##-->
								<!--##[%PARAM *footer%]##-->
							</div>
							<div class="clear"></div>
							<!--##[%DATA ID:'total_results' if:'>' value:'[@config:thumb_limit@]'%][%PARAM *if_true%]##-->
							<!--#Start Pagination# ##-->
							<div class="text-center">
								<ul class="pagination">
									<!--##[%paging limit:'3'%]
									[%PARAM *previous_page%]##-->
									<li><a href="[@URL@]">Previous Page</a></li>
									<!--##[%END PARAM%]
									[%PARAM *goback_pages%]##-->
									<li><a href="[@URL@]">[@PAGE@]</a></li>
									<!--##[%END PARAM%]
									[%PARAM *current_page%]##-->
									<li class="active"><a href="[@URL@]">[@PAGE@]</a></li>
									<!--##[%END PARAM%]
									[%PARAM *gonext_pages%]##-->
									<li><a href="[@URL@]">[@PAGE@]</a></li>
									<!--##[%END PARAM%]
									[%PARAM *next_page%]##-->
									<li><a href="[@URL@]">Next Page</a></li>
									<!--##[%END PARAM%]
									[%END paging%]##-->
								</ul>
							</div>
							<!--#End Pagination# ##-->
							<!--##[%END PARAM%][%end DATA%] ##-->
							<!--##[%END PARAM%]##-->
							<!--##[%PARAM ifempty%]##-->
							<p>No orders have been placed on this account. </p>
							<!--##[%END PARAM%]##-->
							<!--##[%END thumb_list%]##-->
				</div>
			</div>
		</div>
	</div>
</section>