<!--##[%show_order id:'[@order_id@]' customer:'[@username@]' hidechild:'1'%][%PARAM *header%]##-->
<table width="700" border="0" align="center" cellpadding="0" cellspacing="4">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0">
	<tr><td valign="bottom"><img src="[%ASSET_URL type:'logo' thumb:'pdf'/%]" border="0"></td></tr>
	<tr><td valign="top" align="left"><font size="1">ABN [$COMPANY_ABN$]
<!--##[%CONFIG id:'COMPANY_ACN' if:'ne' value:''%]##-->&nbsp; ACN [$COMPANY_ACN$]<!--##[%END CONFIG%]##--></font></td>
</tr>
<!--##[%CONFIG id:'LOGO_FOOTER' if:'ne' value:''%]##-->
<tr><td><font size="1">[$LOGO_FOOTER$]</font></td></tr>
<!--##[%END CONFIG%]##-->
</table></td>
<td align="right"><font size="5" face="Arial, Helvetica, sans-serif"><strong>Quote</strong></font>
<table width="100%" border="0" cellpadding="2" cellspacing="0">
	<tr><td align="right"><font size="2" face="Arial, Helvetica, sans-serif"><b>QUOTE #: <!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##-->
		<!--##[%DATA id:'customer_po' if:'ne' value:''%]##-->&nbsp;PO#: <!--##[%NOHTML%]##-->[@customer_po@]<!--##[%END NOHTML%]##--><!--##[%END DATA%]##--></b></font></td></tr>
	<tr><td align="right"><font size="2" face="Arial, Helvetica, sans-serif"><b>Date Quoted:
		<!--##[%format type:"date" format:"#D/#M/#Y #H:#I"%]##-->[@date_placed@]<!--##[%END format%]##--></b></font></td></tr>
</table></td></tr>
<tr><td width="50%" valign="top" ><table width="100%" border="0" align="center" cellpadding="0" cellspacing="2">
<tr><td><b>SHIP TO:</b></td></tr>
<tr><td valign="top"><!--##[%NOHTML%]##-->[@ship_first_name@] [@ship_last_name@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'ship_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_city@], [@ship_state_full@] [@ship_zip@]<!--##[%END NOHTML%]##--><br>
<!--##[%NOHTML%]##-->[@ship_country_full@]<!--##[%END NOHTML%]##--><br>
Tel: <!--##[%NOHTML%]##-->[@ship_phone@]<!--##[%END NOHTML%]##-->
</td></tr>
<tr><td>
<!--##[%DATA id:'ship_comment' if:'ne' value:''%][%NOHTML%]##--><b>Instructions:</b>[@ship_comment@]<!--##[%END NOHTML%][%END DATA%]##-->
<!--##[%DATA id:'ship_comment' if:'eq' value:''%]##--><!--##[%END DATA%]##--></td>
</tr></table></td>
    <td width="50%" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="2">
<tr><td><strong>SOLD TO:</strong></td></tr>
<tr><td valign="top">
<!--##[%NOHTML%]##-->[@bill_first_name@] [@bill_last_name@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'bill_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'bill_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_city@], [@bill_state_full@] [@bill_zip@]<!--##[%END NOHTML%]##--><br>
<!--##[%NOHTML%]##-->[@bill_country_full@]<!--##[%END NOHTML%]##--><br>
Tel: <!--##[%NOHTML%]##-->[@bill_phone@]<!--##[%END NOHTML%]##--><br />
E-Mail: <!--##[%NOHTML%]##-->[@email@]<!--##[%END NOHTML%]##--></td></tr>
	</table></td></tr>
</table>
<hr size="1" >
<font size="1">
<table align="center" border="0" cellpadding="2" cellspacing="0" width="700" style="font-size:11px">
  <tr>
    <td width="32"><strong>QTY</strong></td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td width="32" nowrap><strong>UNIT</strong></td>
<!--##[%END CONFIG%]##-->
    <td width="70"><strong>CODE</strong></td>
    <td><strong>NAME</strong></td>
    <td width="91" nowrap><strong>UNIT PRICE</strong></td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
    <td width="92"><strong>DISCOUNTS</strong></td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
    <td width="62"><strong>TAX</strong></td>
<!--##[%END CONFIG%]##-->
    <td width="92"><strong>SUBTOTAL</strong></td>
  </tr>
<!--##[%END PARAM%][%PARAM *body%]##-->
	<tr>
    <td valign="top">[@qty@]</td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td align="center" nowrap valign="top">[@unit@]&nbsp;</td>
<!--##[%END CONFIG%]##-->
    <td valign="top">[@SKU@]</td>
    <td valign="top">[@model@] <i>[@extra@]</i>
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_EBAY_ID$]' %]##-->&nbsp; <b>EBay ID: [@aff_ref@]</b><!--##[%END DATA%]##-->
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_FREE_ID$]' %]##-->&nbsp; <b>Free Gift</b><!--##[%END DATA%]##-->
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_RENTAL_ID$]' %]##-->&nbsp; <b>(Rental)</b><!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_SERIAL' if:'==' value:'1'%][%DATA id:'itm_serial' if:'ne' value:'' %]##--><br /><b>Serial # [@itm_serial@]</b><!--##[%END DATA%][%END CONFIG%]##-->
<!--##[%FORMAT type:'date' default:''%][%PARAM *format%]##--><br><b>Deliver On</b> #D/#M/#Y (#G:#I#a)<!--##[%END PARAM%][@date_delivery@][%END FORMAT%]##-->
<!--##[%CONFIG id:'INVOICE_SH_NOTE' if:'==' value:'1'%][%DATA id:'itemnotes' if:'ne' value:'' %]##--><pre style="padding:0; margin:0;"><font style="font-size:10px" face="Arial, Helvetica, sans-serif"><i><!--##[%FORMAT type:'text' nohtml:'1' addbr:'y'%]##-->[@itemnotes@]<!--##[%END FORMAT%]##--></i></font></pre><!--##[%END DATA%][%END CONFIG%]##-->
		</td>
    <td align="right" valign="top"><!--##[%format type:'currency'%]##-->[@price@]<!--##[%END format%]##--></td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
    <td align="right" valign="top"><!--##[%format type:'currency'%]##-->[@discount@]<!--##[%END format%]##--></td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
    <td align="right" valign="top"><!--##[%format type:'percent' dp:'2'%]##-->[@tax_percent@]<!--##[%END format%]##--></td>
<!--##[%END CONFIG%]##-->
    <td align="right" valign="top"><!--##[%format type:'currency'%]##-->[@subtotal@]<!--##[%END format%]##--></td>
	</tr>
	<!--##[%multi_item_pack id:'[@order_id@]' counter:'[@counter@]'%][%PARAM *header%]##-->
<tr>
	<td>&nbsp;</td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
	<td>&nbsp;</td>
	<td><table border="0" cellpadding="1" cellspacing="0" width="100%" style="font-size:10px;">
	<!--##[%END PARAM%][%PARAM *body%]##-->
	<tr><td width="1%" nowrap valign="top">[@quantity@] x</td><td>[@description@]</td></tr>
	<!--##[%END PARAM%][%PARAM *footer%]##-->
	</table></td>
	<td>&nbsp;</td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
	<td>&nbsp;</td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
	<td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
	<td>&nbsp;</td>
</tr>
	<!--##[%END PARAM%][%END multi_item_pack%]##-->
<!--##[%END PARAM%][%PARAM *footer%]##-->
	<tr>
    <td>&nbsp;</td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
    <td>&nbsp;</td>
  </tr>
</table>
</font>
<hr size="1" >
<font size="1">
<table width="700" align="center" cellpadding="0" cellspacing="0" border="0">
	<tr>
<td width="50%">&nbsp;</td>
<td width="50%" valign="top">
<table width="350" align="center" cellpadding="0" cellspacing="2" border="0" style="font-size:11px">
  <tr><td width="68%" align="right" nowrap>Shipped Via:</td>
    <td width="32%" align="right" nowrap>[@shipping_method@]</td></tr>
</table>
<table width="350" align="center" cellpadding="0" cellspacing="2" border="0" style="font-size:11px">
<!--##[%DATA id:'shipping_quote' if:'=' value:'1' %]
	[%PARAM if_true%]##-->
<tr><td width="68%" align="right" nowrap>Shipping Cost:</td>
	<td width="32%" align="right" nowrap>P.O.A.</td></tr>
	<!--##[%END PARAM%]
	[%PARAM if_false%]##-->
<tr><td width="68%" align="right" nowrap>Shipping Cost:</td>
	<td width="32%" align="right" nowrap><!--##[%format type:'currency'%]##-->[@shipping_total@]<!--##[%END format%]##--></td></tr>
	<!--##[%DATA id:'shipping_discount' if:'>' value:'0' %]##-->
<tr><td width="68%" align="right" nowrap>Shipping Discount:</td>
	<td width="32%" align="right" nowrap>-<!--##[%format type:'currency'%]##-->[@shipping_discount@]<!--##[%END format%]##--></td></tr>
	<!--##[%END DATA%]##-->
<!--##[%END PARAM%]
[%END DATA%]##-->
</table>
<br >
<table width="350" border="0" align="center" cellpadding="2" cellspacing="0" style="font-size:11px">
  <tr>
    <td align="right" width="68%">Product Subtotal:</td>
    <td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@product_total@]<!--##[%END format%]##--></td>
  </tr>
<!--##[%DATA id:'shipping_quote' if:'=' value:'0' %]##-->
  <tr>
    <td align="right" width="68%">Shipping Subtotal:</td>
    <td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@shipping_total@]<!--##[%END format%]##--></td>
  </tr>
<!--##[%END DATA%]##-->
<!--##[%DATA id:'discount_total' if:'>' value:'0' %]##-->
<tr>
	<td align="right" width="68%">Discount:</td>
	<td align="right" width="32%">-<!--##[%format type:'currency'%]##-->[@discount_total@]<!--##[%END format%]##--></td>
</tr>
<!--##[%END DATA%]##-->
<!--##[%DATA id:'surcharge_total' if:'>' value:'0' %]##-->
<tr>
	<td align="right" width="68%">Surcharge (<!--##[%format type:'percent' dc:'2'%]##-->[@surcharge_percent@]<!--##[%END format%]##-->):</td>
	<td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@surcharge_total@]<!--##[%END format%]##--></td>
</tr>
<!--##[%END DATA%]##-->
<!--##[%DATA id:'notax' if:'=' value:'0' %]##-->
<tr><td align="right" width="68%">GST<!--##[%DATA id:'tax_inc' if:'eq' value:'y' %]##--> Inc<!--##[%END DATA%]##-->:</td>
	<td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@tax_total@]<!--##[%END format%]##--></td></tr>
<!--##[%END DATA%]##-->
  <tr>
    <td align="right" width="68%"><b>Grand Total:</b></td>
    <td align="right" width="32%"><b><!--##[%format type:'currency'%]##-->[@grand_total@]<!--##[%END format%]##--></b></td>
  </tr>
</table>
	</td></tr>
</table>
</font>
<hr size="1" >
	<!--##[%order_payment_history id:'[@order_id@]'%][%PARAM *header%]##-->
<table width="700" align="center" cellpadding="0" cellspacing="2" border="0">
  <tr><td><b>PAYMENT HISTORY</b></td></tr>
</table>
<font size="1">
<table align="center" border="0" cellpadding="2" cellspacing="0" width="700" style="font-size:11px">
	<tr>
		<td width="120"><strong>DATE</strong></td>
		<td><strong>PAYMENT METHOD</strong></td>
		<td width="92"><strong>AMOUNT</strong></td>
	</tr>
	<!--##[%END PARAM%][%PARAM *body%]##-->
<tr>
	<td><!--##[%format type:"date" format:"#D/#M/#Y #H:#I"%]##-->[@date_paid@]<!--##[%END format%]##--></td>
	<td align="right">[@payment_name@]</td>
	<td align="right"><!--##[%format type:'currency'%]##-->[@payment_amount@]<!--##[%END format%]##--></td>
</tr>
	<!--##[%END PARAM%][%PARAM *footer%]##-->
	<tr>
		<td colspan="2" align="right"><b>Amount Paid:</b></td>
		<td align="right"><b><!--##[%format type:'currency'%]##-->[@amount_paid@]<!--##[%END format%]##--></b></td>
	</tr>
</table>
</font>
<hr size="1" >
	<!--##[%END PARAM%][%END order_payment_history%]##-->
	<!--##[%backorder_items id:'[@order_id@]'%][%PARAM *header%]##-->
<table width="700" align="center" cellpadding="0" cellspacing="2" border="0">
  <tr><td><b>ITEMS ON BACKORDER</b></td></tr>
</table>
<font size="1">
<table align="center" border="0" cellpadding="2" cellspacing="0" width="700" style="font-size:11px">
  <tr>
    <td width="32"><strong>QTY</strong></td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td width="32" nowrap><strong>UNIT</strong></td>
<!--##[%END CONFIG%]##-->
    <td width="70"><strong>CODE</strong></td>
    <td><strong>NAME</strong></td>
    <td width="91" nowrap><strong>UNIT PRICE</strong></td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
    <td width="92"><strong>DISCOUNTS</strong></td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
    <td width="62"><strong>TAX</strong></td>
<!--##[%END CONFIG%]##-->
    <td width="92"><strong>SUBTOTAL</strong></td>
  </tr>
	<!--##[%END PARAM%][%PARAM *body%]##-->
	<tr>
    <td valign="top">[@qty@]</td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td align="center" nowrap valign="top">[@unit@]&nbsp;</td>
<!--##[%END CONFIG%]##-->
    <td valign="top">[@SKU@]</td>
    <td valign="top">[@model@] <i>[@extra@]</i>
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_EBAY_ID$]' %]##-->&nbsp; <b>(EBay ID: [@aff_ref@])</b><!--##[%END DATA%]##-->
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_FREE_ID$]' %]##-->&nbsp; <b>(Free Gift)</b><!--##[%END DATA%]##-->
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_RENTAL_ID$]' %]##-->&nbsp; <b>(Rental)</b><!--##[%END DATA%]##-->
		</td>
    <td align="right" valign="top"><!--##[%format type:'currency'%]##-->[@price@]<!--##[%END format%]##--></td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
    <td align="right" valign="top"><!--##[%format type:'currency'%]##-->-[@discount@]<!--##[%END format%]##--></td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
    <td align="right" valign="top"><!--##[%format type:'percent' dp:'2'%]##-->[@tax_percent@]<!--##[%END format%]##--></td>
<!--##[%END CONFIG%]##-->
    <td align="right" valign="top"><!--##[%format type:'currency'%]##-->[@subtotal@]<!--##[%END format%]##--></td>
	</tr>
	<!--##[%multi_item_pack id:'[@order_id@]' counter:'[@counter@]'%][%PARAM *header%]##-->
<tr>
	<td>&nbsp;</td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
	<td>&nbsp;</td>
	<td><table border="0" cellpadding="1" cellspacing="0" width="100%" style="font-size:10px;">
	<!--##[%END PARAM%][%PARAM *body%]##-->
	<tr><td width="1%" nowrap valign="top">[@quantity@] x</td><td>[@description@]</td></tr>
	<!--##[%END PARAM%][%PARAM *footer%]##-->
	</table></td>
	<td>&nbsp;</td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
	<td>&nbsp;</td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
	<td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
	<td>&nbsp;</td>
</tr>
	<!--##[%END PARAM%][%END multi_item_pack%]##-->
	<!--##[%END PARAM%][%PARAM *footer%]##-->
	<tr>
    <td>&nbsp;</td>
<!--##[%CONFIG id:'INVOICE_SH_UNIT' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
<!--##[%DATA id:'has_product_discounts' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END DATA%]##-->
<!--##[%CONFIG id:'INVOICE_SH_TAX' if:'==' value:'1' %]##-->
    <td>&nbsp;</td>
<!--##[%END CONFIG%]##-->
    <td>&nbsp;</td>
  </tr>
</table>
</font>
<hr size="1" >
	<!--##[%END PARAM%][%END backorder_items%]##-->
<table width="700" align="center" cellpadding="0" cellspacing="2" border="0">
  <tr><td width="50%" valign="top">
<!--##[%payment_methods charge_type:'cc' sortby:'sortorder,name' visible:'1'%]
[%PARAM *header%]##-->
<table width="325px" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top">
<b>PAYMENT OPTIONS &amp; INSTRUCTIONS</b><br />
<font size="1">
<br />
<b>Credit Card</b>
<br>
<!--##[%END PARAM%]
[%PARAM *body%][%DATA id:'count' if:'!=' value:'0'%]##-->,<!--##[%END DATA%]##--> [@name@]<!--##[%END PARAM%]
[%PARAM *footer%]##-->
[$CC_PAYMENT_NOTE$]
</font>
</td></tr></table>
<!--##[%END PARAM%]
[%END payment_methods%]##-->

<!--##[%DATA id:'bpay_crn' if:'ne' value:''%]##-->
	<!--##[%payment_methods charge_type:'bpay' visible:'1'%]
	[%PARAM *header%]##-->
<table width="325px" cellpadding="0" cellspacing="0" border="0" style="font-size:11px"><tr><td valign="top">
<font size="1">
<br />
<b>Telephone & Internet Banking - BPAY</b>
<br>
</font>
	<!--##[%END PARAM%]
	[%PARAM *body%]##-->
<table cellpadding="2" cellspacing="0" border="0"><tr>
<td valign="top">
<table width="100%" border="1" cellpadding="0" cellspacing="0" height="65px">
  <tr>
    <td><img src="[$homeurl$]/[$imageurl$]/BPAY.gif"></td>
  </tr>
</table>
</td>
<td valign="top">
<table width="100%" border="1" cellpadding="8px" cellspacing="0" height="69px">
  <tr>
    <td>
Biller Code: [$BPAY_BILLER_CODE$]<br>
Ref: [@bpay_crn@]</td>
  </tr>
</table>
</td></tr></table>
	<!--##[%END PARAM%]
	[%PARAM *footer%]##-->
<font size="1">
Contact your bank, credit union or building sociey to make this payment from your
cheque, savings or credit card account. More info: www.bpay.com.au
</font>
</td></tr></table>
	<!--##[%END PARAM%]
	[%END payment_methods%]##-->
<!--##[%END DATA%]##-->
</td><td width="50%" valign="top">
<!--##[%payment_methods charge_type:'bank' sortby:'sortorder,name'%]
	[%PARAM *header%]##-->
<table width="325px" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top">
<font size="1"><b>Direct Bank Deposit or Internet Transfer</b><br>
Send To: [%NOHTML%][$COMPANY_BANK_ACC$][%END NOHTML%]<br>
[%NOHTML%][$COMPANY_BANK_NAME$][%END NOHTML%]<br>
BSB: [$COMPANY_BANK_BSB$] &nbsp; Ac/No. [$COMPANY_BANK_NUM$]<br>
<br />
<b>Money Order or Cheque</b><br>
Send To: [%NOHTML%][$COMPANY_POADDR$][%END NOHTML%]<br>
	<!--##[%END PARAM%]
	[%PARAM *footer%]##-->
<br />
[$BANK_PAYMENT_NOTE$]
</font>
</td></tr></table>
	<!--##[%END PARAM%]
[%END payment_methods%]##-->
</td></tr>
</table>
<hr size="1"/>
   <!--##[%CONFIG id:'QUOTE_FOOTER' if:'ne' value:''%]##-->
  <table align="center" border="0" cellpadding="0" cellspacing="4" width="700">
    <tr><td>[$QUOTE_FOOTER$]</td></tr>
    </table>
  <!--##[%END CONFIG%]##-->
<!--##[%END PARAM%]##-->
<!--##[%END show_order%]##-->