[%load_template file:'printdocs/includes/styles.template.html'/%]
[%proposal_msg proposal_id:'[@proposal_id@]' id:'[@pmsg_id@]'%]
	[%param *header%]
	<h1>[@pmsg_subject@]</h1>
	[%/param%]
	[%param *body%]
		<div>
			[@pmsg_body@]
		</div>
		[%proposal_filelist proposal_id:'[@proposal_id@]' id:'[@pmsg_id@]'%]
		[%param *header%]
			<hr>
			<h4>Attachments</h4>
		[%/param%]
		[%param *body%]
			<p><a href="[@config:homeurl@][@file_url@]">[@config:homeurl@][@file_url@]</a></p>
		[%/param%]
		[%param *footer%]
		[%/param%]
		[%/proposal_filelist%]
	[%/param%]
	[%param *footer%]
	[%/param%]
[%/proposal_msg%]
