<!--[SUBJECT:[@send_from_company@] Order Receipt #[@order_id@]]-->
<!--[FROM:[@send_from_email@]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
Dear [@bill_first_name@],
<p>
Thank you for shopping with [@send_from_company@].
</p>
<p>
[%data id:'username' if:'ne' value:''%]
To track the progress of this and other orders online please go to <a href="[%URL page:'account'%][%/URL%]">your account</a> and select the order you want to track.
[%/data %]

[%data  id:'username' if:'eq' value:''%]
To track the progress of your order online please <a href="[%URL page:'account' type:'nr_track_order' id:'[@order_id@]'%][%PARAM qs%]email=[%ENCODEURI%][@email@][%/ENCODEURI%]&zip=[@ship_zip@][%/PARAM%][%/URL%]">click here.</a>
[%/data%]
</p>
