<!--[SUBJECT:[$COMPANY_NAME$] Payment Details Export File]-->
<!--[FROM:]-->
<!--[TO:[@export_email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
Hi,<br />

<p>Please find attached a batch payment details file that contains a list of payments.</p>

<p>If you are having trouble downloading or printing this payment file please contact us immediately.</p>

<p><b>Our Contact Details:</b><br />
[$company_name$]<br />
Email: [$company_email$]<br />
Phone: [$company_phone$]<br />
</p>

<p>
Regards,<br />
[$company_name$]<br />
[$homeurl$]
</p> 