<!--[SUBJECT:[$COMPANY_NAME$] Back In Stock Notification]-->
<!--[FROM:[@CONFIG:COMPANY_EMAIL@]]-->
<!--[TO:[@email@]]-->
<!--[BCC:]-->
Dear [@full_name@],
<p>
<a href="[%URL type:'product' id:'[@sku@]' /%]">[@model@]</a> is back in stock at [$home_url$]. <a href="[%URL type:'product' id:'[@sku@]' /%]">Click here</a> to view this product.</p>
</p>
<p>
You are receiving this email because you requested to be advised when the above item returned to stock.
</p>
<p>
Regards<br>
[$COMPANY_NAME$]
</p>