[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
	[%PARAM *header%]
	<div class="product--images-slide owl-carousel">
			<div class="slide">
			<meta property="og:image" content="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%END asset_url%]"/>
			<div class="zoom">
				<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%END asset_url%]" class="hidden">
				<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%END asset_url%]" rel="itmimg[@SKU@]" alt="[@name@]" border="0" id="main-image" itemprop="image">
			</div>
		</div>
	[%END PARAM%]
	[%PARAM *footer%]
	</div>
	[%END PARAM%]
	[%PARAM *body%]
		<div class="slide">
			<meta property="og:image" content="[@full_image@]"/>
			<div class="zoom">
				<img src="[@full_image@]" class="hidden">
				<img src="[@full_image@]" rel="itmimg[@SKU@]" alt="[@name@]" border="0" itemprop="image">
			</div>
		</div>
	[%END PARAM%]
[%END THUMBNAILS%]
[%set [@slide@]%]0[%/set%]
[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
	[%PARAM *header%]
	<div class="product--thumbs">
		<div class="thumb" data-slide="0">
				<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumb' check_parent:'y'%][%END asset_url%]" border="0" class="img-responsive product-image-small" title="Large View">	
		</div>
	[%END PARAM%]
	[%PARAM *footer%]
	</div>
	[%END PARAM%]
	[%PARAM *body%]
		[%set [@slide@]%]
			[%calc [@count@] + 1 /%]
		[%/set%]
		<div class="thumb" data-slide="[@slide@]">
				<img src="[@thumb_image@]" border="0" class="img-responsive product-image-small" title="Large View">			
		</div>
	[%END PARAM%]
[%END THUMBNAILS%]