<!--[BCC:]-->
<!--[TO:[@email@]]-->
<!--[FROM:[$company_email$]]-->
<!--[SUBJECT:eBay Order #[@ebay_order_id@] Tracking Details]-->

<p>Thank you for ordering from [$company_name$]'s eBay store. Your eBay order ID is [@ebay_order_id@] and your [$company_name$] order ID is [@order_id@].</p>

<p>
So that you can track the progress of your order in our system we have created a username and password for you:
</p>

<p>
Username: [@username@]<br />
Password: [@password@]
</p>

<p>
To login go to <a href="[%URL page:'account'%][%END URL%]">[%URL page:'account'%][%END URL%]</a>.
</p>

<p>
Thank you for your order.
</p>
