<div class="container">
<div class="row">
<div class="col-xs-12">

<script language="javascript" type="text/javascript">
function print_quote() {
	var win = window.open('[%URL page:"account" type:"print" fn:"invoice" id:"[@order_id@]"%][%END URL%]', 'print_invoice', 'width=740,height=400,scrollbars=yes,resizeable=yes');
}
</script>

<!--# Start Breadcrumb# ##-->
<ul class="breadcrumb">
<li><a href="[@config:home_url@]">Home</a></li>
<li><span class="divider">/</span> <a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
<li><span class="divider">/</span> <a href="[%URL page:'account' type:'approve_quote'%][%END URL%]">Approve Quotes</a></li>
</ul>
<!--# End Breadcrumb# ##-->

<div class="page-header">
<h1>Dismiss Quote</h1>
</div>

<div>
<input class="btn pull-right" type="button" value="Print Quote" onClick="print_quote()">
<form name="dismissForm" method="post" action="[%URL page:'account' type:'approve_quote'  id:'[@order_id@]' fn:'confirm'%][%END URL%]">
<input type="hidden" name="order_email" value="[@order_email@]" />
<input type="hidden" name="action"value="dismiss" />
<label>Dismissal Reason</label>
<textarea name="comment" cols="20" rows="4" placeholder="Enter your dismissal reasons here">[@comment@]</textarea>
<div class="clear"></div>

<button onclick="document.dismissForm.submit();" class="btn btn-success">Confirm &amp; Dismiss Quote</button>


</form>
</div>

<!--##[%print_order id:'[@order_id@]'%][%END print_order%]##-->
</div>
</div>
</div>