<div class="container">
<div class="row">
<div class="col-xs-12">
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
		<li><a href="[%URL page:'account' type:'approve_quote'%][%END URL%]">Approve Quotes</a></li>
	</ul>
	<h1>Dismiss Quote</h1>
	<p>Your quote [@order_id@] has been dismissed. No further action is required.</p>
</div>
</div>
</div>