<!--[SUBJECT:[$COMPANY_NAME$] Drop Ship Supplier Password Changed]--> <!--[TO:[@EMAIL@]]--> <!--[FROM:[$COMPANY_EMAIL$]]--> <!--[BCC:]--><br />
<br />
Hi,<br />
<br />
You requested a retrieval of your password for [$COMPANY_NAME$] on [%FORMAT type:'date' now:'1' format:'#d #k #Y (#H:#I:#S)'%][%END FORMAT%].<br />
<br />
For security purposes, we have generated you a new password.<br />
<br />
Below is your new password.<br />
<br />
Password: [@PASSWORD@]&nbsp;<br />
<br />
Thank you,<br />
[$website_name$]