<!--##[%show_rma id:'[@rma_id@]' customer:'[@username@]'%][%PARAM *header%]##-->
<table width="700" border="0" align="center" cellpadding="0" cellspacing="4">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0">
	<tr><td valign="bottom"><img src="[%ASSET_URL type:'logo' thumb:'pdf'/%]" border="0"></td></tr>
	<tr>
	  <td valign="top" align="left"><font size="1">ABN: [$COMPANY_ABN$]
<!--##[%CONFIG id:'COMPANY_ACN' if:'ne' value:''%]##-->&nbsp; ACN: [$COMPANY_ACN$]<!--##[%END CONFIG%]##--></font></td>
</tr>
<!--##[%CONFIG id:'LOGO_FOOTER' if:'ne' value:''%]##-->
<tr><td><font size="1">[$LOGO_FOOTER$]</font></td></tr>
<!--##[%END CONFIG%]##-->
</table></td>
<td align="right"><font size="5" face="Arial, Helvetica, sans-serif"><strong>Adjustment Note</strong></font>
<table width="100%" border="0" cellpadding="2" cellspacing="0">
	<tr><td align="right"><font size="2" face="Arial, Helvetica, sans-serif"><b>INVOICE #: <!--##[%NOHTML%]##-->[@invoice_id@]<!--##[%END NOHTML%]##-->
		&nbsp;RMA#: <!--##[%NOHTML%]##-->[@rma_id@]<!--##[%END NOHTML%]##--></b></font></td></tr>
	<tr><td align="right"><font size="2" face="Arial, Helvetica, sans-serif"><b>ORDER #: <!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##-->
		<!--##[%DATA id:'customer_po' if:'ne' value:''%]##-->&nbsp;PO#: <!--##[%NOHTML%]##-->[@customer_po@]<!--##[%END NOHTML%]##--><!--##[%END DATA%]##--></b></font></td></tr>
	<tr><td align="right"><font size="2" face="Arial, Helvetica, sans-serif"><b>Date Issued:
		<!--##[%format type:"date"%]##-->[@date_issued@]<!--##[%END format%]##--></b></font></td></tr>
<!--##[%DATA id:'rma_status' if:'eq' value:'Closed'%]##-->
	<tr><td align="right"><font size="2" face="Arial, Helvetica, sans-serif"><b>Date Approved:
		<!--##[%format type:"date"%]##-->[@date_approved@]<!--##[%END format%]##--></b></font></td></tr>
<!--##[%END DATA%]##-->
</table></td></tr>
<tr><td width="50%" valign="top" ><table width="100%" border="0" align="center" cellpadding="0" cellspacing="2">
<tr><td><b>SHIP TO:</b></td></tr>
<tr><td valign="top"><!--##[%NOHTML%]##-->[@ship_first_name@] [@ship_last_name@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'ship_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_city@], [@ship_state@] [@ship_zip@]<!--##[%END NOHTML%]##--><br>
<!--##[%NOHTML%]##-->[@ship_country_name@]<!--##[%END NOHTML%]##--><br>
Tel: <!--##[%NOHTML%]##-->[@ship_phone@]<!--##[%END NOHTML%]##-->
</td></tr>
</table></td>
    <td width="50%" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="2">
<tr><td><strong>SOLD TO:</strong></td></tr>
<tr><td valign="top">
<!--##[%NOHTML%]##-->[@bill_first_name@] [@bill_last_name@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'bill_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'bill_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_city@], [@bill_state@] [@bill_zip@]<!--##[%END NOHTML%]##--><br>
<!--##[%NOHTML%]##-->[@bill_country_name@]<!--##[%END NOHTML%]##--><br>
Tel: <!--##[%NOHTML%]##-->[@bill_phone@]<!--##[%END NOHTML%]##--><br />
E-Mail: <!--##[%NOHTML%]##-->[@email@]<!--##[%END NOHTML%]##--></td></tr>
	</table></td></tr>
</table>
<hr size="1" >
<font size="1">
<table align="center" border="0" cellpadding="2" cellspacing="0" width="700" style="font-size:11px;">
  <tr>
    <td width="32"><strong>QTY</strong></td>
    <td width="70"><strong>CODE</strong></td>
    <td><strong>NAME</strong></td>
    <td width="91" align="right" nowrap><strong>UNIT PRICE</strong></td>
    <td width="62" align="right"><strong>TAX</strong></td>
    <td width="92" align="right"><strong>SUBTOTAL</strong></td>
  </tr>
<!--##[%END PARAM%][%PARAM *body%]##-->
	<tr>
    <td>[@qty@]</td>
    <td>[@SKU@]</td>
    <td>[@model@]
<!--##[%FORMAT type:'date' default:''%][%PARAM *format%]##--><br><b>Deliver On</b> #D/#M/#Y (#G:#I#a)<!--##[%END PARAM%][@date_delivery@][%END FORMAT%]##-->
<!--##[%DATA id:'rma_reason' if:'ne' value:'' %]##--><pre style="padding:0; margin:0;"><font style="font-size:10px" face="Arial, Helvetica, sans-serif"><i><!--##[%FORMAT type:'text' nohtml:'1' addbr:'y'%]##-->[@rma_reason@]<!--##[%END FORMAT%]##--></i></font></pre><!--##[%END DATA%]##-->
		</td>
    <td align="right"><!--##[%format type:'currency'%]##-->[@price@]<!--##[%END format%]##--></td>
    <td align="right"><!--##[%format type:'percent' dp:'2'%]##-->[@tax_percent@]<!--##[%END format%]##--></td>
    <td align="right"><!--##[%format type:'currency'%]##-->[@subtotal@]<!--##[%END format%]##--></td>
	</tr>
<!--##[%END PARAM%][%PARAM *footer%]##-->
	<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</font>
<hr size="1" >
<font size="1">
<table width="700" align="center" cellpadding="0" cellspacing="0" border="0">
	<tr>
<td width="50%">&nbsp;</td>
<td width="50%" valign="top">
<table width="350" align="center" cellpadding="0" cellspacing="2" border="0" style="font-size:11px">
  <tr><td width="68%" align="right" nowrap>Shipped Via:</td>
    <td width="32%" align="right" nowrap>[@shipping_method@]</td></tr>
</table>
<table width="350" align="center" cellpadding="0" cellspacing="2" border="0" style="font-size:11px">
<tr><td width="68%" align="right" nowrap>Shipping Cost:</td>
	<td width="32%" align="right" nowrap><!--##[%format type:'currency'%]##-->[@shipping_total@]<!--##[%END format%]##--></td></tr>
</table>
<br >
<table width="350" border="0" align="center" cellpadding="2" cellspacing="0" style="font-size:11px">
  <tr>
    <td align="right" width="68%">Product Subtotal:</td>
    <td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@product_total@]<!--##[%END format%]##--></td>
  </tr>
<!--##[%DATA id:'shipping_quote' if:'=' value:'0' %]##-->
  <tr>
    <td align="right" width="68%">Shipping Subtotal:</td>
    <td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@shipping_total@]<!--##[%END format%]##--></td>
  </tr>
<!--##[%END DATA%]##-->
<!--##[%DATA id:'surcharge_total' if:'>' value:'0' %]##-->
<tr>
	<td align="right" width="68%">Surcharge (<!--##[%format type:'percent' dc:'2'%]##-->[@surcharge_percent@]<!--##[%END format%]##-->):</td>
	<td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@surcharge_total@]<!--##[%END format%]##--></td>
</tr>
<!--##[%END DATA%]##-->
<!--##[%DATA id:'notax' if:'=' value:'0' %]##-->
<tr><td align="right" width="68%">GST<!--##[%DATA id:'tax_inc' if:'eq' value:'y' %]##--> Inc<!--##[%END DATA%]##-->:</td>
	<td align="right" width="32%"><!--##[%format type:'currency'%]##-->[@tax_total@]<!--##[%END format%]##--></td></tr>
<!--##[%END DATA%]##-->
  <tr>
    <td align="right" width="68%"><b>Grand Total:</b></td>
    <td align="right" width="32%"><b><!--##[%format type:'currency'%]##-->[@grand_total@]<!--##[%END format%]##--></b></td>
  </tr>
</table>
	</td></tr>
</table>
</font>
<hr size="1" >
<!--##[%CONFIG id:'ADJ_NOTE_FOOTER' if:'ne' value:''%]##-->
<table width="700" border="0" align="center" cellpadding="0" cellspacing="4">
<tr><td align="center"><b>[$ADJ_NOTE_FOOTER$]</b></td></tr>
</table>
<!--##[%END CONFIG%]##-->
<!--##[%END PARAM%]##-->
<!--##[%END show_rma%]##-->