<!--[SUBJECT:Second Payment Reminder For Invoice: #[@order_id@]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
<style>
body {font-family:Arial, Helvetica, sans-serif;}
</style>
Dear [@bill_first_name@],
<p>
Invoice # <b>[@order_id@]</b> is currently overdue by <b><!--##[%format type:"currency"%]##-->[@amount_owed@]<!--##[%END format%]##--></b>.The due date for this invoice was [@date_due@].
</p>
<p>
If you have paid for this invoice in the past few days please ignore this reminder.
</p>
<p>
For your convenience we had included your live account statement as of today's date below. Please ensure that the amount due is paid using one of the payment options listed at the bottom of the statement.
</p>
<p>
<b>Did You Know You Can Pay Online?</b><br />
You can now pay your statement online with a credit card by going to <a href="[%URL page:'account' type:'payrec'%][%END URL%]" title="Pay Statement Online">[%URL type:'customer' id:'payrec'%][%END URL%]</a>.
</p>
<!-- Table Header -->
<table width="750px" border="0" cellpadding="0" cellspacing="4" align="center">
<tr>
<td>

<table width="100%" border="0" cellpadding="0" cellspacing="4">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0">
	<tr><td valign="bottom"><img src="[$homeurl$][$imageurl$]/logo.gif" border="0"></td></tr>
	<tr>
	  <td valign="top" align="left">
	  <font size="1">
<!--##[%CONFIG id:'COMPANY_ABN' if:'ne' value:''%]##-->ACN: [$COMPANY_ABN$]<!--##[%END CONFIG%]##-->	  
<!--##[%CONFIG id:'COMPANY_ACN' if:'ne' value:''%]##-->ACN: [$COMPANY_ACN$]<!--##[%END CONFIG%]##--></font></td>
</tr>
<!--##[%CONFIG id:'LOGO_FOOTER' if:'ne' value:''%]##-->
<tr><td><font size="1">[$LOGO_FOOTER$]</font></td></tr>
<!--##[%END CONFIG%]##-->
</table></td>
<td width="20%" align="right">
<b>Date Issued <!--##[%FORMAT type:'date' now:'1' format:'#d/#M/#Y'%][%END FORMAT%]##--></b></td></tr>
<tr>
	<td align="center" colspan="2"><h1>Current Account Statement</h1></td>
</tr>
<tr>
    <td width="81%" valign="top" colspan="2">
<!--##[%DATA id:'bill_company' if:'ne' value:''%]##-->[@bill_company@]<br><!--##[%END DATA%]##-->
[@bill_first_name@] [@bill_last_name@]<br>
[@bill_street1@]<br>
<!--##[%DATA id:'bill_street2' if:'ne' value:''%]##-->[@bill_street2@]<br><!--##[%END DATA%]##-->
[@bill_city@], [@bill_state@] [@bill_zip@]<br>
[@bill_country_name@]
 </td></tr>
 <tr><td colspan="6">&nbsp;</td></tr>
<!--##[%order_statement customer:'[@username@]'%]##-->
<!--##[%PARAM *header%]##-->
 <tr><td colspan="2">
<table width="100%" cellpadding="4" cellspacing="0" border="0">
	<tr>
	<td width="1%" valign="top" style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;" nowrap><b>DATE INVOICED</b></td>
  	<td width="40%" valign="top" style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;" nowrap><b>INVOICE NO.</b></td>
    <td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;" valign="top"><b>CHARGES</b></td>
    <td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;" valign="top"><b>PAYMENTS</b></td>
    <td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;" valign="top"><b>BALANCE</b></td>
    <td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;" valign="top" nowrap><b>DUE DATE</b></td>
   </tr>
<!--##[%END PARAM%]##-->
<!--##[%PARAM *body%]##-->
	<tr>
		<td nowrap><!--##[%format type:"date" default:"-" format:"#D/#M/#Y"%]##-->[@date_invoiced@]<!--##[%END format%]##--></td>
		<td nowrap><a href="[%URL page:'account' type:'view_order' id:'[@order_id@]'%][%END URL%]">[@order_id@]</a></td>
		<td nowrap><!--##[%format type:"currency"%]##-->[@grand_total@]<!--##[%END format%]##--></td>
		<td nowrap><!--##[%format type:"currency"%]##-->[@amount_paid@]<!--##[%END format%]##--></td>
		<td nowrap><!--##[%format type:"currency"%]##-->[@amount_owed@]<!--##[%END format%]##--></td>
		<td nowrap><!--##[%format type:"date" default:"-" format:"#D/#M/#Y"%]##-->[@date_due@]<!--##[%END format%]##--></td>
	</tr>
<!--##[%END PARAM%]##-->
<!--##[%PARAM *footer%]##-->
</table>
 </td></tr>
 <tr><td  colspan="2">
<br />
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="0" > 
	<tr>
	<td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>CURRENT</b></td>
  	<td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>[@first_term_day@] DAYS</b></td>
  	<td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>[@second_term_day@] DAYS</b></td>
    <td style="border-top: 1px solid #333333; border-bottom: 1px solid #333333;"><b>[@third_term_day@]+ DAYS</b></td>
    <td style="border-top: 1px solid #333333; color:#CC0000; border-bottom: 1px solid #333333;"><b>AMOUNT DUE</b></td>
   </tr>
<tr>
	<td nowrap><!--##[%format type:"currency"%]##-->[@current_overdue_amt@]<!--##[%END format%]##--></td>
	<td nowrap><!--##[%format type:"currency"%]##-->[@first_overdue_amt@]<!--##[%END format%]##--></td>
	<td nowrap><!--##[%format type:"currency"%]##-->[@second_overdue_amt@]<!--##[%END format%]##--></td>
	<td nowrap><!--##[%format type:"currency"%]##-->[@third_overdue_amt@]<!--##[%END format%]##--></td>
	<td nowrap style="color:#CC0000;"><!--##[%format type:"currency"%]##-->[@total_due@]<!--##[%END format%]##--></td>
</tr>
  </table></td>
 </tr>
<!--##[%END PARAM%]##-->
<!--##[%END order_statement%]##-->  
</table>
<br/>
<table width="100%" cellpadding="0" cellspacing="2" border="0" style="border-top:1px #000000 solid;">
  <tr><td><b>PAYMENT OPTIONS</b></td></tr>
</table>
<br/>
<table width="100%" cellpadding="0" cellspacing="2" border="0">
  <tr><td valign="top">
<!--##[%payment_methods charge_type:'cc' sortby:'sortorder,name' visible:'1'%]
[%PARAM *header%]##-->
<table width="325px" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top">
<font style="font-weight:bold; font-size: 13px;">Credit Card</font><br>
<!--##[%END PARAM%]
[%PARAM *body%][%DATA id:'count' if:'!=' value:'0'%]##-->,<!--##[%END DATA%]##--> [@name@]<!--##[%END PARAM%]
[%PARAM *footer%]##-->
<p style="font-size: 10px;">[$CC_PAYMENT_NOTE$]</p>
</td></tr></table>
<!--##[%END PARAM%]
[%END payment_methods%]##-->

<!--##[%DATA id:'bpay_crn' if:'ne' value:''%]##-->
	<!--##[%payment_methods charge_type:'bpay' visible:'1'%]
	[%PARAM *header%]##-->
<table width="325px" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top">
<font style="font-weight:bold; font-size: 13px;">Telephone & Internet Banking - BPAY</font><br>
	<!--##[%END PARAM%]
	[%PARAM *body%]##-->
<table cellpadding="0" cellspacing="4" border="0"><tr>
<td valign="top"><img src="[$homeurl$][$imageurl$]/BPAY.gif"></td>
<td style="border: 1px solid #000000; font-weight:bold; font-size: 15px; padding: 4px 4px 4px 4px;">
Biller Code: [$BPAY_BILLER_CODE$]<br>
Ref: [@bpay_crn@]</td></tr></table>
	<!--##[%END PARAM%]
	[%PARAM *footer%]##-->
<p style="font-size: 10px;">
Contact your bank, credit union or building sociey to make this payment from your
cheque, savings or credit card account. More info: <a href="http://www.bpay.com.au" target="_blank">www.bpay.com.au</a>
</p>
</td></tr></table>
	<!--##[%END PARAM%]
	[%END payment_methods%]##-->
<!--##[%END DATA%]##-->
</td><td valign="top">
<!--##[%payment_methods charge_type:'bank' sortby:'sortorder,name'%]
	[%PARAM *header%]##-->
<table width="325px" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top">
<font style="font-weight:bold; font-size: 13px;">Direct Bank Deposit or Internet Transfer</font><br>
Send To [%NOHTML%][$COMPANY_BANK_ACC$][%END NOHTML%]<br>
[%NOHTML%][$COMPANY_BANK_NAME$][%END NOHTML%]<br>
BSB: [$COMPANY_BANK_BSB$] &nbsp; Ac/No. [$COMPANY_BANK_NUM$]<br>
<font style="font-weight:bold; font-size: 13px;">Money Order or Cheque</font><br>
Send To [%NOHTML%][$COMPANY_POADDR$][%END NOHTML%]<br>
	<!--##[%END PARAM%]
	[%PARAM *footer%]##-->
<p style="font-size: 10px;">[$BANK_PAYMENT_NOTE$]</p>
</td></tr></table>
	<!--##[%END PARAM%]
[%END payment_methods%]##-->
</td></tr>
</table>
<!-- Table Footer -->
</td>
</tr>
</table>