.customer{
	padding-bottom: em(60);	
}
.customer-link{
	color: white;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 20px;
	text-decoration: none;
	@include transition(color 0.3s ease-out);
	.small{
		font-weight: normal;
		display: block;
		color: $grey;
		@include transition(color 0.3s ease-out);
	}
	&:hover{
		text-decoration: none;
		color: $link-color;
		.small{
			color: white;
		}
	}
}
.customer-order{
	background: $secondary-black;
	padding: 20px;
	.btn{
		padding: 0;
	}
	.btn-stack{
		margin: 0 -2px;
		margin-top: 20px;
		.col-md-4{
			padding: 0 2px;
		}
	}
}
.template-customer_account{
	.box{
		padding: 20px;
		background: $secondary-black;
		@media (min-width: $screen-sm){
			padding: 50px;
		}
		h2{
			font-size: 30px;
		}
		h4{
			margin-top: 0;
		}
	}
	.dispute-qty{
		height: 40px;
		line-height: 40px;
		padding: 0 5px;
	}
	.form-control{
		height: 40px;
	}
}