#filters{
	.swatch{
		display: inline-block;
		border: 1px solid #b9b9b9;
		@include border-radius(50%);
		width: rem(26);
		height: rem(26);
		vertical-align: middle;
		margin-right: rem(20);
		background-position: center center;
		background-size:cover;
	}
}