
.wrapper-footer {
  padding: em(70) 0;
  background: $secondary-black;
  @media (max-width: $screen-sm-max){
    text-align: center;
  }
  .container{
    max-width: rem(1040);
  }
  .logo{
    width: rem(95);
    height: rem(145);
  }
  h4 {
    margin-top: 0;
    color: white;
    font-size: em(14);
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
  }
  ul.footer-menu{
    margin-bottom: em(30);
    a{
      display: inline-block;
      position: relative;
      &:after{
        content: " ";
        display: block;
        width: 0;
        height: 1px;
        background: white;
        position: absolute;
        bottom: -1px;
        left: 0;
        @include transition(width 0.25s ease-out);        
      }
      &:hover{
        &:after{
          width: 100%;
        }
      }
    }
  }
  a {
    font-size: em(14);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: rem(7) 0;
  }
  .list-social{
    margin: 0;
    li{
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      svg{
        fill: white;
        display: block;
      }
    }
  }
  .t-logo{
    margin-bottom: 30px;
    @media (min-width: $screen-md){
      float: left;
      margin-right: rem(110);
    }
  }
  .col-sm-push-4{
    .col-sm-4{
      &:first-child{
        @media (min-width: $screen-md){
          padding-left: rem(60);
        }
      }
    }
  }
}
.wrapper-copy {
  font-size: em(12);
  color: #9e9e9e;
  font-weight: 400;
  text-align: center;
  padding: em(20,12) 0;
  @media (min-width: $screen-sm){
    text-align: left;
  }
  a{
    color: #9e9e9e;
    display: block;    
  }
  .secure-payment{
    text-transform: uppercase;
  }
  .legal-links{
    @media (min-width: $screen-sm){
      text-align: right;
    }
    li{
      position: relative;
      padding: 0 rem(8) 0 rem(7);
      &:before{
        content: ' ';
        display: block;
        width: 1px;
        height: rem(9);
        position: absolute;
        left: 0;
        top: 50%;
        background: #9e9e9e;
        @include transform(translateY(rem(-4.5)));
      }
      &:first-child{
        &:before{
          content: '';
          display: none;
        }
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
}