.form-control, select[size].form-control{
	height: 60px;
	@include border-radius(0);
	border: none;
	background: white;
}
label{
	margin-bottom: em(16);
}
.checkbox{
	label{
		position: relative;
		//padding-left: em(30);
		input{
			opacity: 0;
			position: relative;
			+ &:after{
				width: em(20);
				height: em(20);
				border: 2px solid white;
				position: absolute;
				top: 1px;
				left: 0;
				content: " ";
			}
		}
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: white !important;
    background-image: none;
    -webkit-text-fill-color: black;
	  -webkit-box-shadow: none;
	  -webkit-box-shadow: 0 0 0 30px white inset;
	  -webkit-text-fill-color: black !important;
}