.logo {
  max-width: 100%;
}
.nav .t-logo{
	width: rem(52);
	position: absolute;
    padding: 0;
    top: rem(10);
    left: 0;
    @media (min-width: $screen-sm){
    	top: rem(12);
    }
    &:after{
    	display: none;
    }
	svg{
		vertical-align: top;
		width: rem(40);
  	height: em(26);
  	display: inline-block;
  	@media (min-width: $screen-sm){
    	height: rem(52);
    	vertical-align: middle;	    
    }    
	}
}
.cart--items{
	position: absolute;
	top: em(5,10);
	right: em(5,10);
	font-size: em(10);
	letter-spacing:0;
	width: rem(14);
	height: rem(14);
	text-align: center;
	line-height: rem(14);
	background: #e33030;
	@include border-radius(50%);
}
.wrapper-header{
	background: black;
}