.homepage--slider{
  padding-bottom: rem(50);
  @media (max-width: $screen-sm-max){
    .container{
      width: auto;
      padding: 0;
    }
    .row{
        margin: 0;
      }
    .col-xs-12{
      padding: 0;
    }
  }
}
.homepage-slider{
  overflow: hidden;
  @media (min-width: $screen-sm){
      height: rem(450);
    }
  @media (min-width: $screen-md){
    height: rem(560);
  }
  h2{
    font-size: rem(60);
    line-height: 1;
    margin-bottom: rem(15);
  }
  .slider {
    margin: 0;
  }
  .slide {
    position: relative;   
    @media (min-width: $screen-sm){
      height: rem(450);
    }
    @media (min-width: $screen-md){
      height: rem(560);
    } 
    .logo{
      margin-bottom: rem(30);
      svg{
        width: rem(103);
        height: rem(158);
        margin: 0 auto;
        display: block;
      }
    }
    
  }
  .image{
    @media (max-width: $screen-xs-max){
      padding-bottom: 40%;
      background-size: cover;
      background-position: top center;
      img{
        position: absolute;
        opacity: 0;
      }
    }
  }
  .wrapper {
    position: relative;
    height: 100%;
  }
  .description-wrap {
    text-align: center;
    padding: 0 em(20);
    padding-bottom: em(60);
    @media (min-width: $screen-sm){
      height: 100%;
      &.bg-white{
        background: white;
      }
    }
    @media (min-width: $screen-md){
      padding: 0 em(80);
      padding-bottom: em(70);
    }
  }
  .description {
    padding: 0;
    font-size: em(16);
    max-width: rem(385);
    margin: 0 auto;
    padding-top: rem(40);
    padding-left: 32px;
    padding-right: 32px;
    @media (min-width: $screen-sm){
      font-size: em(18);
    }
    @media (min-width: $screen-md){
      padding-top: rem(100);
      padding-left: 0;
      padding-right: 0;
    }
    .btn{
      margin-top: rem(27);
    }   
  }
  .slick-dots {
    margin: 0;
    bottom: em(20);
    li {
      margin: 0 10px;      
    }    
    button:before {
      background: #dfdede;
    }
  }
  .slick-active {
    button:before {
      background: black;
    }
  }
  .slick-arrow {
    font-size: em(16);
    svg {
      display: block;
      width: em(20);
      height: em(26);
    }
  }
  .text-pink {
    color: white;
    a {
      color: white;
      border-color: white;
    }
  }
  .text-white {
    color: white;
    a {
      color: white;
      border-color: white;
    }
  }
  .text-dark_grey {
    color: black;
    a {
      color: black;
      border-color: black;
    }
  }
  .text-gold {
    color: gold;
    .description {
      background: -webkit-linear-gradient(-45deg, #b39439 0%, #d8c46e 33%, #ad9349 50%, #dbc467 64%, #b6923e 82%, #b6923e 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  .split_pink_bg {
    background: pink;
  }
  .split_green_bg {
    background: white;
    color: black;
  }
  .content_right{
    @media (min-width: $screen-sm){
      .description-wrap{
        position: relative;
        width: 50%;
        left: 50%;
      }
    }
  }
  .content_left{
    @media (min-width: $screen-sm){
      .description-wrap{
        position: relative;
        width: 50%;
        left: 0;
      }
    }
  }
  .text_left{
    .description-wrap{
      text-align: left;
      .description{
        margin: 0;
      }
    }
  }
  .txc_black{
    color: black;
    @media (max-width: $screen-sm-max){
      background: white;
    }
    .btn{
      color: black;
      border-color: black;
    }
  }
  .txc_white{
    color: white;
    @media (max-width: $screen-sm-max){
      background: black;
    }
  }
  .split_pink_bg,
  .split_green_bg,
  .split_white_bg {
    .image {
      display: block;
    }
    .description-wrap {
      @media (min-width: $screen-xs) {
        padding-left: em(80);
        padding-right: em(80);
      }
      @media (min-width: $screen-sm) {
        padding-left: em(50);
        padding-right: 0;
        max-width: 50%;
      }
      @media (min-width: 1400px) {
        padding-left: 240px;
      }
    }
    a {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 2px solid black;
    }
  }
  .full_green_bg,
  .full_pink_bg {
    .description-wrap {
      max-width: em(660);
      margin: 0 auto;
    }
    .description {
      margin-bottom: em(20);
      @media (min-width: $screen-sm) {
        margin-bottom: em(40);
      }
    }
  }
  .full_bg_color {
    .image {
      display: none;
    }
    .wrapper {
      height: 100%;
    }
    .description-wrap {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      left: 0;
      width: 100%;
    }
  }
  .no-expand{
    .image{
      background-image: none !important;
      img{
        width: auto;
        display: block;
        @media (min-width: $screen-sm){
          position: absolute;
          bottom: 0;
          right: 0;
        }
        @media (min-width: 1320px){
          position: static;
          bottom: auto;
          right: auto;
          height: 100%;
        }
      }
    }
  }
  .link {
    &.dark_grey {
      color: black;
      border-color: black;
    }
    &.white {
      color: white;
      border-color: white;
    }
    &.gold {
      color: gold;
      border-color: gold;
    }
    &.pink {
      color: pink;
      border-color: pink;
    }
  }
}
@media (min-width: $screen-sm) {
  .homepage-slider{
    .slick-dots{
      bottom: em(40);
    }
    .image{
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      background-size: cover;
      background-position: top center;
      img {
        display: none;
      }
    }
    .split_pink_bg,
    .split_green_bg,
    .split_white_bg {
      .image {
          width: 50%;
          opacity: 1;
      }
    }
    .link{
      display: inline-block;
      @include transition(padding 0.3s ease-out);
    }
    .link:hover{
      padding: 0 10px 5px;
    }
  }
}