nav{
  .list-inline{
   > li{
      padding: 0;
    }
  }  
}
.nav{
  a{
    display: inline-block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: em(16);
    font-weight: 400;
    line-height: em(46);
    letter-spacing: 0.2em;
    padding: 0 em(13);
    position: relative;
    &:after{
      content: " ";
      display: block;
      width: 0;
      height: 1px;
      background: white;
      position: absolute;
      bottom: -1px;
      left: 0;
      @include transition(width 0.25s ease-out);        
    }    
  }
  ul{
    margin: 0;
  }
  .dropdown-menu{
    padding: 0;
    @include border-radius(0);
    border: none;
    background:black; 
    display: block;
    visibility: hidden;
    opacity: 0;
    @include transition(visibility 0.3s linear, opacity 0.3s ease-out);
    a{
      @include transition(background 0.3s ease-out, color 0.3s ease-out);
      color: white;
      padding: em(15);
      &:after{
        display: none;
      }
    }
  }
  .dropdown-toggle{
    .icon{
      fill: white;
      width: rem(14);
      height: rem(14);
      margin-left: rem(20);
      margin-bottom: rem(6);
      vertical-align: middle;
      display: inline-block;
    }
  }
}
body.desktop{
  .nav{
    a{
      &:hover{
        &:after{
          width: 100%;
        }
      }
    }
    .dropdown{
      &:hover{
        .dropdown-menu{
          visibility: visible;
          opacity: 1;
          @include transition(visibility 0s linear, opacity 0.3s ease-out);
        }
      }
    }
    
  }
}
.nav-main{
  position: relative;
  float: left;
  padding-left: rem(60);
  > li{
    &:first-child{
      a{
        padding-left: rem(30);
      }
    }
  }
  .category{
    a{
      font-weight: 600;      
    }
  }
}
.nav-main--list{
  @media (min-width: $screen-sm){
    display: block;
  }
  @media (max-width: $screen-sm - 1px){
    position: fixed;
    z-index: 10;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    top: 46px;
    background: black;
    padding-top: 20px;
    @include transition(left 0.3s ease-out);
    li{
      display: block;
    }
    &.open{
      left: 0;
    }
  }
}
.nav-secondary{
  float: right;
  .dropdown-menu{
    right: 0;
    left: auto;    
  }
  @media (min-width: $screen-sm){
    position: absolute;
    right: 0;
  }
  ul{
    @media (max-width: $screen-sm-max){
      //margin-right: -10px;
    }
  }
  li{
    vertical-align: middle;
  }
  a{
    font-weight: 400;
    position: relative;
    height: 46px;
    line-height: 46px;
    padding-top: 0;
    padding-bottom: 0;
    svg{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .icon{
    fill: white;
    width: rem(18);
    height: rem(18);
    margin-right: rem(10);
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
  }
}
body.menu-open{
  padding-top: 46px;
  .wrapper-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 46px;
    z-index: 10;
  }
  .nav-main--list{
    left: 0;
  }
}
.nav .mobile-menu{
  @media (min-width: $screen-sm){
    display: none;
  }
}
.mobile-menu-button{
  outline: none;
  @include appearance(none);
  @include border-radius(0);
  border: none;
  background: none;
  text-align: center;
  padding: 0;
  width: 42px;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  .menu-burger{
    display: inline-block;
    width: 20px;
    height: 17px;
    position: relative;
    vertical-align: middle;
  }
  .bar{
    height: 3px;
    margin: 0;
    width: 100%;
    background: white;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    @include transition(0.3s ease-in-out all);
    @include border-radius(5px);
    &:nth-child(2){
      top: 7px;
    }
    &:last-child{
      margin-bottom: 0;
      top: 14px;
    }
  }
  &.open{
    .bar{
      &:first-child{
        @include transform(rotate(45deg));
        top: 7px;
        @include transform-origin(center center);
      }
      &:nth-child(2){
        left: 200%;
      }
      &:last-child{
        @include transform(rotate(-45deg));
        top: 7px;
        @include transform-origin(center center);
      }
    }
  }
}
body.mobile{
  .nav-main--list{
    position: fixed;
    z-index: 10;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    top: 46px;
    background: black;
    padding-top: 20px;
    @include transition(left 0.3s ease-out);
    li{
      display: block;
    }
    &> .category{
      a{
        &:after{
          content: " ";
          display: block;
          width: 100%;
          height: 1px;
          background: white;
          position: absolute;
          bottom: -1px;
          left: 0;
          @include transition(width 0.25s ease-out);        
        } 
        font-size: 22px;
      }
      margin-bottom: 1px;      
    }
    &.open{
      left: 0;
    }
    .dropdown{
      background: #222222;
      width: 100%;
    }
    .dropdown-menu{
      background: #222222;
      width: 100%;
      opacity: 1;
      visibility: visible;
      @include box-shadow(none);
    }  
  }
  .nav-secondary{
    position: static;
    right: auto;
  }
  .nav .mobile-menu{
    display: inline-block;
  }
  &.menu-open{
    .nav-main--list{
      left: 0;
    }
  }
}