.product{
	width: percentage(1/2);
	float: left;
	padding: 0 rem(15);
	padding-bottom: rem(26);
	&:nth-child(2n+1){
		clear: left;
	}
	@media (min-width: $screen-md){
		width: percentage(1/4);
		float: left;
		padding: 0 rem(15);
		padding-bottom: rem(26);
		&:nth-child(2n+1){
			clear: none;
		}
		&:nth-child(4n+1){
			clear: left;
		}
	}
	
	.thumbnail-image{
		display: block;
	}
	h3{
		margin-top: rem(14);
		margin-bottom: rem(2);
		font-size: rem(14);
		font-weight: 600;
		line-height: rem(20);
		letter-spacing: 0.08em;
		a{
			color: black;
		}
	}
	.price{
		color: black;
		font-size: rem(14);
		font-weight: 600;
		line-height: rem(20);
		letter-spacing: 0.08em;
	}
}