#left-sidebar{
	h2{
		margin-top: 0;
		color: black;
		font-size: rem(18);
		line-height: 1;
		font-weight: 700;
		letter-spacing: -0.04em;
	}
	h3{
		font-size: rem(14);
		line-height: 1;
		font-weight: 400;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		color: black;
		padding: rem(16) 0;
		margin: 0;
		border-bottom: 1px solid black;
	}
	h4{
		font-size: rem(14);
		line-height: 1;
		font-weight: 400;
		letter-spacing: 0;
		text-transform: none;
		color: black;
		padding: rem(16) 0;
		margin: 0;
		border-bottom: 1px solid #b5b5b5;
		display: block;
		position: relative;
		cursor: pointer;
		span{
			float: right;
			margin-right: rem(12);
		}
		&.open{
			border-bottom: 1px solid black;
		}
	}
	#filters{
		opacity: 0;
		&.ready{
			opacity: 1;
		}
	}
	ul{
		overflow: hidden;
		margin: 0;
		border-bottom: 1px solid white;
		padding: rem(10) 0;
		@include transition(border-bottom 0.3s ease-out);
		&.open{
			border-bottom: 1px solid #b9b9b9;
		}
		li{
			> a{
				color: black;
				font-size: rem(14);
				line-height: 1;
				display: inline-block;
				padding: rem(10) 0;
				&.active, &:hover{
					text-decoration: underline;
				}
			}
			
		}
	}
	.categories{
		ul{
			padding: rem(10) 0;
			max-height: none;
			border-bottom: 1px solid #b9b9b9;
		}
	}
	.filter-remove{
		a{
			text-decoration: underline;
			font-weight: 700;
		}
	}
}