[%load_template file:'printdocs/includes/styles.template.html'/%]
<div class="text-center">
	<h4>[@asset_serial@]</h4>
	<img src="[%barcode_url fn:'' height:'[@label_height@]'%][@asset_serial@][%/barcode_url%]"/>
</div>
