<!--[SUBJECT: Credit Card Failed - Your Credit Card Could Not Be Processed By [$COMPANY_NAME$]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
URGENT: Credit Card Failed<br />
<br />
Dear [@bill_first_name@],<br />
<p>We recently tried to charge your credit card for the amount of <b><!--##[%format type:'currency'%]##-->[@amount@]<!--##[%END format%]##--></b> for <b>Order # [@order_id@]</b> as per your agreement with us.
</p>
<p>
Unfortunately your credit card could not be processed due to the following error from the card processor: 
<b>[$realtime_notes$]</b>
</p>
<p>
<b>The details of the card we are attempting to process are:</b><br />
Credit Card Type: [@payment_name@]<br />
Card Holder Name: [@card_holder@]<br />
Card Number: [@card_number@]<br />
Expiry Date: [@card_exp_month@]/[@card_exp_year@]
</p>
<p>
If the above credit card has expired or you would like to nominate a different credit card to pay for this order please contact us or go here: <a href="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=update_payment'%][%END URL%]">[%URL page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=update_payment'%][%END URL%]</a>
</p>
<p>
We will continue to attempt to process your credit card until the payment is successfull.
</p>
<p>
You can view or edit your standing order by going to: <a href="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]'%][%END URL%]">[%URL page:'account' type:'standing_orders' id:'[@storder_id@]'%][%END URL%]</a>
</p>
<p>
Please contact us or reply to this email if you have any questions relating to this matter.
</p>
<p>
Regards, <br />
[$company_name$]<br />
[$homeurl$]
