[%site_value id:'footer_javascript'%]
	<script type="text/javascript" language="javascript">
		$(document).ready(function() {

			$('.product--images-slide').owlCarousel({
			    loop:false,
			    autoplay: false,
			    autoplayTimeout: 5000,
			    autoplayHoverPause: true,
			    margin:10,
			    nav: false,
			    dots: false,
			    items: 1,
			    navText: ['<button type="button" class="button-prev"><svg viewBox="0 0 26 46"><title>arrow-left</title> <g> <path d="M24.4,0.6C24.1,0.2,23.5,0,23,0c-0.5,0-1,0.2-1.4,0.6l-21,21c-0.8,0.8-0.8,2.1,0,2.8l21,21c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L4.9,23L24.4,3.4C25.2,2.6,25.2,1.4,24.4,0.6z"/> </g> </svg></button>',
			    '<button type="button" class="button-next"><svg viewBox="0 0 26 46"><title>arrow-right</title> <g> <path d="M1.6,45.4C2,45.8,2.5,46,3,46c0.5,0,1-0.2,1.4-0.6l21-21c0.8-0.8,0.8-2.1,0-2.8l-21-21c-0.8-0.8-2.1-0.8-2.8,0c-0.8,0.8-0.8,2.1,0,2.8L21.2,23L1.6,42.6C0.8,43.4,0.8,44.7,1.6,45.4z"/> </g> </svg></button>'],
			    responsive:{
			        0:{
			            dots: false,
			            nav: false
			        },
			        768:{
			            dots: false,
			            nav: false
			        }
			    }
			});
			$('.product--most-popular').owlCarousel({
			    loop:false,
			    margin:10,
			    nav: false,
			    dots: false,
			    items: 3,
			    navText: ['<button type="button" class="button-prev"><svg viewBox="0 0 26 46"><title>arrow-left</title> <g> <path d="M24.4,0.6C24.1,0.2,23.5,0,23,0c-0.5,0-1,0.2-1.4,0.6l-21,21c-0.8,0.8-0.8,2.1,0,2.8l21,21c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L4.9,23L24.4,3.4C25.2,2.6,25.2,1.4,24.4,0.6z"/> </g> </svg></button>',
			    '<button type="button" class="button-next"><svg viewBox="0 0 26 46"><title>arrow-right</title> <g> <path d="M1.6,45.4C2,45.8,2.5,46,3,46c0.5,0,1-0.2,1.4-0.6l21-21c0.8-0.8,0.8-2.1,0-2.8l-21-21c-0.8-0.8-2.1-0.8-2.8,0c-0.8,0.8-0.8,2.1,0,2.8L21.2,23L1.6,42.6C0.8,43.4,0.8,44.7,1.6,45.4z"/> </g> </svg></button>'],
			    responsive:{
			        0:{
			            dots: false,
			            nav: true,
			            items: 1
			        },
			        768:{
			            dots: false,
			            nav: true,
			            items: 2
			        },
			        992:{
			            dots: false,
			            nav: false,
			            items: 3
			        }
			    }
			});
			$('.product--thumbs .thumb').on('click',function(){
				var slide = $(this).data('slide');
				$('.product--images-slide').trigger('to.owl.carousel', [slide, 500]);
			})
			$.product_variationInit({
				'loadtmplates': ['_buying_options', '_images','_header'],
				'fns' : {
					'onLoad' : function () {
						$('.addtocart').button("loading");
					},
					'onReady' : function () {
						$('.addtocart').button("reset");
						if(!$('body').hasClass('mobile')){
							$('.zoom').zoom();
						}
					},
				}
			});
			[%if [@has_components@]%]
				$.kit_variationInit({});
			[%/if%]
		});
	</script>
	<script type="text/javascript" src="//cdn.neto.com.au/assets/neto-cdn/jcountdown/1.4/jquery.jcountdown.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			if(!$('body').hasClass('mobile')){
				$('.zoom').zoom();
			}
		});
	</script>
	<script type="text/javascript" src="//cdn.neto.com.au/assets/neto-cdn/zoom/1.4/jquery.zoom-min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#sale-end").countdown({
				date: "[%format type:'date' format:'#K #d, #Y  #H:#I'%][@promo_end@][%/format%]"
			});
		});
	</script>
[%/site_value%]
[%cache type:'display' id:'[@inventory_id@]'%]
[%/CACHE%]
<section class="product-information">
	<div class="container">
			<div class="product-images">
				<div class="product-images--wrap">
				[%load_template file:'products/includes/images.template.html' /%]
				</div>
			</div>
			<div class="product-details">
				<div class="title">
					<div itemscope itemtype="http://schema.org/Product">
					<h1 itemprop="name" class="product--title">[@name@] [%if [@subtitle@]%] [@subtitle@][%/if%]</h1>					
				</div>
					[%load_ajax_template id:'_header' type:'item' template:'header' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
					[%if ![@has_child@] || [@has_variation@]%]
						<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing">
							<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
							[%if ![@inpromo@]%]
								<div class="productprice productpricetext" itemprop="price">
									[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
								</div>
								[%if [@save@] > 0%]
									<div class="productrrp text-muted">
										RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]
									</div>
									<div class="productsave">
										SAVE [%format type:'currency'%] [@save_price@] [%/format%]  ([%format type:'percent'%][@save@][%/format%])
									</div>
								[%/if%]
							[%else%]
								<div class="productwasprice">
									WAS [%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
								</div>
								[%if [@save@] > 0%]
									<div class="productrrp muted">
										RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]
									</div>
								[%/if%]
								<div class="productpromo">
									NOW [%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]
								</div>
								[%if [@save@] > 0%]
									<div class="productsave">
										SAVE [%format type:'percent'%][@save@][%/format%]!
									</div>
								[%/if%]
								<div class="productsavetext">
									Sale Ends in <span id="sale-end" class="time"></span>
								</div>
								<div class="time-text">
									[%format type:'date' format:' #H:#I #a, #d #K #Y'%][@promo_end@][%/format%]
								</div>
							[%/if%]							
						</div>
					[%/if%]
				</div>
				<div class="options">
					<form>
						[%list_item_variations id:'[@current_sku@]' sortorder:'asc'%]
							[%param header%]
							<input type="hidden" id="_itmspec_sku" value="[%nohtml%][@SKU@][%/nohtml%]">
							[%/param%]
							[%param *variation_header%]
									<div class="_itmspec_listopt" ref="[@specific_id@]">
										<div class="variation-name">
											<h2 [% if [@specific_name@] ne 'Colour' %]class="style-2"[%/if%]>[% if [@specific_name@] ne 'Colour' %]Select [%/if%][@specific_name@]</h2>
										</div>
										<div class="specific" style="margin-bottom: 10px;">
											<input type="hidden" class="_itmspec_val" ref="[@specific_id@]" value="[@selected_id@]">
						[%/param%]
						[%param *variation_body%]
						[% if [@specific_name@] eq 'Colour' %]
										 <a class="_itmspec_listitm _itmspec_lnk swatch [%if [@selected@]%]_itmspec_selected[%/if%]" href="javascript:void(0);" ref="[@specific_id@]_[@value_id@]" title="[@value_name@]" style="[%if [@value_swatch@] ne ''%]background-color: [@value_swatch@][%else%]
	                background-image:url('[@value_image@]')
	                [%/if%];">							        
								    </a>
								    [% else %]
							    		<a class="_itmspec_listitm _itmspec_lnk option-text [%if [@selected@]%]_itmspec_selected[%/if%]" href="javascript:void(0);" ref="[@specific_id@]_[@value_id@]">
												[%if [@value_image@]%]
													<img src="[@value_image@]" alt="[@value_name@]" />
												[%/if%]
												[%if [@value_name@]%]
													[@value_name@]
												[%ELSE%]
													[@value_description@]
												[%/if%]
											</a>
										[%/if%]
										
						[%/param%]
						[%param *variation_body_radio%]
											<label class="_itmspec_listitm btn btn-default" ref="[@specific_id@]_[@value_id@]">
												<input class="_itmspec_radio" type="radio" name="_itmspec_radio[@specific_id@]" value="[@value_id@]" ref="[@specific_id@]_[@value_id@]" [%if [@selected@]%]checked[%/if%]> [@value_name@]
											</label>
						[%/param%]
						[%param *variation_body_image%]
											<span class="_itmspec_listitm" ref="[@specific_id@]_[@value_id@]">
												<a class="_itmspec_lnk [%if [@selected@]%]_itmspec_selected[%/if%]" href="javascript:void(0);" ref="[@specific_id@]_[@value_id@]">
													[%if [@value_image@]%]
															<img src="[@value_image@]" alt="[@value_name@]">
														[%else%]
															[@value_name@]
													[%/if%]
												</a>
											</span>
						[%/param%]
						[%param *variation_footer%]
										</div>
									</div>
						[%/param%]
						[%param *variation_header_select%]
									<div class="_itmspec_listopt col-xs-12 col-md-6" ref="[@specific_id@]">
										<div class="variation-name">
											<strong>[@specific_name@]</strong>
										</div>
											<div class="specific">
												<input type="hidden" class="_itmspec_val" ref="[@specific_id@]" value="[@selected_id@]">
												<div class="n-wrapper-form-control">
													<span class="_itmspec_optpl" ref="[@specific_id@]">
														<select class="_itmspec_opt form-control" ref="[@specific_id@]">
							[%/param%]
							[%param *variation_body_select%]
															<option value="[@value_id@]" [%if [@selected@]%]selected[%/if%]>[@value_name@]</option>
							[%/param%]
							[%param *variation_footer_select%]
														</select>
													</span>
												</div>
											</div>
									</div>
							[%/param%]
							[%param footer%]
								
							[%/param%]
						[%/list_item_variations%]
						[%if ![@has_variation@]%]
					[%load_template file:"products/includes/child_products.template.html"/%]
					[%/if%]
					[%if [@misc5@]%]
				<a class="link link--sizechart" data-toggle="modal" data-target="#sizechart">View size Chart</a><br/><br/>
				<div class="modal fade notifymodal modal-size-chart" id="sizechart">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Size Chart</h4>
			</div>
			<div class="modal-body">
				[@misc5@]
			</div>
			<div class="modal-footer">
				<input class="btn btn-success" type="button" data-dismiss="modal" value="Close">
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>
				[%/if%]
				</form>
				
				[%if [@has_variation@] || ![@has_child@] AND ![@has_components@]%]
					[%load_ajax_template id:'_buying_options' type:'item' template:'buying_options' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
				[%/if%]
			</div>
			<div class="description">
				[@description@]
				[%if [@misc3@]%]
				<h2>Product Care</h2>
				[@misc3@]
				[%/if%]
				[%if [@features@]%]
					<div id="features">
						[@features@]
					</div>
				[%/if%]
			</div>
		</div><!-- /.product-details -->
	</div>
</section>

[%thumb_list type:'products' filter_category:'[@content_id@]' filter_exsku1:'[@sku@]' sortby: 'popular' sortorder:'desc' limit:'3' %]
    [%param *header%]
    <section class="most-popular products-list">
        <div class="container">
        <h3>our most popular</h3>
        <div class="product--most-popular owl-carousel">
    [%/param%]
    [%param *body%]
        <div class="slide">
        <div class="category [% if [@description@]%][@description@][%/if%]">
				<a href="[@URL@]" title="[@model@]">
                            <img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%/param%][%/asset_url%]" class="product-image img-responsive" alt="[@model@]" rel="itmimg[@SKU@]">
					<div class="text">
						[%if [@name@]%]<h2>[@name@]</h2>[%/if%]
						<span class="btn [% if [@description@]%]btn-[@description@][%/if%]">[@model@]</span>
					</div>
				</a>
			</div>
        </div>
    [%/param%]
    [%param *footer%]
    </div>
        </div>
        </section>
    [%/param%]
[%/thumb_list%]
[%if [@config:phistory_limit@]%]
[%product_history limit:'[@config:phistory_limit@]' template:'recently'%]
		[%param header%]
		<section class="recently-viewed products-list-row">
<div class="container">

			<h3>Recently Viewed</h3>
			<ul class="list_inline">
			[%/param%]
			[%param footer%]
			</ul>
			</div>
</section>
			[%/param%]
	[%/product_history%]			
	
[%/if%]
