<!--[SUBJECT:Complete your purchase at our online store]-->
<!--[FROM:[@send_from_email@]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
Hi,

<p>
You recently visited our online store and we noticed that you did not complete your order for the following items:
</p>

<p>
[%abandoned_carts return:'customer'%]
[%PARAM cart_track_id%][@cart_track_ids@][%end PARAM%]
[%PARAM *header%] <table width="100%" border="0" cellspacing="0" cellpadding="4">[%end PARAM%]
[%PARAM *body%]
  <tr>
    <td width="5%" valign="top"><img border="0" src="[$homeurl$]/[%asset_url type:'product' id:'[@SKU@]' thumb:'thumb'%][%END asset_url%]" alt="[@model@]" width="50px"  height="50px"></td>
    <td width="95%" valign="top">[@qty@] x <a href="[@URL@]" target="_blank">[@model@]</a><br>[@store_price@]</td>
  </tr>
[%end PARAM%]
[%PARAM *footer%]</table>[%end PARAM%]
[%PARAM *ifempty%]No products found[%end PARAM%]
[%end abandoned_carts%]
</p>

<p>
To complete your order right now, just click on the link below:<br>
<a href="[@CONFIG:home_url@]/_mycart">View Cart</a>
</p>

<p>
If you have any trouble processing your order or if you have any questions or concerns please contact us by replying to this email.
</p>
