<div class="container">
	<div class="row">
<div class="col-xs-12">

	<!--# Start Breadcrumb# ##-->
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
		<li><a href="#">Edit My Account</a></li>
	</ul>
	<!--# End Breadcrumb# ##-->


	<form enctype="multipart/form-data" method="POST" name="UPDATEINFO" action="[%URL page:'account' type:'edit_account'%][%END URL%]">
	<div class="page-header">
		<h1>Edit Your [@config:company_name@] Account Details</h1>
		<!-- This block will give them a description on what fields are missing -->
		<!--##[%DATA id:'updated' if:'=' value:'0'%]##-->
		<p>Please complete all the required fields below before continuing.</p>
		<!--##[%END DATA%]##-->
	</div>


		<!--##[%SITE_VALUE id:'footer_javascript'%]##-->
		<script language="javascript" type="text/javascript">
var httpReq = null;
var httpReq2 = null;

function getXMLHttpRequest() {
	var client = null;
	try {
		client = new XMLHttpRequest();
	} catch (e) {
		try {
			client=new ActiveXObject("Msxml2.XMLHTTP");
		} catch (e) {
			client=new ActiveXObject("Microsoft.XMLHTTP");
		}
	}
	return client;
}

function checkPostCode(ta) {
	var id ='';
	var zip_id = 'bill_zip';
	var country_id = 'bill_country';
	if(ta && ta=='sh') {
		id = '_'+ta;
		zip_id = 'ship_zip';
		country_id = 'ship_country';
	}

	var zip = document.UPDATEINFO.elements[zip_id];
	var country = document.UPDATEINFO.elements[country_id];
	if(country.options[country.selectedIndex].value == 'AU') {
		zip.value = zip.value.replace(new RegExp('\\D','g'), '').substr(0,4);
	}
}

function getlocation(ta) {
	var id ='';
	var city_id = 'bill_city';
	var state_id = 'bill_state';
	var zip_id = 'bill_zip';
	var country_id = 'bill_country';
	if(ta && ta=='sh') {
		id = '_'+ta;
		city_id = 'ship_city';
		state_id = 'ship_state';
		zip_id = 'ship_zip';
		country_id = 'ship_country';
	}
	checkPostCode(ta);
	var dis = document.getElementById('suburb_di'+id);
	var msg = document.getElementById('suburb_mg'+id);
	var frame = document.getElementById('suburb_sh'+id);
	var zip = document.UPDATEINFO.elements[zip_id];
	var country = document.UPDATEINFO.elements[country_id];
	var city = document.UPDATEINFO.elements[city_id];
	var city_in = document.getElementById('city_in'+id);
	var state = document.UPDATEINFO.elements[state_id];
	var state_in = document.getElementById('state_in'+id);
	var sel = document.getElementById('suburb_sl'+id);

	if(!zip.cvalue || zip.value!=zip.cvalue) {
		zip.cvalue = zip.value = zip.value.replace(new RegExp('\\D','g'), '').substr(0,4);
		msg.innerHTML = '<i>Loading...</i>';
		dis.style.display = 'none';
		msg.style.display = '';
		if(country.options[country.selectedIndex].value == 'AU') {
			city_in.value ='';
			state_in.value ='';
			city_in.disabled = true;
			state_in.disabled = true;
			if( zip.value == '' ) {
				msg.innerHTML = '<i>Please enter your billing country and postal code above.</i>';
			} else {
				var url = '/do/get_locate?zip='+escape(zip.value);
				var req = null;
				if(ta && ta=='sh')  {
					httpReq2 = getXMLHttpRequest();
					req = httpReq2;
				} else {
					httpReq = getXMLHttpRequest();
					req = httpReq;
				}

				if(!req) {
					msg.innerHTML = '<i>Error. Please contact our customer support: sales.com.au</i>';
				} else {
					req.onreadystatechange = function() {
						if(req.readyState == 4 && req.status == 200) {
							var data = req.responseText.split('\n');
							setSuburbSl(data, ta);
						}
					};
					req.open("GET",url,true);
					req.send(null);
				}
			}
		} else {
			city_in.disabled = false;
			state_in.disabled = false;
			msg.innerHTML = '<i>Please enter your billing suburb and state below.</i>';
		}
	}
}

function selectSuburb(ta) {
	var id ='';
	var city_id = 'bill_city';
	var state_id = 'bill_state';
	if(ta && ta=='sh') {
		id = '_'+ta;
		city_id = 'ship_city';
		state_id = 'ship_state';
	}

	var sel = document.getElementById('suburb_sl'+id);
	var city = document.UPDATEINFO.elements[city_id];
	var city_in = document.getElementById('city_in'+id);
	var state = document.UPDATEINFO.elements[state_id];
	var state_in = document.getElementById('state_in'+id);
	if(sel) {
		if(sel.selectedIndex > 0) {
			var sp = sel.options[sel.selectedIndex].value.split(' - ');
			if( sp.length > 1 ) {
				state_in.value =state.value = sp[sp.length-1];
				city_in.value =city.value = (sp.slice(0,sp.length-1)).join(' - ');
			}
		}
	}
}

function setSuburbSl(data, ta) {
	var id ='';
	var city_id = 'bill_city';
	var state_id = 'bill_state';
	if(ta && ta=='sh') {
		id = '_'+ta;
		city_id = 'ship_city';
		state_id = 'ship_state';
	}

	var dis = document.getElementById('suburb_di'+id);
	var msg = document.getElementById('suburb_mg'+id);

	var count = 0;
	if(data.length > 0) {
		var option = '<option value="">Select Suburb</option>';
		var city = document.UPDATEINFO.elements[city_id];
		var state = document.UPDATEINFO.elements[state_id];
		var sel_value = city.value+' - '+state.value;
		for(var i=0; i<data.length; i++) {
			if(data[i] != '') {
				option += '<option value="'+data[i]+'"'+(data[i] == sel_value? ' selected':'')+'>'+data[i]+'</option>';
				count++;
			}
		}
	}

	if(count <= 0) {
		msg.innerHTML = '<span class="text-danger">Invalid Post Code.</span>';
		dis.style.display = 'none';
		msg.style.display = '';
	} else {
		dis.innerHTML = '<select id="suburb_sl'+id+'" onChange="selectSuburb('+(ta && ta=='sh'?'\'sh\'':'')+')">'+option+'</select>';
		msg.style.display = 'none';
		dis.style.display = '';

		selectSuburb(ta);
	}

}
getlocation();
</script>
		<!--##[%END SITE_VALUE%]##-->

		<!--##[%DATA id:'error' if:'ne' value:''%]##-->
		<div class="alert alert-danger">
			[@error@]
		</div>
		<!--##[%END DATA%]##-->
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 name="billing" id="billing">Billing Information</h2>
				<div class="form-group">
					<label for="bill_first_name">First Name </label>
					<span class="small text-danger">Required</span>
					<input type="text" class="form-control" name="bill_first_name" id="bill_first_name" value="[@bill_first_name@]" maxlength="50">
				</div>
				<div class="form-group">
					<label for="bill_last_name">Last Name </label>
					<span class="small text-danger">Required</span>
					<input type="text" class="form-control" name="bill_last_name" id="bill_last_name" value="[@bill_last_name@]" maxlength="50">
				</div>
				<div class="form-group">
					<label for="bill_company">Company Name</label>
					<input type="text" class="form-control" name="bill_company" id="bill_company" value="[@bill_company@]" maxlength="50">
				</div>
				<div class="form-group">
					<label for="bill_country">Country </label>
					<span class="small text-danger">Required</span>
					<select class="form-control" name="bill_country" onChange="getlocation()">
						<!--##[%countries sortby:'sortorder,name' %]
[%PARAM *body%]##-->
						<option value="[@country_code@]" [%DATA id:'country_code' if:'eq' value:'[@bill_country@]'%]selected[%END DATA%]>[@country_name@]</option>
						<!--##[%END PARAM%]
[%END countries%]##-->
					</select>
				</div>
				<div class="form-group">
					<label for="bill_street1">Address </label>
					<span class="small text-danger">Required</span>
					<input class="form-control" type="text" name="bill_street1" value="[@bill_street1@]" maxlength="50">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="bill_street2" value="[@bill_street2@]" maxlength="50">
				</div>
				<div class="form-group">
					<label for="bill_zip">Post Code </label>
					<span class="small text-danger">Required</span>
					<input class="form-control" type="text" name="bill_zip" id="bill_zip" value="[@bill_zip@]" size="50" maxlength="10" onChange="getlocation()" onKeyUp="getlocation()">
				</div>
				<div class="form-group n-wrapper-form-control">
					<label for="suburb_sl">Suburb Selector </label>
					<span class="small text-danger">Required</span>
					<div id="suburb_di">
						<select class="form-control" id="suburb_sl" onChange="selectSuburb()">
							<option value="">Select Suburb</option>
						</select>
					</div>
					<div style="display:none;" id="suburb_mg">&nbsp;</div>
					<input type="hidden" id="state_in" value="[@bill_state@]" maxlength="50" onChange="document.UPDATEINFO.bill_state.value=this.value">
					<input type="hidden" id="city_in" value="[@bill_city@]" maxlength="50" onChange="document.UPDATEINFO.bill_city.value=this.value">
					<input type="hidden" name="bill_city" value="[@bill_city@]">
					<input type="hidden" name="bill_state" value="[@bill_state@]">
				</div>
				<div class="form-group">
					<label for="card_type">Preferred Payment Method </label>
					<span class="small text-danger">Required</span>
					<select class="form-control" name="card_type" id="card_type">
						<option value="">Select Payment Type</option>
						<!--##[%payment_methods sortby:'sortorder,name' %]
[%PARAM *body%]##-->
						<option value="[@id@]" [%DATA id:'id' if:'==' value:'[@card_type@]'%]selected[%END DATA%]>[@name@]</option>
						<!--##[%END PARAM%]
[%END payment_methods%]##-->
					</select>
				</div>
				<div class="form-group">
					<label for="order_comment">Default Order Instructions</label>
					<textarea class="form-control" cols="40" rows="4" name="order_comment" id="order_comment"><!--##[%NOHTML%][@order_comment@][%END NOHTML%]##--></textarea>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2 name="contact" id="contact">Contact Information</h2>
				<div class="form-group">
					<label for="email">Email Address</label>
					<span class="small text-danger">Required</span>
					<input class="form-control" type="text" name="email" id="email" size="50" value="[@email@]">
				</div>
				<div class="form-group">
					<label for="phone">Phone Number </label>
					<span class="small text-danger">Required</span>
					<input class="form-control" type="text" name="phone" id="phone" size="50" value="[@phone@]">
				</div>
				<div class="form-group">
					<label for="fax">Fax Number</label>
					<input class="form-control" type="text" name="fax" id="fax" size="50" value="[@fax@]">
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2 name="company" id="Company">Company Information</h2>
				<div class="form-group">
					<label for="usercustom2">ABN / ACN</label>
					<input class="form-control" type="text" name="usercustom2" id="usercustom2" size="20" maxlength="25" value="[@usercustom2@]">
				</div>
				<div class="form-group">
					<label for="usercustom3">Your Web Site URL</label>
					<input class="form-control"  type="text" name="usercustom3" id="usercustom3" size="100" maxlength="255" value="[@usercustom3@]">
				</div>
			</div>
			<!--##[%CONFIG id:'ALLOW_DROPSHIP_CHECKOUT' if:'=' value:'1'%]##-->
			<div class="col-xs-12 col-md-6">
				<h2>Dropshipping Information</h2>
				<h4>Customise the documentation we send out with your drop shipped orders.</h4>
				<label>Drop Shipping Documentation Footer (Will be displayed on footer of packing slips, labels etc)</label>
				<textarea class="form-control"  name="usercustom7" cols="50">[@usercustom7@]</textarea>
				<p class="help-block">(Instructions: Enter the text you would like to see on the footer of any documentation we send out to your customers. EG: Call 1300 123 567 to re-order. When you are finished click the &quot;save changes I have made&quot; button at the bottom of this page.)</p>
				<hr>
				<label>Dropshipping Company Logo (Will be displayed on header of packing slips, labels etc)</label>
				<img src="[%asset_url type:'user' id:'[@username@]' default:'[@config:imageurl@]/pixel.gif'%][%END asset_url%]?[@config:current_timestamp@]"><br>
				<input type="file" name="logo">
				<p class="help-block">(Instructions: Click browse to search
					your local computer for your company logo. Your logo
					should be in .JPG or .GIF format. When you are finished
					click the &quot;save changes I have made&quot; button
					at the bottom of this page.)</p>
				<label>Delete logo?</label>
				<input type="checkbox" name="dellogo" value="1">
			</div>
			<!--##[%END CONFIG%]##-->
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-3 col-md-offset-9">
			<input type="hidden" name="update" value="1">
				<input type="SUBMIT" class="btn btn-lg btn-block btn-success" value="Save Changes I Have Made">
			</div>
		</div>
	</form>
</div>
</div>
</div>
</div>