<li><div class="product" itemscope itemtype="http://schema.org/Product">
	<a href="[@URL@]" class="thumbnail-image">
		<img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">
	</a>	
</div></li>
