<!--##[%CACHE type:'gallery' id:'[@inventory_id@]'%]##-->
<div class="product" itemscope itemtype="http://schema.org/Product">
	<a href="[@URL@]" class="thumbnail-image">
		<img src="[%asset_url type:'product' thumb:'full' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">
	</a>
	<div class="caption">
		<h3 itemprop="name"><a href="[@URL@]" title="[@model@]"><!--##[%format type:'text' maxlength:'50' rmhtml:'1'%]##-->[@model@]<!--##[%END FORMAT%]##--></a></h3>
		<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			[%if [@inpromo@]%]
				<strong>Now [%if [@has_child@]%]&nbps;[%/if%]</strong>
				<span itemprop="price">[%format type:'currency'%][@promo_price@][%/format%]</span>
			[%else%]
				[%if [@has_child@]%]&nbsp;[%/if%]
				<span itemprop="price">[%format type:'currency'%][@store_price@][%/format%]</span>
			[%/if%]
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
		</p>
		<!--# BUYING OPTIONS # ##-->
		
		<!--# END PRODUCT BUYING OPTIONS # ##-->
	</div>
	<div class="savings-container">
		<!--##[%IF [@inpromo@]%]##-->
			<span class="label label-danger">On Sale</span>
		<!--##[%END IF%]##-->
		<!--##[%IF [@save@] > 0 AND ![@has_child@] %]##-->
			<span class="label label-warning">
			<!--##[%format type:'percent'%]##-->[@save@]<!--##[%END format%]##--> OFF</span>
		<!--##[%END IF%]##-->
		<!--##[%IF [@save@] > 0%]##-->
			<span class="label label-default">RRP <!--##[%format type:'currency'%]##-->[@retail@]<!--##[%END format%]##--></span>
		<!--##[%END IF%]##-->
	</div>
</div>
<!--##[%END CACHE%]##-->
