<!--[SUBJECT:[$COMPANY_NAME$] Wish List Reminder [@wishlist_name@] ]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[@secondary_email@]]-->
Dear [@bill_first_name@],
<p>
Wish List [@wishlist_name@]:
</p>
<p>
[%thumb_list type:'products' sortby:'wishlist' filter_wishlist:'[@wishlist_id@]' filter_wishlistpurchased:'n'%]
[%PARAM header%]
[%END PARAM%][%PARAM *body%]
	[@model@] (SKU:[@SKU@])<br />
[%END PARAM%][%PARAM *footer%]
[%END PARAM%]
[%END thumb_list%]
</p>
[%content_zone id:'email_signature'%][%end content_zone%]