<div class="container">
<div class="row">
<div class="col-xs-12">
<!--##[%load_template file:"includes/sidebar.template.html"%][%END load_template%]##-->

<h1>Wholesale Registration Form</h1>
<p>If you already have an account with us, please login at the <a href="[%url page:'account' type:'login'%][%END url%]">login page</a>.</p>

<!--##[%TRIM inner:'1'%][%PARAM body%]##-->
<!--##[%show_message severity:'error'%][%PARAM header%]##-->

<!--##[%END PARAM%][%PARAM *body%]##-->
	<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>[@info_msg@]</div><!--##[%END PARAM%]##-->
<!--##[%PARAM footer%]##-->

<!--##[%END PARAM%][%END show_message%]##-->
<!--##[%END PARAM%][%END TRIM%]##-->

<form name="adduser" id="adduser" method="POST" action="[%url page:'account' type:'wholesaleregister'%][%END url%]" class="form-horizontal">
	<!--##[%SUBMIT_TOKEN%][%END SUBMIT_TOKEN%]##-->
	<input type="hidden" name="fn" value="proc">
	<input type="hidden" name="redirect" value="[@redirect@]">

<div class="">
	<h3>Your Future Login Details</h3>
	<div class="form-group">
		<label class="control-label col-sm-3">Username<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text"  name="reg_username" size="20" maxlength="15" value="[%nohtml%][%FORM id:'reg_username'%][%END FORM%][%end nohtml%]" class="form-control">
			<p class="help-block">(used for future access to your account)</p>
		</div>

	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Email Address<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_email" size="35" value="[%nohtml%][%FORM id:'reg_email'%][%END FORM%][%end nohtml%]" class="form-control">
			<p class="help-block">(order receipts &amp; invoices will be sent here)</p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Password<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="password"  name="reg_password" size="20" maxlength="20" value="[%nohtml%][%end nohtml%]" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Confirm Password<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="password"  name="reg_password2" size="20" maxlength="20" value="[%nohtml%][%end nohtml%]" class="form-control">
		</div>
	</div>

</div>
<div class="">

	<h3>Company Information</h3>
	<div class="form-group">
		<label class="control-label col-sm-3">First Name<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_bill_first_name" size="50" value="[%nohtml%][%FORM id:'reg_bill_first_name'%][%END FORM%][%end nohtml%]" maxlength="50" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Last Name<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_bill_last_name" size="50" value="[%nohtml%][%FORM id:'reg_bill_last_name'%][%END FORM%][%end nohtml%]" maxlength="50" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Company Name<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_bill_company" size="50" value="[%nohtml%][%FORM id:'reg_bill_company'%][%END FORM%][%end nohtml%]" maxlength="50" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Address<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_bill_street1" size="50" value="[%nohtml%][%FORM id:'reg_bill_street1'%][%END FORM%][%end nohtml%]" maxlength="50" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<input type="text" name="reg_bill_street2" size="50" value="[%nohtml%][%FORM id:'reg_bill_street2'%][%END FORM%][%end nohtml%]" maxlength="50" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Post Code<span style="color:red;">*</span></label>
		<div class="col-sm-3">
			<input type="text" name="reg_bill_zip" value="[%nohtml%][%FORM id:'reg_bill_zip'%][%END FORM%][%end nohtml%]" size="50" maxlength="10" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Suburb<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_bill_city" size="50" value="[%nohtml%][%FORM id:'reg_bill_city'%][%END FORM%][%end nohtml%]" maxlength="50" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">State<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_bill_state" value="[%nohtml%][%FORM id:'reg_bill_state'%][%END FORM%][%end nohtml%]" size="50" maxlength="50" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Country<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<select name="reg_bill_country" class="form-control">
				<!--##[%countries sortby:'sortorder,name' %]
					[%PARAM *body%]##-->
						<option value="[@country_code@]" [%FORM id:'reg_bill_country' if:'eq' value:'[@country_code@]'%]selected[%END FORM%]>[@country_name@]</option>
					<!--##[%END PARAM%]
				[%END countries%]##-->
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">ABN / ACN</label>
		<div class="col-sm-9">
			<input type="text" name="reg_usercustom2" size="50" value="[%nohtml%][%FORM id:'reg_usercustom2'%][%END FORM%][%end nohtml%]" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Web Site URL</label>
		<div class="col-sm-9">
			<input type="text" name="reg_usercustom3" size="50" value="[%nohtml%][%FORM id:'reg_usercustom3'%][%END FORM%][%end nohtml%]" class="form-control">
		</div>
	</div>

</div>
<div class="">
	<h3>Contact Information</h3>

	<div class="form-group">
		<label class="control-label col-sm-3">Phone Number<span style="color:red;">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="reg_phone" size="35" value="[%nohtml%][%FORM id:'reg_phone'%][%END FORM%][%end nohtml%]" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Fax Number</label>
		<div class="col-sm-9">
			<input type="text" name="reg_fax" size="35" value="[%nohtml%][%FORM id:'reg_fax'%][%END FORM%][%end nohtml%]" class="form-control">
		</div>
	</div>
</div>


<!--##[%EXTRA_CUSTOMER_FIELDS%]
[%PARAM *header%]##-->
<div class="">
<h3>Other Details</h3>
<!--##[%END PARAM%]
[%PARAM *integer_option%]##-->
<div class="form-group">
	<label class="control-label col-sm-3">[@field_name@]</label>
	<div class="col-sm-9">
		<input type="text" name="[@field_id@]" value="[%NOHTML%][@default_value@][%END NOHTML%]" class="form-control">
	</div>
</div>
<!--##[%END PARAM%]
[%PARAM *text_option%]##-->
<div class="form-group">
	<label class="control-label col-sm-3">[@field_name@]</label>
	<div class="col-sm-9">
		<input type="text" name="[@field_id@]" value="[%NOHTML%][@field_default@][%END NOHTML%]" class="form-control">
	</div>
</div>
<!--##[%END PARAM%]
[%PARAM *short_text_option%]##-->
<div class="form-group">
	<label class="control-label col-sm-3">[@field_name@]</label>
	<div class="col-sm-9">
		<input type="text" name="[@field_id@]" value="[%NOHTML%][@field_default@][%END NOHTML%]" class="form-control">
	</div>
</div>
<!--##[%END PARAM%]
[%PARAM *descimal_option%]##-->
<div class="form-group">
	<label class="control-label col-sm-3">[@field_name@]</label>
	<div class="col-sm-9">
		<input type="text" name="[@field_id@]" value="[%NOHTML%][@default_value@][%END NOHTML%]" class="form-control">
	</div>
</div>
<!--##[%END PARAM%]
[%PARAM *boolean_option%]##-->
<div class="form-group">
	<label class="control-label col-sm-3">[@field_name@]</label>
	<div class="col-sm-9">
		<input type="checkbox" name="[@field_id@]" value="y" [%DATA id:'default_value' if:'eq' value:'y'%]checked[%END DATA%] class="form-control">
	</div>
</div>
<!--##[%END PARAM%]
[%PARAM *date_option%]##-->
<div class="form-group">
	<label class="control-label col-sm-3">[@field_name@]</label>
	<div class="col-sm-9">
		<input class="datepicker" name="[@field_id@]" id="[@field_id@]" type="text" value="[%NOHTML%][@default_value@][%END NOHTML%]" class="form-control">
	</div>
</div>
<!--##[%END PARAM%]
[%PARAM *selection_header%]##-->
<div class="form-group">
	<label class="control-label col-sm-3">[@field_name@]</label>
	<div class="col-sm-9">
		<select name = "[@field_id@]" >
			<!--##[%END PARAM%]
			[%PARAM *selection_body%]##-->
				<option value="[@option_value@]">[@option_value@]</option>
			<!--##[%END PARAM%]
		[%PARAM *selection_footer%]##-->
		</select>
	</div>
</div>
<!--##[%END PARAM%]
[%PARAM *footer%]##-->
</div>
<!--##[%END PARAM%]
[%END EXTRA_CUSTOMER_FIELDS%]##-->
<div class="">

    <h3>&nbsp;Terms &amp; Conditions Of Trade</h3>
	<div style="width:100%; border:1px solid #CCCCCC; height: 150px; overflow:scroll; text-align:left; padding:10px;">
		[%content_zone id:'wholesale_terms'%][%end content_zone%]
	</div>
	<p>
		<input type="checkbox" name="regoptin" value="Y" [%FORM id:'regoptin' if:'eq' value:'Y'%]checked[%END FORM%]>  Subscribe to the [@config:company_name@] newsletter.
	</p>
	<p>
		<input type="checkbox" name="agree" value="y">
		I agree to the [@config:company_name@] terms of trade.
	</p>
</div>

	<input type="submit" class="btn btn-lg btn-primary" value="Click Here to Register">
</form>

</div>
<!--##[%GA_FUNNEL%]/wholesaleregister/form.html[%END GA_FUNNEL%]##-->
</div>
</div>
</div>