<!--[SUBJECT: Your Credit Card Has Been Successfully Charged By [$COMPANY_NAME$]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
Dear [@bill_first_name@],<br />
<p>Your credit card has been successfully charged by [$company_name$] for the amount of <b><!--##[%format type:'currency'%]##-->[@amount@]<!--##[%END format%]##--></b> for <b>Order # [@order_id@]</b> as per your agreement with us. Please see details of this payment below.
</p>
<p>
You can view and print Order # [@order_id@] online by going to: <a href="[%URL page:'account' type:'view_order' id:'[@order_id@]'%][%END URL%]">[%URL page:'account' type:'view_order' id:'[@order_id@]'%][%END URL%]</a>. </p>
<p>For all ordering history please go to: <a href="[%URL page:'account'%][%END URL%]">[%URL page:'account'%][%END URL%]</a>
</p>
<p>
<b>Transaction Details</b><br />
Amount Paid In This Transaction: <!--##[%format type:'currency'%]##-->[@amount@]<!--##[%END format%]##--><br />
Order Grand Total: <!--##[%format type:'currency'%]##-->[@grand_total@]<!--##[%END format%]##--><br />
Recurring Payment ID: [@rec_payment_id@]<br />
</p>
<p>
<b>Credit Card Card Charged:</b><br />
Credit Card Type: [@payment_name@]<br />
Card Holder Name: [@card_holder@]<br />
Card Number: [@card_number@]<br />
Expiry Date: [@card_exp_month@]/[@card_exp_year@]
</p>
Please contact us or reply to this email if you have any questions relating to this transaction.
</p>
<p>
Regards, <br />
[$company_name$]<br />
[$homeurl$]
