<div class="container">
<div class="row">
<div class="col-xs-12">

<!--# Start Breadcrumb# ##--> 
<ul class="breadcrumb"> 
<li><a href="[@config:home_url@]">Home</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
<li><a href="[%URL page:'account' type:'documents'%][%END URL%]">Files</a></li>
</ul>
<!--# End Breadcrumb# ##--> 

<div class="page-header">
<h1>My Files</h1>
</div>


<!--##[%customer_filelist id:'[@username@]'%]
[%PARAM *header%]##-->
<table class="table table-bordered table-striped">
<thead>
    <tr>
      <th>File Name</th>
      <th>Download</th>
    </tr>
</thead>
<tbody>
<!--##[%END PARAM%]
[%PARAM *body%]##-->
	<tr> 
	<td nowrap>[@filename@]</td>
	<td nowrap><a href="[@uri@]"><button type="button" class="btn btn-default" title="Download"><i class="fa fa-folder-open"></i> Download</button></a></td>
 </tr>
<!--##[%END PARAM%]
[%PARAM *footer%]##-->
</tbody>
</table>
<!--##[%END PARAM%]
[%PARAM *ifempty%]##-->
We do not have any files stored on your account. 
<!--##[%END PARAM%]
[%END customer_filelist%]##-->

</div>

</div>
</div>