[%load_template file:'printdocs/includes/styles.template.html'/%]
[%shipping_manifest id:'[@MANIFEST_ID@]' module:'eparcel' date_manifest:'[@date_manifest@]'%]
[%param *header%]
<h1>Print Manifest Report</h1>
<h3>Australia Post Manifest for [@DATA:LODGEMENT_TITLE@]</h3>
<h4><strong>Manifest Created Date: :</strong> [@date_manifest@]</h4>
<h4><strong>Manifest Number :</strong> [@DATA:MANIFEST_NUMBER@]</h4>
<h4><strong>Merchant ID :</strong> [@DATA:MERCHANT_ID@]</h4>
<h4><strong>Merchant Location ID :</strong> [@DATA:LOCATION_ID@]</h4>
<h4><strong>Australia Post Account<br>
	Number :</strong> [@DATA:MERCHANT_ACC@]</h4>
<h4><strong>Lodgement Facility :</strong> [@DATA:LODGEMENT_CODE@] - [@DATA:LODGEMENT_LOCATION@]</h4>
<table class="table">
	<tr>
		<th>Consignment #</th>
		<th>Article Nbr</th>
		<th>DeliverTo</th>
		<th>Postcode</th>
		<th>Country</th>
		<th>Charge Code Description</th>
		<th>Charging Zone</th>
		<th>Dngrous Goods</th>
		<th>Total Articles in Consgmt</th>
		<th>Extra/ Transit Cover</th>
		<th>Cubic Weight</th>
		<th>Actual Weight</th>
		<th>Chargeable Weight</th>
	</tr>
[%/param%]
[%param *body%]
	<tr>
		<td>[@cngmt_number@]</td>
		<td>[@article_number@]</td>
		<td>[@name@]</td>
		<td>[@ship_zip@]</td>
		<td>[@ship_country_name@]</td>
		<td>[@shserv_name@]</td>
		<td>[@zone_code@]</td>
		<td>[@danger_txt@]</td>
		<td class="text-right">[@art_total@]</td>
		<td>[@tran_txt@]</td>
		<td class="text-right">[@cubic@]</td>
		<td class="text-right">[@shipping@]</td>
		<td class="text-right">[@charge@]</td>
	</tr>
[%/param%]
[%param *stotal_body%]
	<tr>
		<td colspan="8" class="text-right"><strong>Subtotal</strong> <span class="text-muted">for [@stotal_con@] [@cng_txt@]</span></td>
		<td class="text-right">[@stotal_art@]</td>
		<td>&nbsp;</td>
		<td class="text-right">[@stotal_cubic@]</td>
		<td class="text-right">[@stotal_shipping@]</td>
		<td class="text-right">[@stotal_charge@]</td>
	</tr>
[%/param%]
[%param *total_body%]
	<tr>
		<td colspan="8" class="text-right"><strong>Total</strong> <span class="text-muted">for [@total_con@]</span></td>
		<td class="text-right">[@total_art@]</td>
		<td>&nbsp;</td>
		<td class="text-right">[@total_cubic@]</td>
		<td class="text-right">[@total_shipping@]</td>
		<td class="text-right">[@total_charge@]</td>
	</tr>
[%/param%]
[%/shipping_manifest%]
</table>
<div class="row">
	<div class="col-xs-8">
		<h3>For Australia Post Use</h3>
		<div class="row">
			<div class="col-xs-6">
				<p class="underline-field">Checked by : </p>
				<p class="underline-field">Time received : </p>
				<p class="underline-field">Date received : </p>
				<p class="underline-field">Number of ULDs : </p>
			</div>
			<div class="col-xs-6">
				<p class="underline-field">Approx no. of articles : </p>
				<p class="underline-field">Type of revenue check : </p>
				<p class="underline-field">Acceptance scan performed <span class="text-muted">
						(date/time/initials)</span> : </p>
				<p class="underline-field">Accepted in eParcel system <span class="text-muted">
						(date/time/initials)</span> :</p>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<p class="underline-field">Sender's signature</p>
	</div>
</div>
