[%load_template file:'printdocs/includes/styles.template.html'/%]
<h1>Print Manifest Report</h1>
<h3>[@DATA:SHACC_NAME@] Manifest for [@DATA:LODGEMENT_TITLE@]</h3>
<h4><strong>Customer's Address :</strong> [@DATA:LODGEMENT_ADDRESS@]</h4>
<h4><strong>Manifest Number :</strong> [@DATA:MANIFEST_ID@]</h4>
<h4><strong>Account ID :</strong> [@DATA:MERCHANT_ID@]</h4>
<h4><strong>Merchant Location ID :</strong> [@DATA:LOCATION_ID@]</h4>
<h4><strong>Account Name :</strong> [@DATA:MERCHANT_ACC@]</h4>
<table class="table">
	<tr>
		<td>Cnsgmt Nbr</td>
		<td>Article Nbr</td>
		<td>DeliverTo</td>
		<td>Suburb / Postcode</td>
		<td>Country</td>
		<td>&nbsp;</td>
		<td>Dngrous Goods</td>
		<td>Total Articles in Consgmt</td>
		<td>Extra/ Transit Cover</td>
		<td>Cubic Weight</td>
		<td>Actual Weight</td>
		<td>Chargeable Weight</td>
	</tr>
[%shipping_manifest id:'[@MANIFEST_ID@]' module:'fastways'%]
[%param *body%]
	<tr>
		<td>[@cngmt_number@]</td>
		<td>[@article_number@]</td>
		<td>[@name@]</td>
		<td>[@ship_city@][@ship_zip@]</td>
		<td>[@ship_country_name@]</td>
		<td>&nbsp;</td>
		<td>[@danger_txt@]</td>
		<td class="text-right">[@art_total@]</td>
		<td>[@tran_txt@]</td>
		<td class="text-right">[@cubic@]</td>
		<td class="text-right">[@shipping@]</td>
		<td class="text-right">[@charge@]</td>
	</tr>
[%/param%]
[%param *total_body%]
	<tr>
		<td colspan="7" class="text-right"><strong>Total</strong> <span class="text-muted">for [@total_con@]</span></td>
		<td class="text-right">[@total_art@]</td>
		<td>&nbsp;</td>
		<td class="text-right">[@total_cubic@]</td>
		<td class="text-right">[@total_shipping@]</td>
		<td class="text-right">[@total_charge@]</td>
	</tr>
[%/param%]
[%/shipping_manifest%]
</table>
<div class="row">
	<div class="col-xs-4">
		<p><strong>For [@DATA:SHACC_NAME@] Use</strong></p>
		<p class="underline-field">Checked by :</p>
		<p class="underline-field">Time received :</p>
		<p class="underline-field">Date received :</p>
		<p class="underline-field">Number of articles :</p>
	</div>
	<div class="col-xs-4 col-xs-offset-4">
	<p class="underline-field">Sender's signature :</p>
	</div>
</div>
