html{
	font-size: 16px;
}
body {
	font-family: "Lato", Helvetica, Arial, sans-serif /*{body-font-family}*/;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px /*{body-font-size}*/;
	color: #FFFFFF /*{body-font-colour}*/;
	background-image:none /*{body-background-image}*/;
	background-color: #000000 /*{body-background-colour}*/;
}

// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 360;
$max_width: 1200;
// These values represent the range of fon-tsize to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font: 16;
$max_font: 16; 

:root { font-size: #{$min_font}px; }
// This part is a little bit ugly, I will explain what is going on in a blog post soon.
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
  :root { 
    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
  }
}
@media (min-width: #{$max_width}px){
   :root { 
     font-size: #{$max_font}px;
   }
}

svg{
	overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
	letter-spacing: 0.05em;
}
.container{
	@media (min-width: 1460px){
		width: 1430px;
	}
}
.carousel-caption h3,.carousel-caption .h3,.carousel-caption p {
	color: white /*{carousel-text-colour}*/;
}
h1,
.h1 {
	font-size: rem(45);/*{header-1-font-size}*/
}
h2,
.h2 {
  font-size: rem(30) /*{header-2-font-size-mobile}*/;
  @media (min-width: $screen-sm){
	 font-size: rem(45) /*{header-2-font-size}*/;
  }
}
h3,
.h3 {
	font-size: rem(30) /*{header-3-font-size}*/;
}
h4,
.h4 {
	font-size: 18px /*{header-4-font-size}*/;
}
h5,
.h5 {
	font-size: 14px /*{header-5-font-size}*/;
}

.logo {
	max-width:100%;
}
.well{
	background: none;
	border: none;
	padding: 20px 0;
}
.link {
  cursor: pointer;
}
.swatch{
	text-decoration: none;
	display: inline-block;
	border: 1px solid #b9b9b9;
	@include border-radius(50%);
	width: rem(35);
	height: rem(35);
	vertical-align: middle;
	margin-right: rem(10);
  margin-bottom: rem(10);
	position: relative;
	background-position: center center;
	background-size:cover;
  cursor: pointer;
	/*&:before{
		position: absolute;
		top: 0;
		left: 0; 
		width: 100%;
		height: 100%;
		border: 1px solid transparent;
		@include border-radius(50%);
		content: " ";
	}*/
	&._itmspec_selected{
		//&:before{
			border: 4px solid #5434f6;			
		//}

	}
}

.btn{
  background: none;
  border-radius: 0;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  letter-spacing: 0.08em;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
  text-align: center;
  position: relative;
  z-index: 0;
  @include transition(color 0.3s ease-out, border-color 0.3s ease-out);
  &:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background: $link-color;
    @include transition(width 0.3s ease-out);
  }
  &:hover{
    color: white;
    border-color: $link-color;
    &:before{
      width: 100%;
    }
  }
}

.btn-black{
  color: black;
  border: 1px solid black;
  position: relative;
  z-index: 0;
  &:hover{
    color: white;
    border-color: $link-color;    
  }
}

.btn-filled {
  background: black;
  color: white
}
.form-control{
 &.input-medium{
    height: 40px;
  }
}
.btn-filled.btn-white {
  background: white;
  color: white
}
.btn-purple, .btn-success{
  color: white;
  border: 1px solid $purple;
  background: $purple;
  position: relative;
  z-index: 0;
  &:before{
    background: white;
  }
  &:hover{
    color: $purple;
    border-color: $purple;    
  }
}
.btn-link{
  border: none;
  border-bottom: 1px solid white;
  padding: 0;
  padding-bottom: 10px;
  text-decoration: none;
  &:hover{
    color: $purple;
    text-decoration: none;
  }
  &:before{
    content: "";
    display: none;
  }
}
.page-header{
  border: none;
}
img {
  max-width: 100%;
}

.checkbox{
  label{
    position: relative;
    padding-left: 30px;
    &:before{
      content: ' ';
      display: block;
      border: 1px solid white;
      width: 19px;
      height: 19px;
      position: absolute;
      left: 0;
      top: 2px;
    }
    &:after{
      content: ' ';
      display: block;
      position: absolute;
        top: 8px;
        left: 6px;
        width: 7px;
        height: 7px;
      //@include border-radius(50%);
      padding: 0;
      background: $link-color;
      opacity: 0;
      @include transform(scale(0));
      @include transition(opacity 0.3s ease-out, transform 0.3s ease-out);
    }
  }
  input{
    display: none;
  }
  input:checked + label{
    &:after{
      opacity: 1;
      @include transform(scale(1));
    }
  }
}
.radio{
  label{
    position: relative;
    padding-left: 30px;
    &:before{
      content: ' ';
      display: block;
      border: 1px solid white;
      width: 19px;
      height: 19px;
      @include border-radius(50%);
      position: absolute;
      left: 0;
      top: 2px;
    }
    &:after{
      content: ' ';
      display: block;
      position: absolute;
        top: 8px;
        left: 6px;
        width: 7px;
        height: 7px;
      @include border-radius(50%);
      padding: 0;
      background: $link-color;
      opacity: 0;
      @include transform(scale(0));
      @include transition(opacity 0.3s ease-out, transform 0.3s ease-out);
    }
  }
  input{
    display: none;
  }
  input:checked + label{
    &:after{
      opacity: 1;
      @include transform(scale(1));
    }
  }
}
select.form-control{
  @include border-radius(0);
  border: 1px solid white;
  height: 40px;
}
.modal-content{
  color: white;
}