@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em
}
@function rem($pixels, $context: 16) {
  @return #{$pixels/$context}rem
}

@mixin clearfix(){
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin reset-clearfix(){
    &:before {
      content: none;
    }
    &:after {
      content: '';
    }
}

// Max breakpoint
$max-breakpoint: 1230px / 1px;
// This could be one of your media query breakpoint variables

// Function
@function get-vw($target, $max-breakpoint: $max-breakpoint) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($max-breakpoint * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}

// Mixin
@mixin vw($size, $breakpoint: $max-breakpoint) {
  font-size: get-vw($size, $breakpoint);
  // Prevent font-size from getting too big
  @media (min-width: #{$breakpoint}px) {
    font-size: $size;
  }
}


@mixin border-radius($radius){
  -webkit-border-radius:  $radius;
  -moz-border-radius:       $radius;
  -ms-border-radius:    $radius;
  border-radius:      $radius;  
}
@mixin box-shadow($box-shadow){
  -webkit-box-shadow:   $box-shadow;
  -moz-box-shadow:       $box-shadow;
  -ms-box-shadow:     $box-shadow;
  box-shadow:       $box-shadow;  
}
@mixin box-sizing($box-sizing){
  -webkit-box-sizing:   $box-sizing;
  -moz-box-sizing:       $box-sizing;
  -ms-box-sizing:     $box-sizing;
  box-sizing:       $box-sizing;  
}
@mixin transform($transform){
  -webkit-transform:   $transform;
  -moz-transform:       $transform;
  -ms-transform:     $transform;
  -o-transform:     $transform;
  transform:       $transform;  
}
@mixin filter($filter){
  -webkit-backdrop-filter: $filter;
  -webkit-filter:   $filter;
  -moz-filter:       $filter;
  -ms-filter:     $filter;
  -o-filter:     $filter;
  filter:       $filter;  
}
@mixin backface-visibility($value){
  -webkit-backface-visibility: $value;
  -webkit-backface-visibility:   $value;
  -moz-backface-visibility:       $value;
  -ms-backface-visibility:     $value;
  -o-backface-visibility:     $value;
  backface-visibility:       $value;  
}
@function prefix($property, $prefixes: (webkit moz o ms)) {
    $vendor-prefixed-properties: transform background-clip background-size;
    $result: ();
    @each $prefix in $prefixes {
       @if index($vendor-prefixed-properties, $property) {
         $property: -#{$prefix}-#{$property}
       }
       $result: append($result, $property);
    }
    @return $result;
}

@function trans-prefix($transition, $prefix: moz) {
    $prefixed: ();
    @each $trans in $transition {
        $prop-name: nth($trans, 1);
        $vendor-prop-name: prefix($prop-name, $prefix);
        $prop-vals: nth($trans, 2);
        $prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
    }

    @return $prefixed;
}


@mixin transition($values...) {
    $transitions: ();
    @each $declaration in $values {
        $prop: nth($declaration, 1);
        $prop-opts: ();
        $length: length($declaration);
        @for $i from 2 through $length {
            $prop-opts: append($prop-opts, nth($declaration, $i));
        }
        $trans: ($prop, $prop-opts);
        $transitions: append($transitions, $trans, comma);
    }

    -webkit-transition: trans-prefix($transitions, webkit);
    -moz-transition: trans-prefix($transitions, moz);
    -o-transition: trans-prefix($transitions, o);
    transition: $values;
}
@mixin transition-none(){
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
@mixin transition-delay($delay...){
    -webkit-transition: $delay;
    -moz-transition: $delay;
    -o-transition: $delay;
    transition: $delay;
}
@mixin appearance($value){
  -webkit-appearance:   $value;
  -moz-appearance:       $value;
  -ms-appearance:     $value;
  -o-appearance:     $value;
  appearance:       $value;   
}
@mixin keyframes($name) {
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

 

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
@mixin placeholder-firefox {
   @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
}

@mixin make-grid-columns-gutter($grid-gutter,$i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }
  #{$list} {
    // Inner gutter via padding
    padding-left:  ceil(($grid-gutter / 2));
    padding-right: floor(($grid-gutter / 2));
  }
}