<!--[SUBJECT:[@voucher_title@] - [@voucher_code@]]-->
<!--[TO:[@recipient_email@]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[BCC:]-->

To [@recipient_name@], 

<p>
[@sender_name@] has sent you a gift voucher to use at [$home_url$]. Below are the voucher details. You will be able to redeem your voucher at the checkout page on [$home_url$].
</p>

<p>
<b>Message from [@sender_name@]:</b><br>
[%format type:'text' nohtml:'1' addbr:'1'%][@message@][%END format%]
</p>

<p>
Voucher Details:<br>
<b>Voucher Code:</b> [@voucher_code@]<br>
<b>Voucher Secret Key:</b>  [@voucher_secret@]<br>
<b>Voucher Value:</b> [%DATA id:'show_points' if:'==' value:'1'%][%PARAM if_true%]
	[%format type:'number' dp:'0' sp:','%][@reward_points@][%END format%]pts
[%END PARAM%][%PARAM if_false%]
[%format type:'currency'%][@reward_amount@][%END format%]
[%END PARAM%][%END DATA%]<br>
[%format type:'date' format:'Valid from #d #k #Y #g:#I #a' default:''%][@vprogram_use_start@][%END format%]
</p>
<p>
<b>Instructions for using your voucher:</b><br>
Enter the above voucher code and secret key at the last stage of checkout on [$home_url$]. The value of the voucher will then be applied to your order. Any outstanding balance can be paid with the payment methods available on [$home_url$]. If you do not spend the entire voucher value in single transaction, the remaining balance will be available on your account for future use.
</p>

[%DATA id:'voucher_once' if:'eq' value:'y'%]
<p>
	<b>NOTE:</b> This voucher can only be used once. Any unused credit will not be available for future use.
</p>
[%END DATA%]


<p>
Enjoy!<br>
[$home_url$]
</p>