<!--[SUBJECT:[$COMPANY_NAME$] - Standing Order Delaying Notice]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
 
Hi [@bill_first_name@],<br />
<p>
We have received your change in your standing order.<br/>
Your next order will be dispatched on [%FORMAT type:'date' format:'#D/#M/#Y'%][@date_next@][%END FORMAT%]
</p>
<p>
You may be interested  to know that existing customers have two options that we don't allow straight off to new customers.
</p>
<p>
<ul>
	<li>You can arrange for your standing order to be shipped every four months instead of every three months.</li>
	<li>You can arrange for your standing order payment to be split into three equal payments : One third on shipment , then one payment the next month and one and last payment in the third month</li>
</ul>	
</p>
<p>
If you think either one or both these options would suit you, then please reply to this email with your required changes , and we will ensure the system is updated . If there is anything else we can do for you to help you enjoy your Lavazza coffee, just let us know.	
</p>

Regards, <br />
[$company_name$]<br />
[$homeurl$]