<div class="container">
<div class="row">
<div class="col-xs-12">
	<h1 class="page-header">Your Comment Has Been Posted!</h1>
	<p class="lead">
		Thank you for taking the time to write a comment. Your comment has been posted and if it meets our content posting terms and conditions it will appear on our website shortly.
	</p>
	<p>
		<a href="[%URL type:'home'%][%END URL%]" class="btn btn-default"> Click here to go to our home page</a>
	</p>
</div>
</div>
</div>