<!--[SUBJECT:[$COMPANY_NAME$] Order Notification #[@proc_number@]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@supplier_email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
[%content_zone id:'emailsupplier_header'%][%end content_zone%]
<hr size="1">
[%SUPPLIER_ORDER_LIST supplier:'[@mid@]' orders:'[@orders@]'%]
[%PARAM *header%]
Order #[@order_id@]<br>
<br>
[@ship_first_name@] [@ship_last_name@]<br>
[%DATA id:'ship_company' if:'ne' value:''%][@ship_company@]<br>[%END DATA%]
[@ship_street1@]<br>
[%DATA id:'ship_street2' if:'ne' value:''%][@ship_street2@]<br>[%END DATA%]
[@ship_city@], [@ship_state_name@] [@ship_zip@]<br>
[@ship_country_name@]<br>
[%DATA id:'ship_phone' if:'ne' value:''%]PH: [@ship_phone@][%END DATA%]
[%DATA id:'ship_fax' if:'ne' value:''%]FAX: [@ship_fax@][%END DATA%]
[%FORMAT type:'date' format:'Delivery Date: #Y-#M-#D (#H:#I)<br>'%][@date_delivery@][%END FORMAT%]
[%DATA id:'ship_comment' if:'ne' value:''%]
Shipping Instruction:<br />
[%NOHTML%][@ship_comment@][%END NOHTML%]
[%END DATA%]
<hr size="1">
[%END PARAM%]
[%PARAM *body%]
[@quantity@] x [@description@] [@extra@] ([@supplier_SKU@]) | Our Code: [@SKU@] | Unit Cost: [%FORMAT type:'currency'%][@unit_cost@][%END FORMAT%]
<br />
[%END PARAM%]
[%PARAM *footer%]
<hr size="1">
[%END PARAM%]
[%END SUPPLIER_ORDER_LIST%]
[%content_zone id:'emailsupplier_footer'%][%end content_zone%]
<br>
