<!--[SUBJECT:[$COMPANY_NAME$] - Standing Order Reminder Notice]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
<!--##[%show_standing_order id:'[@storder_id@]' customer:'[@username@]'%]
[%PARAM *header%]##-->
Dear [@bill_first_name@],<br />
<p>
This is just a friendly reminder that we will be automatically processing and sending you your standing order # [@storder_id@] in two days time. If you have opted to pay for this standing order with a credit card please ensure that you have funds available to pay for this order.
</p>
<p>
<b>Please Note:</b> You still have time to view, change or stop your standing order before it is sent to you. To view, change or stop your standing order before it is sent to you please contact us or go to: <a href="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]'%][%END URL%]">[%URL page:'account' type:'standing_orders' id:'[@storder_id@]'%][%END URL%]</a>
</p>
<p>
The following credit card is on file to be used for this order. If this credit card has expired or if you would like to change the credit card on file please go to: <a href="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=update_payment'%][%END URL%]">[%URL page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=update_payment'%][%END URL%]</a>
</p>
<p>
Credit Card Type: [@payment_name@]<br />
Card Holder Name: [@card_holder@]<br />
Card Number: [@card_number@]<br />
Expiry Date: [@card_exp_month@]/[@card_exp_year@]
</p>
<hr />
--------------------------------------------------------<br />
Standing Order #[@storder_id@] Summary<br />
--------------------------------------------------------<br />
<!--##[%DATA id:'terms_type' if:'ne' value:'once'%]##-->
Order ships every <b>[@terms_num_times@] [@terms_type@](s)</b> From <b><!--##[%format type:'date'%]##-->[@first_date@]<!--##[%END format%]##--></b><br />
--------------------------------------------------------<br />
<!--##[%END DATA%]##-->
<!--##[%DATA id:'payment_terms_type' if:'ne' value:''%]##-->
<!--##[%DATA id:'payment_terms_type' if:'ne' value:'once'%]##-->
Payment will be processed every <b>[@payment_terms_num_times@] [@payment_terms_type@](s)</b>  from time of order<br />
--------------------------------------------------------<br />
<!--##[%END DATA%]##-->
<!--##[%END DATA%]##-->
ITEMS ON ORDER<br />
--------------------------------------------------------<br />
<!--##[%END PARAM%]
[%PARAM *body%]##-->
[@qty@] x [@model@] <i>[@extra@]</i>
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_RENTAL_ID$]' %]##-->&nbsp; <b>Rental</b><!--##[%END DATA%]##-->
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_EBAY_ID$]' %]##-->&nbsp; <b>EBay ID: [@aff_ref@]</b><!--##[%END DATA%]##-->
<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_FREE_ID$]' %]##-->&nbsp; <b>Free Gift</b><!--##[%END DATA%]##-->
([@SKU@]) - [%FORMAT type:'currency'%][@price@][%END FORMAT%]ea
<!--##[%DATA id:'discount' if:'>' value:'0' %]##-->Discounts: <!--##[%format type:'currency'%]##-->-[@discount@]<!--##[%END format%]##--><!--##[%END DATA%]##-->
Sub Total: <!--##[%format type:'currency'%]##-->[@subtotal@]<!--##[%END format%]##--><br />
<br />
<!--##[%END PARAM%]##-->
<!--##[%PARAM *footer%]##-->
--------------------------------------------------------<br />
<!--##[%DATA id:'shipping_method_id' if:'eq' value:'' %]
[%PARAM if_false%]##-->
<!--##[%DATA id:'fixed_shipping_cost' if:'=' value:'1' %]
	[%PARAM if_true%]##-->

<b>Shipping Method:</b> [@shipping_method@]<br />
Shipping Cost: <!--##[%format type:'currency'%]##-->[@shipping_total@]<!--##[%END format%]##--><br />

	<!--##[%END PARAM%]
	[%PARAM if_false%]##-->
<b>Shipping Method:</b> [@shipping_method@]<br />
Delivery cost will be calculated at time of order.<br />
	<!--##[%END PARAM%]
	<!--##[%END DATA%]##-->
<!--##[%END PARAM%]
[%END DATA%]##-->
--------------------------------------------------------<br />
<!--##[%DATA id:'couponcode' if:'ne' value:'' %]##-->
Special Pricing Arrangements / Discounts: [@couponcode@]<br />
Special pricing arrangements / discounts will be calculated at time of order.<br />
--------------------------------------------------------<br />
<!--##[%END DATA%]##-->
<b>Order Subtotal:</b> <!--##[%format type:'currency'%]##-->[@product_total@]<!--##[%END format%]##--><br />
<!--##[%DATA id:'fixed_shipping_cost' if:'=' value:'1' %]##-->
<b>Total Shipping:</b> <!--##[%format type:'currency'%]##-->[@shipping_total@]<!--##[%END format%]##--><br />
<!--##[%END DATA%]##-->
<!--##[%DATA id:'discount_total' if:'>' value:'0' %]##-->
<b>Total Discount:</b> -<!--##[%format type:'currency'%]##-->[@discount_total@]<!--##[%END format%]##--><br />
<!--##[%END DATA%]##-->
<!--##[%DATA id:'notax' if:'=' value:'0' %]##-->
<b>GST<!--##[%DATA id:'tax_inc' if:'eq' value:'y' %]##--> Inc.<!--##[%END DATA%]##-->:</b> <!--##[%format type:'currency'%]##-->[@tax_total@]<!--##[%END format%]##--><br />
<!--##[%END DATA%]##-->
<b>Order Total</b> <b><!--##[%format type:'currency'%]##-->[@grand_total@]<!--##[%END format%]##--></b><br />
<!--##[%END PARAM%]##-->
<!--##[%END show_standing_order%]##-->
<br />
<br />
Regards, <br />
[$company_name$]<br />
[$homeurl$]