<!--[SUBJECT:[$COMPANY_NAME$] Delivery Notification For Order #[@order_id@]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[@secondary_email@]]-->
Dear [@bill_first_name@],
<!--##[%content_zone id:'email_tracking_header'%][%end content_zone%] ##--> 
<p>
Thank you for shopping with [$company_name$].
</p>
<p>
This is just a quick email to let you know that the following items have now been delivered to their intended recipients.
</p>

<hr />
<h2>Items That Have Been Delivered</h2>
<!--##[%show_order id:'[@order_id@]' customer:'[@username@]'%][%PARAM *header%]##--> 
<table align="center" border="0" cellpadding="2" cellspacing="0" width="700px">
    <tr> 
      <td width="70" valign="top"><strong>Image</strong></td>
      <td width="32" valign="top"><strong>Qty</strong></td>
      <td valign="top"><strong>Description</strong></td>
  </tr>
    <!--##[%END PARAM%][%PARAM *body%]##-->
    <tr>
      <td valign="top"><img border="0" src="[$homeurl$]/[%asset_url type:'product' id:'[@SKU@]' thumb:'thumbL'%][%END asset_url%]" alt="[@model@]" width="50px"  height="50px"></td>
      <td valign="top">[@qty@]</td>
      <td valign="top">[@model@]<i>[@extra@]</i>
				<!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_RENTAL_ID$]' %]##-->&nbsp; <b>Rental</b><!--##[%END DATA%]##-->
        <!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_EBAY_ID$]' %]##-->&nbsp; <b>EBay ID: [@aff_ref@]</b><!--##[%END DATA%]##-->
        <!--##[%DATA id:'aff_id' if:'eq' value:'[$AFF_FREE_ID$]' %]##-->&nbsp; <b>Free Gift</b><!--##[%END DATA%]##-->
        <!--##[%FORMAT type:'date' default:''%][%PARAM *format%]##--><br><b>Deliver On</b> #D/#M/#Y (#G:#I#a)<!--##[%END PARAM%][@date_delivery@][%END FORMAT%]##-->
	  </td>
  </tr> 
    <!--##[%multi_item_pack id:'[@order_id@]' counter:'[@counter@]'%][%PARAM *header%]##-->
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><table border="0" cellpadding="1" cellspacing="0" width="100%" style="font-size:10px;">
        <!--##[%END PARAM%][%PARAM *body%]##-->
        <tr><td width="1%" nowrap valign="top">[@quantity@] x</td><td>[@description@]</td></tr>
        <!--##[%END PARAM%][%PARAM *footer%]##-->
        </table></td>
  </tr>
    <!--##[%END PARAM%][%END multi_item_pack%]##--> 
<tr>
<td colspan="3">
[@shipping_description@]
</td>
</tr>      
<!--##[%END PARAM%][%PARAM *footer%]##--> 
</table>
<!--##[%END PARAM%]##-->
<!--##[%END show_order%]##-->
<p>
<b>Please note:</b> some items on your order may arrive separately if they are sent using different shipping methods.
</p>
<hr />

<!--##[%content_zone id:'email_tracking_footer'%][%end content_zone%] ##--> 
