<!--[SUBJECT:[@send_from_company@] Regarding Order #[@order_id@]]-->
<!--[FROM:[@send_from_email@]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
<!--[BCC:[$BCC_EMAIL$]]-->

<p>
Dear [@bill_first_name@],<br />

<p>Thank you for your recent [@send_from_company@] purchase.</p>

<p>Should you have any feedback or questions regarding your purchase, please don't hesitate to
contact us by replying to this email and we'll be happy to assist you.</p>

<p>Did you know that many improvements to our products have come about from customer
feedback?</p>

<p>Please take a few minutes to share your thoughts. By writing a Product Review you'll be helping
other customers with their purchases. </p>

[%show_order id:'[@order_id@]' customer:'[@username@]' hidechild:'1'%]
[%PARAM *header%] 
<table align="center" border="0" cellpadding="4" cellspacing="0" width="700" style="font-size:11px">
[%END PARAM%]
[%PARAM *body%]
<tr>
<td width="8%" valign="top"><img border="0" src="[$homeurl$]/[%asset_url type:'product' id:'[@SKU@]' thumb:'thumbL'%][%END asset_url%]" alt="[@model@]" width="50px"  height="50px"></td>
<td valign="top" width="86%" nowrap="nowrap"><b>[@model@]</b><br />SKU: [@SKU@]</td>
<td valign="top" width="10%" nowrap="nowrap"><a href="[$homeurl$]/_myacct/write_review?item=[@SKU@]" target="blank"><b>Review This Product &gt;&gt;</b></a></td>
</tr> 
[%END PARAM%][%PARAM *footer%]
</table>
[%END PARAM%]
[%END show_order%]

<br /><br />
