html,
body{
	margin: 0;
	padding: 0;	
	width: 100%;
	height: 100%;
}
*{
	@include box-sizing(border-box);
}
body{
	font-size: 11px;
	@media (min-width: $screen-sm){
		font-size: 16px;
	}
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #231f20;
	font-family: 'Lato', sans-serif;	
}
h1{
	margin: 0;
	font-size: em(46);
	font-weight: 900;
	letter-spacing: em(0.6,46);
}
h2{
	font-weight: bold;
	font-size: em(18);
	line-height: em(20,18);	
	margin-top: em(20,21);
	margin-bottom: 0;
}
p{
	font-size: em(16);
	line-height: em(22, 16);	
	margin-top: em(3,16);
	letter-spacing: em(0.1,16);
	
	margin-bottom: 0;
	@media (min-width: $screen-sm){
		font-size: em(17);
		line-height: em(23, 17);	
		margin-top: em(3,17);
		letter-spacing: em(0.1,17);
			
	}
}
.box{
	max-width: em(450);
	margin: 0 auto;	
	padding: 0 em(20);
}
.main{
	padding: em(20);
	height: 100%;
	min-height: 100%;
}
.sign{
	height: em(6);
	width: em(34);
	margin: 0 auto;
	margin-bottom: em(24);
	background: white;
}
.container{
	position: relative;
	display: block;
	margin: 0 auto;
	border: 6px solid white;
	background: #231f20;
	color: white;
	text-align: center;
	max-width: em(690);
  	padding: em(40) em(20) em(40);	
	top: 50%;
	@include transform(translateY(-50%));
	@media (min-width: $screen-sm){
		padding: em(115) em(20) em(115);	
	}
}
.text{
	margin-bottom: em(30);
}
.logo{
	display: block;
	text-align: center;
	margin-bottom: em(20);
	img{
		width: em(150);
		direction: block;
		//display: none;
	}
	svg{
		display: block;
		margin: 0 auto;
		fill: #fde0e5;
		width: em(88);
		height: em(88);
	}	
}
.social{
	list-style: none;
	padding: 0;
	margin-top: em(26);
	margin-bottom: 0;
	li{
		display: inline-block;
		color: white;
		padding: 0 em(4) 0 em(4);
		a{
			color: white;
		}
		&.instagram{
			svg{
				display: block;
				fill: white;
				width: em(30);
				height: em(30);
			}
		}
		&.facebook{
			svg{
				display: block;
				fill: white;
				width: em(30);
				height: em(30);	
			}
		}
	}
}
.form{
	padding: 0 em(30);
		  @media (min-width: $screen-sm){
			padding: 0 em(33);
		  }
	.newsletter_form_fields {
	    border-bottom: 2px solid white;
	    padding-right: em(48);
	    position: relative;
	    margin-bottom: 2.9375em;
	}	
	.email-input {
	    background: none;
	    border: none;
	    border-radius: 0;
	    width: 100%;
	    color: white;
	    height: em(50,16);
	    line-height: em(50,16);
	    padding-left: em(10,16);
	    font-size: em(16);
	    margin-bottom: 0;
	    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: white;
		  font-weight: bold;
		  text-transform: uppercase;
		  letter-spacing: 0.1em;
		  font-size: em(9);
		  @media (min-width: $screen-sm){
		  	font-size: em(9);
		  }
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: white;
		  font-weight: bold;
		  text-transform: uppercase;
		  letter-spacing: 0.1em;
		  font-size: em(9);
		  @media (min-width: $screen-sm){
		  	font-size: em(9);
		  }
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: white;
		  font-weight: bold;
		  text-transform: uppercase;
		  letter-spacing: 0.1em;
		  font-size: em(9);
		  @media (min-width: $screen-sm){
		  	font-size: em(9);
		  }
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: white;
		  font-weight: bold;
		  text-transform: uppercase;
		  letter-spacing: 0.1em;
		  font-size: em(9);
		  @media (min-width: $screen-sm){
		  	font-size: em(9);
		  }
		}
	}
	input[type=submit] {
		font-weight: bold;
		background: none;
	    text-transform: uppercase;
	    color: #f7becc;
	    letter-spacing: 0.12em;
	    right: 0;
	    position: absolute;
	    padding-left: 0;
	    padding-right: 0;
	    text-align: center;
	    border: none;	    
	    font-size: em(9);
	    width: em(45,9);
	    line-height: em(50,9);
	    height: em(50,9);
	    bottom: 0;
	    cursor: pointer;
		@media (min-width: $screen-sm){
	  		font-size: em(9);
	  		bottom: 0;
		    width: em(45,9);
		    line-height: em(50,9);
		    height: em(50,9);
		}
	    
	}
} 