<!--[SUBJECT:[$COMPANY_NAME$] Dispute #[@dispute_id@] Raised]-->
<!--[FROM:[@email@]]-->
<!--[TO:[@to_email@]]-->
<br /><br />
Dear [$COMPANY_NAME$],
<!--##[%SHOW_DISPUTE id:'[@dispute_id@]' customer:'[@username@]'%]
[%PARAM *header%]##-->
<p>
[$bill_first_name$] [$bill_last_name$] has raised Dispute #[@dispute_id@] for Order #[@order_id@]
on [%FORMAT type:'date' now:'1' format:'#d #k #Y (#H:#I)'%][%END FORMAT%].
</p>
<p>
<b>Type Of Dispute:</b> [@dispute_type@]</p>
<p>
<p>
<b>Reason For Dispute:</b> [@dispute_reason@]</p>
<p>
<b>Status Of Dispute:</b> [@dispute_status@]</p>
<p>
<b>Message:</b>
<br />
[@message@]
</p>
<!--##[%END PARAM%]
[%PARAM *body%]##-->
[@qty@] x [@model@] <font size="1">(SKU: [@SKU@])</font><br />
<br />
<!--##[%END PARAM%]
[%END SHOW_DISPUTE%]##-->
