[%load_template file:'printdocs/includes/styles.template.html'/%]
<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h1>Remittance Advice</h1>
			<h2>Payment Number: [@refund_id@]</h2>
			<h3 class="text-muted">[%format type:'date' now:1 format:'#D/#M/#Y'/%]</h3>
		</div>
		<div class="col-xs-4 panel-margin-top">
			<p>[@config:company_name@]</p>
			[%if [@config:company_abn@]%]<p>[@config:company_abn@]</p>[%/if%]
			<p>[@config:company_addr@]</p>
		</div>
		<div class="col-xs-4 panel-margin-top">
			<p>[@bill_first_name@] [@bill_last_name@]</p>
			[%if [@bill_company@]%]<p>[@bill_company@]</p>
			<p>[@bill_street1@] [%if [@bill_street2@]%], [@bill_street2@][%/if%]</p>
			<p>[@bill_city@], [@bill_state@] [@bill_zip@]</p>
			<p>[@bill_country_name@]</p>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>Memo</th>
			<th>Date</th>
			<th>Amount</th>
		</tr>
		<tr>
			<td>[%nohtml%][@notes@][%/nohtml%]</td>
			<td>[%format type:'date' format:'#D/#M/#Y'%][@date_issued@][%/format%]</td>
			<td>[%format type:'currency'%][@amount@][%/format%]</td>
		</tr>
	</table>
</div>
