<!--[SUBJECT:[$COMPANY_NAME$] Application Failed]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
Dear [@bill_first_name@],
<p>After careful assessment of your application, 
	we regret to advise that it has not met the requirements of our credit assessment guidelines and therefore we cannot proceed with application.
	In this case, our decision may have been based either wholly or partly on information contained in a credit report from Dun &amp; Bradstreet. 
	Under the Privacy Act, you have the right to obtain access to your credit information file held by a credit-reporting agency. 
	You can arrange for a copy of your credit information file to be sent to you from Dun &amp; Bradstreet in any one of these ways: 
</p>
<p>
1. Logon to the Dun &amp; Bradstreet Australia website at <a target="_blank" href="https://www.dnbcreditreport.com.au">www.dnbcreditreport.com.au</a><br />
2. Call on 132 333 - Monday to Friday (AU business hours)<br />
3. Write to 'Dun &amp; Bradstreet Australia P.O. Box 7405 St Kilda Road VIC 3004'.<br />
</p>

<p>
Your Details:<br />
Your Bluepod Username: [@username@]<br />
Your First and Last Name: [@bill_first_name@] [@bill_last_name@]<br />
Company: [@bill_company@]<br />
Your Address: [@bill_street1@] [@bill_street2@], [@bill_city@] [@bill_zip@], [@bill_country@]<br />
Unique Customer Reference Number: [@order_id@]<br />
</p>
<p>
Regards,
  <br />
  [$company_name$]<br />
[$company_phone$]<br />
<p>