<!--[SUBJECT:[@subject@]]-->
<!--[FROM:[@data_email@]]-->
<!--[TO:[@recipient@]]-->
The following enquiry has been received:<br />
<hr size="1">
Name:[@data_first_name@] [@data_last_name@]<br>
Business Name: [@data_business@]<br />
Phone: [@data_phone@]<br />
Email:[@data_email@]<br />
Contact Method: [@data_contact_method@]<br />
Message: [@data_msg@]
<hr size="1">
