[%load_template file:'printdocs/includes/styles.template.html'/%]
<h1>Print Bulk Pack Report</h1>
<table class="table">
	<tr>
		<th>Order ID</th>
		<th>Customer Name</th>
		<th>Delivery Address 1</th>
		<th>Delivery Address 2</th>
		<th>Suburb</th>
		<th>State</th>
		<th>Postcode</th>
		<th>Method</th>
		<th>SKU</th>
		<th>Description</th>
		<th>Image</th>
		<th>Qty</th>
		<th>Amount</th>
		<th>Channel</th>
		<th>Tracking</th>
	</tr>
	[%bulkresults order_ids:'[@oids@]'%]
		[%param *body%]
		<tr>
			<td>[@order_id@]</td>
			<td>[@customer_name@]</td>
			<td>[@ship_street1@]</td>
			<td>[@ship_street2@]</td>
			<td>[@ship_city@]</td>
			<td>[@ship_state@]</td>
			<td>[@ship_zip@]</td>
			<td>[@ship_method@]</td>
			<td>[@SKU@]</td>
			<td>[@description@]</td>
			<td><img class="img-small-thumb" src="[@image@]"></td>
			<td>[@quantity@]</td>
			<td>[@grand_total@]</td>
			<td>[@sales_channel@]</td>
			<td>[@ship_tracking@]</td>
		</tr>
		[%/param%]
	[%/bulkresults%]
</table>
