[%if [@order_print@] eq 'true' or ![@config:current_page_type@] or [@config:current_page_type@] eq 'checkout'%]
	<!-- These styles only load if the print doc is not being loaded onto a customer-based page. -->
	[%cdn_asset html:'1' type:'css' domain:'maxcdn.bootstrapcdn.com' library:'bootstrap' version:'3.3.5'%]css/bootstrap.min.css[%/cdn_asset%]
	[%cdn_asset html:'1' type:'css' domain:'maxcdn.bootstrapcdn.com' library:'font-awesome' version:'4.4.0'%]css/font-awesome.min.css[%/cdn_asset%]
	<style type="text/css">
		body {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
		}
		h1 {
			font-size:28px;
		}
		h2 {
			font-size:25px;
		}
		h3 {
			font-size:19px;
		}
		h4 {
			font-size:15px;
		}
		h5 {
			font-size:9px;
		}
		h6 {
			font-size:7px;
		}
		h1, h2, h3, h4, h5, h6 {
			line-height:1.5;
		}
		.container {
			width:auto;
		}
		.underline-field {
			border-bottom:1px solid #ddd;
		}
		.img-small-thumb {
			width:50px;
		}
		.panel-margin-top {
			margin-top:20px
		}
		.panel-label-margin-top {
			margin-top:7px;
		}
		.logo {
			margin-top:35px; max-width:200px;
		}
		.table-items {
			margin-bottom:1px; margin-top:20px; border-bottom:1px solid #ddd;
		}
		.table-items.table>tbody>tr>th {
			border-bottom:2px solid #ddd;
		}
		.table-noborder.table>tbody>tr>td {
			border-top:none;
		}
		.panel-label>.panel-heading, .panel-label>.panel-footer {
			background:none;
		}
		.panel-label .order-barcode {
			margin-top:15px;
		}
		.labeldocs {
			height:960px; width:700px;
		}
		.labeldocs img {
			max-width:100%; max-height:100%;
		}

		/* Specific Sizing to label types */
		.layout5x13A4 {
			width:148px; height:81px; overflow:hidden; float:left;
		}
		.label5x13A4 {
			width:140px; height:80px; overflow:hidden; float:left;
		}
	</style>
[%/if%]

<!-- Everything else will be loaded no matter where you print from. -->
<style type="text/css">
	h1 > .barcode {
		position:absolute; top:25px; margin-left:15px;
	}
	#invoice.container, #quote.container {
		width:750px;
	}
	#invoice h1, #deliverydocket h1, #quote h1, #adjustmentnote h1 {
		font-weight:900; font-size:40px; margin-bottom:0px;
	}
	#invoice h2, #deliverydocket h2, #quote h2 {
		margin-top:0px; margin-bottom:20px;
	}
	#adjustmentnote h2 {
		margin:0px; font-size:20px;
	}
	#invoice .panel-default {
		page-break-inside: avoid;
	}
	#trackingnotification h2 {
		margin:0px;
	}
	#trackingnotification .table {
		margin-top:20px;
	}
	.bpay-block {
		line-height:2;	font-size:16px;
	}
	.bpay-block > img {
		margin-right:15px;
	}
	.bpay-block > p {
		border:2px solid #000;	border-radius:3px; float:left; padding:10px;
	}
</style>
