<table align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td style="font-size: 14px;"><b>FREE USE LETTER &ndash; [@model@]</b></td>
</tr></table>
<br />
[@tnc@]
<br />
<br />
<table style="font-size: 10px;" width="95%" align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td width="5%" nowrap><b>Client&rsquo;s Details:</b></td>
		<td width="5%" nowrap>Company Name</td>
		<td width="90%" style="border-bottom: 1px #333333 dotted;">&nbsp;[@ship_company@]</td>
</tr></table>
<table style="font-size: 10px;" width="95%" align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td width="5%" nowrap>Address</td>
		<td width="60%" style="border-bottom: 1px #333333 dotted;">&nbsp;
			<!--##[%DATA id:'ship_stree1' if:'ne' value:''%]##-->[@ship_stree1@],<!--##[%END DATA%]##-->
			<!--##[%DATA id:'ship_stree2' if:'ne' value:''%]##-->[@ship_stree2@],<!--##[%END DATA%]##-->
			[@ship_city@], [@ship_state@] [@ship_zip@], [@ship_country@]</td>
	<td width="5%" nowrap>ABN</td>
		<td width="30%" style="border-bottom: 1px #333333 dotted;">&nbsp;[@abn@]</td>
</tr></table>
<br />
<table style="font-size: 10px;" width="95%" align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td width="5%" nowrap>Tel</td>
		<td width="30%" style="border-bottom: 1px #333333 dotted;">&nbsp;[@ship_phone@]</td>
	<td width="5%" nowrap>Fax</td>
		<td width="25%" style="border-bottom: 1px #333333 dotted;">&nbsp;[@ship_fax@]</td>
	<td width="5%" nowrap>Email</td>
		<td width="35%" style="border-bottom: 1px #333333 dotted;">&nbsp;[@email@]</td>
</tr></table>
<br />
<table style="font-size: 10px;" width="95%" align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td width="5%" nowrap>Signature</td>
		<td width="45%" style="border-bottom: 1px #333333 dotted;">&nbsp;</td>
	<td width="5%" nowrap>Print Name</td>
		<td width="45%" style="border-bottom: 1px #333333 dotted; text-transform:uppercase">&nbsp;[@ship_first_name@] [@ship_last_name@]</td>
</tr></table>
<br />
<table style="font-size: 10px;" width="95%" align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td width="10%" nowrap>Australian Drivers License No</td>
		<td width="50%" style="border-bottom: 1px #333333 dotted;">&nbsp;</td>
	<td width="40%" nowrap>&nbsp;</td>
</tr></table>
<br />
<table style="font-size: 10px;" width="80%" align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td colspan="4">The following credit card can be used against purchases</td>
</tr><tr>
	<td width="5%" nowrap>Credit Card</td>
		<td width="50%" style="border-bottom: 1px #333333 dotted;">&nbsp;</td>
	<td width="5%" nowrap>Expire Date</td>
		<td width="15%" style="border-bottom: 1px #333333 dotted;">&nbsp;</td>
		<td width="25%" style="border-bottom: 1px #333333 dotted;">/</td>
</tr></table>
<br />
<table style="font-size: 10px;" width="95%" align="center" cellpadding="4" cellspacing="0" border="0"><tr>
	<td width="5%" nowrap><b>Authorised By</b></td>
		<td width="60%" style="border-bottom: 1px #333333 dotted;">&nbsp;</td>
	<td width="5%" nowrap><b>Print Name</b></td>
		<td width="60%" style="border-bottom: 1px #333333 dotted; text-transform:uppercase">&nbsp;</td>
</tr></table>