<p>
<img src="[%ASSET_URL type:'logo' thumb:'pdf'/%]"/><br />
<font style="font-size:18px; font-weight:bold;">[$COMPANY_NAME$]  Installation</font><br />
<font style="font-size:18px; font-weight:bold;">Order ID: [@order_id@]</font>
</p>
<table width="100%" border="1" bordercolor="#CCC" cellspacing="0" cellpadding="4">
  <tr>
    <td width="15%" valign="top" nowrap><b>Company Name:</b></td>
    <td width="43%" valign="top">[@ship_company@]</td>
    <td width="9%" valign="top" nowrap><b>Date:</b></td>
    <td width="33%" valign="top">[@date_created@]</td>
  </tr>
  <tr>
    <td valign="top" nowrap><b>Contact Name:</b></td>
    <td valign="top">[@ship_first_name@] [@ship_last_name@]</td>
    <td width="9%" valign="top" nowrap="nowrap"><b>Order ID:</b></td>
    <td valign="top">[@order_id@]&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="3" valign="top"><b>Installation Address:</b></td>
    <td rowspan="3" valign="top">[@ship_street1@]<br />
      [@ship_street2@]<br />
      [@ship_city@] [@ship_zip@]<br />
      [@ship_state@]</td>
    <td width="9%" valign="top" nowrap="nowrap"><b>PO ID:</b></td>
    <td valign="top">[@customer_po@]&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" nowrap="nowrap"><b>Phone:</b></td>
    <td valign="top">[@ship_phone@]&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" nowrap="nowrap"><b>Email:</b></td>
    <td valign="top">[@email@]&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" nowrap><b>Special Instructions:</b></td>
    <td colspan="3" valign="top">[@ship_comment@]&nbsp;</td>
  </tr>
</table>
<p><b>Item Installed</b></p>
<!--##[%ORDER_INSTALLATION dropshipper:'[@dropshipper@]' order_id:'[@order_id@]'%][%PARAM *header%]##-->
<table width="100%" border="1" bordercolor="#CCC" cellspacing="0" cellpadding="4">
  <tr>
    <td width="14%" valign="top" bgcolor="#F0F0F0" nowrap><b>Date Required</b></td>
    <td width="10%" valign="top" nowrap="nowrap" bgcolor="#F0F0F0"><b>Qty</b></td>
    <td width="36%" valign="top" bgcolor="#F0F0F0"><b>Item</b></td>
    <td width="20%" valign="top" nowrap="nowrap" bgcolor="#F0F0F0"><b>Serial #</b></td>
    <td width="7%" valign="top" bgcolor="#F0F0F0"><b>Complete</b></td>
  </tr>
<!--##[%END PARAM%]
[%PARAM *body%]##-->
  <tr>
    <td valign="top" nowrap="nowrap">[@date_delivery@]</td>
    <td valign="top">[@quantity@]&nbsp;</td>
    <td valign="top">[@description@] <font style="font-size:9px;">(SKU:[@SKU@])</font></td>
    <td valign="top">[@itm_serial@]&nbsp;</td>
    <td valign="top"><div style="border:1px solid #000; height:20px; width:20px; margin:auto;"></div></td>
  </tr>
<!--##[%END PARAM%]
[%PARAM *footer%]##-->
</table>
<!--##[%END PARAM%]
[%END ORDER_INSTALLATION%]##-->
<p><b>Note:</b>[$COMPANY_NAME$] is placing the above  mentioned property on a loan basis. The Client acknowledges that the equipment  remains the property of [$COMPANY_NAME$]  at all times. </p>
<table width="100%" border="1" bordercolor="#CCC" cellspacing="0" cellpadding="8">
  <tr>
    <td width="17%" nowrap="nowrap"><b>Customer Signature:</b></td>
    <td width="35%">&nbsp;</td>
    <td width="6%"><b>Date:</b></td>
    <td width="42%">&nbsp;</td>
  </tr>
  <tr>
    <td nowrap="nowrap"><b>Technician Signature:</b></td>
    <td>&nbsp;</td>
    <td><b>Date:</b></td>
    <td>&nbsp;</td>
  </tr>
</table>
<br />
<font class="small">Installation For Order ID: [@order_id@]<br>
Company name: [@ship_company@] Contact Name: [@ship_first_name@] [@ship_last_name@]</font>