[%load_template file:'printdocs/includes/styles.template.html'/%]
<div class="text-center">
	<h4>[@location_ref@]</h4>
	<img src="[%barcode_url fn:'' height:'[@label_height@]'%][@location_id@][%/barcode_url%]"/>
</div>
