<!--[SUBJECT:Message From [$company_name$] Related To Order #[@order_id@]]-->
<!--[FROM:[@from_email@]]-->
<!--[TO:[@email@]]-->
<!--[BCC:[@bcc_email@]]-->
------------------------------------------------------------------------------------------------
<br />
<a href="[%URL type:'page' id:'messages' qs:'msgid=[@msg_id@]&reply=[@reply_code@]'%][%END URL%]">Click Here To Reply To Message And Read Message History </a>
<br />
[@bill_first_name@]

------------------------------------------------------------------------------------------------
[%SHOW_RMA id:'[@rma_id@]' customer:'[@username@]'%]
[%PARAM *header%]
<br /><br />
Dear [@bill_first_name@],
<br /><br />
[$company_name$] has sent you a message relating to Order # [@order_id@].
<br /><br />
<b>Message:</b>
<br />
[@message@]
<br />
[%END PARAM%]
[%PARAM *body%]
[@qty@] x [@model@] <font size="1">(SKU: [@SKU@])</font><br />
<br />
[%END PARAM%]
[%END SHOW_RMA%]
------------------------------------------------------------------------------------------------
<br />
<a href="[%URL type:'page' id:'messages' qs:'msgid=[@msg_id@]&reply=[@reply_code@]'%][%END URL%]">Click Here To Reply To Message And Read Message History </a>
<br />
------------------------------------------------------------------------------------------------
<br />
<p><font color="#666666" size="1"> This 
  message was sent from [$homeurl$]. If you have received this message in error please contact [$company_name$]<br />
Copyright  &copy;  [$company_name$]. All Rights Reserved. </font></p>