<table cellpadding="0" cellspacing="0" border="0" width="350px" align="center">
	<tr>
	  <td>
<table cellpadding="4px" cellspacing="0" border="0" width="100%" align="center">
<tr><td><font style="font-size:14px;"><b> 
	C/N: <!--##[%NOHTML%]##-->[@cngmt_number@]<!--##[%END NOHTML%]##--><br>
	A/N: <!--##[%NOHTML%]##-->[@article_number@]<!--##[%END NOHTML%]##-->
	</b></font></td>
<td align="center"><font style="font-size:26px; font-weight:bold;">AAE</font></td>
<td align="right">
<!--##[%DATA id:'signature' if:'eq' value:'y'%][%PARAM if_true%]##-->
DELIVERY SIGNATURE REQUIRED 	
<!--##[%END PARAM%][%PARAM if_false%]##-->
<font style="font-size:10px;"><!--##[%NOHTML%]##--><!--##[? printf("C%09d",$_DATA{cngmt_id}); ?]##--><!--##[%END NOHTML%]##--></font><br>
<img width="100px" src="[%BARCODE_URL fn:'code128' height:'20'%][? printf('C%09d',$_DATA{cngmt_id}); ?][%END BARCODE_URL%]" border="0"/>
<!--##[%END PARAM%][%END DATA%]##-->
	</td></tr>
</table>
  </td></tr>
	<tr><td style="padding-bottom:8px; border-top:1px solid #000;">
<font style="text-transform:uppercase; font-size:10px;">
<!--##[%DATA id:'bill_company' if:'ne' value:''%]##--><b><!--##[%NOHTML%]##-->[@bill_company@]<!--##[%END NOHTML%]##--></b><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_street1@]<!--##[%END NOHTML%]##-->
<!--##[%DATA id:'bill_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_street2@]<!--##[%END NOHTML%]##-->,<!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_city@], [@bill_state@] [@bill_zip@]<!--##[%END NOHTML%]##-->
</font>
  	</td></tr>
	<tr><td style="padding-bottom:12px; border-top:1px solid #000;">
<font style="font-size:12px; padding-bottom:2px;">AUSTRALIAN AIR EXPRESS DELIVER TO</font>
  	</td></tr>
	<tr><td>
<font style="text-transform:uppercase; font-size:16px;">
<!--##[%NOHTML%]##-->[@ship_first_name@] [@ship_last_name@]<!--##[%END NOHTML%]##--><br />
<!--##[%DATA id:'ship_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_street1@]<!--##[%END NOHTML%]##-->
<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##--><br><!--##[%NOHTML%]##-->[@ship_street2@]<!--##[%END NOHTML%]##--><!--##[%END DATA%]##-->
</font>
  	</td></tr>
	<tr><td style="padding-bottom:8px; border-bottom:1px solid #000;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="bottom" width="70%">
<font style="text-transform:uppercase; font-size:18px;"><b>[@ship_city@]</b></font>
  	</td><td align="right" width="20%" nowrap valign="bottom">
<font style="text-transform:uppercase; font-size:18px;"><b>[@ship_zip@]</b></font>
	</td>
</tr>
</table>  
  </td></tr>
	<tr><td style="padding-bottom:8px;">
<font style="font-size:8px; padding-bottom:2px;">DELIVERY INSTRUCTIONS</font><br />
<font style="font-size:10px; text-transform:uppercase;">
<!--##[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]##-->
<!--##[%NOHTML%]##--><!--##[%FORMAT type:'text' maxlength:'255'%]##-->[@ship_comment@]<!--##[%END FORMAT%]##--><!--##[%END NOHTML%]##-->
<!--##[%END PARAM%][%PARAM if_false%]##-->
n/a
<!--##[%END PARAM%][%END DATA%]##-->
<!--##[%DATA id:'ship_phone' if:'ne' value:''%]##--><br />PHONE: <font style="text-transform:uppercase;"><!--##[%NOHTML%]##-->[@ship_phone@]<!--##[%END NOHTML%]##--></font><!--##[%END DATA%]##-->
</font>
  </td></tr>
  <tr><td style="padding-bottom:8px; border-top:1px solid #000;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" width="60%">
<font style="font-size:8px; padding-bottom:2px;">REF NO.1:</font><br />
<font style="text-transform:uppercase; font-size:10px;">
<!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##-->
</font>
  	</td><td width="40%" valign="top">
<font style="font-size:8px; padding-bottom:2px;">REF NO.2:</font><br />
<font style="text-transform:uppercase; font-size:10px;">
<!--##[%NOHTML%]##-->[@customer_po@]<!--##[%END NOHTML%]##--></font>
	</td>
</tr>
</table>  
  </td></tr>
 	<tr><td style="padding-bottom:2px;">
 <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td width="150px" valign="top">
<font style="text-transform:uppercase; font-size:10px;">
[%FORMAT type:'date' now:1 format:'#D/#M/#Y'%][%END FORMAT%]<br>
TOTAL: [%NOHTML%][@count@] OF [@total@][%END NOHTML%]<br>
WEIGHT:
[%DATA id:'shserv_code' if:'eq' value:'LSK'%]15[%END DATA%]
[%DATA id:'shserv_code' if:'eq' value:'ASK'%][%DATA id:'weight' if:'<=' value:'1'%]
	[%PARAM if_true%]1[%END PARAM%]
	[%PARAM if_false%]
		[%DATA id:'weight' if:'<=' value:'3'%]
		[%PARAM if_true%]3[%END PARAM%]
		[%PARAM if_false%]5[%END PARAM%]
		[%END DATA%]
	[%END PARAM%]
[%END DATA%][%END DATA%]
[%DATA id:'shserv_code' if:'eq' value:'O/N'%][%DATA id:'weight' if:'<=' value:'1'%]
	[%PARAM if_true%]1[%END PARAM%]
	[%PARAM if_false%]
		[%DATA id:'weight' if:'<=' value:'3'%]
		[%PARAM if_true%]3[%END PARAM%]
		[%PARAM if_false%]5[%END PARAM%]
		[%END DATA%]
	[%END PARAM%]
[%END DATA%][%END DATA%]
[%DATA id:'shserv_code' if:'ne' value:'LSK'%][%DATA id:'shserv_code' if:'ne' value:'ASK'%][%DATA id:'shserv_code' if:'ne' value:'O/N'%]
[%FORMAT type:'number' dp:'3'%][@weight@][%END FORMAT%]
[%END DATA%][%END DATA%][%END DATA%]kg
</font>
  	</td >
  	<td width="200px" valign="top" align="center">
<img width="200px" src="[%BARCODE_URL fn:'code128' height:'60' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@shserv_code@][@ship_zip@][@ship_port@][%END BARCODE_URL%]" border="0"/><br>
    <font style="font-size:10px;">[@shserv_code@][@ship_zip@][@ship_port@]</font>
    </td></tr>
</table>  
</td></tr>
	<tr>
	  <td style="padding-bottom:10px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr>
	<td>
<b><font style="font-size:22px;">
<!--##[%NOHTML%]##-->[@from_port@]<!--##[%END NOHTML%]##-->
</font></b></td >
	  <td>
<b><font style="font-size:22px;">
<!--##[%NOHTML%]##-->[@ship_port@]<!--##[%END NOHTML%]##-->
</font></b></td >
	  <td><b><font style="font-size:22px;"><!--##[%NOHTML%]##-->[@shserv_code@]<!--##[%END NOHTML%]##--></font></b></td>
	  </tr>
</table>  
  </td></tr>
	<tr><td style="padding-bottom:10px;" align="center">
<img width="295px" src="[%BARCODE_URL fn:'article' height:'60' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/><br>
<font style="font-size:10px;"><!--##[%NOHTML%]##-->[@barcode@]<!--##[%END NOHTML%]##--></font>
  </td></tr>
	<tr>
	  <td align="center"><font style="font-size:8px;">Printed With Neto E-commerce Software www.neto.com.au</font></td>
  </tr>
</table>
