<table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="font-size:12px;" colspan="2" valign="top"><table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td><font style="font-size:18px; font-weight:bold;">ALLIED EXPRESS</font>            </td>
            <td>Date: <font style="text-transform:uppercase;font-size:12px;"> <b>
              <!--##[%FORMAT type:'date' now:1 format:'#d/ #M/ #Y' default:'n/a'%]##-->
              [@date_manifest@]
            <!--##[%END FORMAT%]##--></td>
          </tr>
          <tr>
            <td width="51%" valign="top" >
			<font style="font-size:10px; padding-bottom:2px;">From:</font>
                      <!--##[%DATA id:'bill_company' if:'ne' value:''%]##-->
                    <!--##[%NOHTML%]##-->
                    [@bill_company@]
                    <!--##[%END NOHTML%]##-->
                    <!--##[%END DATA%]##-->
                      <br/>
                      <font style="font-size:10px; padding-bottom:2px;">Contact:</font> <font style="text-transform:uppercase;">
                      <!--##[%NOHTML%]##-->
                        [@ship_first_name@] [@ship_last_name@]
                        <!--##[%END NOHTML%]##-->
                        <br />
                      </font> <font style="font-size:10px; padding-bottom:2px;">ConNote:</font> <font style="text-transform:uppercase;">
                      <!--##[%NOHTML%]##-->
                        [@cngmt_number@]
                        <!--##[%END NOHTML%]##-->
                    </font>			</td>
            <td width="49%" valign="top" >
			<font style="font-size:10px; padding-bottom:2px;">Sender Phone:</font> <font style="text-transform:uppercase;">
                    <!--##[%DATA id:'bill_phone' if:'ne' value:''%]##-->
                    <!--##[%NOHTML%]##-->
                    [@bill_phone@]
                    <!--##[%END NOHTML%]##-->
                    <!--##[%END DATA%]##-->
                    <br/>
                    </font> <font style="font-size:10px; padding-bottom:2px;">Receiver Phone:</font> <font style="text-transform:uppercase;">
                    <!--##[%DATA id:'ship_phone' if:'ne' value:''%]##-->
                      <!--##[%NOHTML%]##-->
                      [@ship_phone@]
                      <!--##[%END NOHTML%]##-->
                      <!--##[%END DATA%]##-->
                      <br/>
                    </font> <font style="font-size:10px; padding-bottom:2px;">Order Ref:</font> <font style="text-transform:uppercase;">
                      [@order_id@]	<br />
Package: <font style="text-transform:uppercase;font-size:12px;"> <b>
              [@count@] OF [@total@]
            </b></font>		</td>
          </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="left"><img  width="70%" src="[%BARCODE_URL fn:'article' height:'30' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/><br />
        <font style="font-size:10px;">
          <!--##[%NOHTML%]##-->
          [@barcode@]
          <!--##[%END NOHTML%]##-->
      </font> <font style="font-size:10px; padding-bottom:2px;margin-left: 6px;">Service Type:</font> <font style="text-transform:uppercase;">
       <b><!--##[%NOHTML%]##-->[@shserv_name@]<!--##[%END NOHTML%]##--></b>
        </font> <font style="font-size:10px; padding-bottom:2px;margin-left: 12px;">Weight:</font> <font style="text-transform:uppercase;">
        <!--##[%FORMAT type:'number' dp:'0' %]##-->
          [@total_weight_kg@]
          <!--##[%END FORMAT%]##--> KG
    </font></td>
  </tr>
  
  <tr>
    <td valign="top" > <strong>To:</strong><br/>
        <!--##[%NOHTML%]##-->
      [@ship_street1@]
      <!--##[%END NOHTML%]##-->
      <br />
        <!--##[%DATA id:'ship_street2' if:'ne' value:''%]##-->
      <!--##[%NOHTML%]##-->
      [@ship_street2@]
      <!--##[%END NOHTML%]##-->
        <!--##[%END DATA%]##-->
        <b>
          <!--##[%NOHTML%]##-->
          [@ship_city@]
          <!--##[%END NOHTML%]##-->
      </b><br />
        <b><!--##[%NOHTML%]##-->
          [@ship_state@]
          <!--##[%END NOHTML%]##-->
        </b> </td>
    <td valign="top">
	Package: [@count@] OF [@total@] 
         <div style="background-color:#000000; color:#FFFFFF; padding:4px; font-weight:bold; font-size:18px;"> 	<!--##[%NOHTML%]##-->[@shserv_code@] <!--##[%END NOHTML%]##--></div>
              <div style="font-weight:bold; font-size:18px;">  <!--##[%NOHTML%]##-->[@ship_port@]<!--##[%END NOHTML%]##--></div>
              <b>
                <!--##[%NOHTML%]##-->
                [@ship_zip@]
                <!--##[%END NOHTML%]##-->
              </b>	   </td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><font style="font-size:12px; text-transform:uppercase;" ><b>Special Instructions</b></font><br />
        <font style="font-size:10px; text-transform:uppercase;">
        <!--##[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]##-->
        <!--##[%NOHTML%]##-->
          <!--##[%FORMAT type:'text' maxlength:'255'%]##-->
          [@ship_comment@]
          <!--##[%END FORMAT%]##-->
          <!--##[%END NOHTML%]##-->
        <!--##[%END PARAM%][%PARAM if_false%]##-->
          n/a
          <!--##[%END PARAM%][%END DATA%]##-->
          <br />
    <!--##[%DATA id:'article_notes' if:'ne' value:''%]##-->
<font style="font-size:10px;"><!--##[%FORMAT type:'text' nohtml:'1' addbr:'1'%]##-->[@article_notes@]<!--##[%END FORMAT%]##--><br></font>
<!--##[%END DATA%]##--></font></td>
  </tr>
  <tr>
    <td colspan="2" style="padding-bottom:5px; padding-top:8px;"><font style="font-size:10px; padding-bottom:2px;">Name____________________</font> <font style="font-size:10px; padding-bottom:2px;margin-left: 6px;">Signature_________________________</font><font style="font-size:10px;">Date:_______/ _______  /_______</font></td>
  </tr>
  <tr>
    <td valign="top" colspan="2" style="padding-bottom:2px; padding-top:2px; border-top: 1px solid #000;"><font style="font-size:8px; padding-bottom:2px;">RECEIVED IN GOOD CONDITION.SUBJECT TO CARRIER TERMS AND CONDITIONS.<b>Printed by Neto.</b></font> </td>
  </tr>
</table>
