<table width="430" border="0" align="center" cellpadding="4" cellspacing="0" style="font-size:16px;"><tr>
  <td colspan="2" style="font-size:16px;">
<div style="float:right; border:1px solid #000; padding:10px; font-size:18px; height:70px; width:85px; text-align:center;">
Postage <br />
Paid<br />
Australia</div>
<font style="font-size:10px">
<b>Return Address:</b><br />
<font style="text-transform:uppercase;font-size:10px">
[%DATA id:'bill_company' if:'ne' value:''%][%NOHTML%][@bill_company@][%END NOHTML%]<br>[%END DATA%]
[%NOHTML%][@bill_street1@][%END NOHTML%]<br>
[%DATA id:'bill_street2' if:'ne' value:''%][%NOHTML%][@bill_street2@][%END NOHTML%]<br>[%END DATA%]
[%NOHTML%][@bill_city@], [@bill_state@] [@bill_zip@][%END NOHTML%]<br />
[%NOHTML%][@bill_country_name@][%END NOHTML%]</font><br />
<font style=";font-size:10px;">
Order No: [%NOHTML%][@order_id@][%END NOHTML%]<br />

</font>
<br><br><br><br>
	<td>
[%DATA id:'bin_loc' if:'ne' value:''%]Bin#: [%NOHTML%][@bin_loc@][%END NOHTML%]<br />[%END DATA%]
</td>
</tr>
<tr>

	</td>
</tr>
<tr>
  <td colspan="2" style="padding-bottom:2px;">
<font style=";font-size:16px;text-align:center;">
<b>Delivery Address:</b><br />
<font style="text-transform:uppercase;font-size:18px;text-align:center;">
[%NOHTML%][@ship_first_name@] [@ship_last_name@][%END NOHTML%]<br />
[%DATA id:'ship_company' if:'ne' value:''%][%NOHTML%][@ship_company@][%END NOHTML%]<br>[%END DATA%]
[%NOHTML%][@ship_street1@][%END NOHTML%]<br>
[%DATA id:'ship_street2' if:'ne' value:''%][%NOHTML%][@ship_street2@][%END NOHTML%]<br>[%END DATA%]
[%NOHTML%][@ship_city@], [@ship_state@] [@ship_zip@][%END NOHTML%]<br>
[%NOHTML%][@ship_country_name@][%END NOHTML%]<br />


</font>


</td>
</tr>

</tr>
</table>