<table cellpadding="0" cellspacing="0" border="0" width="350px" align="center">
	<tr><td style="font-size:12px;">
<b>DIRECTFREIGHT EXPRESS</b>
<table cellpadding="4px" cellspacing="0" border="0" width="100%" align="center">
	<tr><td style="font-size:25px; padding-left:4px;font-weight:bold;">
	<!--##[%NOHTML%]##-->[@sort_code@]<!--##[%END NOHTML%]##-->
	</td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" style="padding-bottom:2px; padding-top:2px; border-top: 1px solid #000;">
<font style="font-size:12px; padding-bottom:2px;">TO:</font><br />

<font style="text-transform:uppercase;">
<!--##[%NOHTML%]##-->[@ship_first_name@] [@ship_last_name@]<!--##[%END NOHTML%]##--><br />

<!--##[%DATA id:'ship_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->

<!--##[%NOHTML%]##-->[@ship_street1@]<!--##[%END NOHTML%]##--><br>

<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_street2@]<!--##[%END NOHTML%]##--> 
<!--##[%END DATA%]##-->
<b><!--##[%NOHTML%]##-->[@ship_city@]<!--##[%END NOHTML%]##--></b><br>
<!--##[%DATA id:'ship_phone' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->Phone: [@ship_phone@]<!--##[%END NOHTML%]##--> 
<!--##[%END DATA%]##--></font></td>
</tr>
<tr>
<td align="right">
<font style="text-transform:uppercase;font-size:24px;">
<b>
<!--##[%NOHTML%]##-->
[@ship_state@] [@ship_zip@]
<!--##[%END NOHTML%]##-->
</b></font></td>
</tr>
</table>
  </td></tr>
	<tr><td style="padding-bottom:8px;padding-top:2px; border-top: 1px solid #000;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td width="65%" valign="top"><b>REF</b>:<!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##--></td>
  	<td valign="top" style="padding-left:4px;" nowrap>
<b>ITEM: <!--##[%NOHTML%]##-->[@count@] OF [@total@]<!--##[%END NOHTML%]##--></b>    </td></tr>
</table>  
  </td></tr>
	<tr><td align="center">
<table cellpadding="0" cellspacing="0" border="0" width="295px" align="center">
<tr><td valign="top">
<font style="font-size:12px; padding-bottom:2px;text-transform:uppercase;" ><b>Special Instructions</b></font><br />
<font style="font-size:10px; text-transform:uppercase;">
<!--##[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]##-->
<!--##[%NOHTML%]##--><!--##[%FORMAT type:'text' maxlength:'255'%]##-->[@ship_comment@]<!--##[%END FORMAT%]##--><!--##[%END NOHTML%]##-->
<!--##[%END PARAM%][%PARAM if_false%]##-->
n/a
<!--##[%END PARAM%][%END DATA%]##-->
</font>
</td>
</tr>
<tr>
<td style="padding-bottom:2px;padding-top:2px; border-top: 1px solid #000;" width="70%">
 <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" rowspan="2">
<font style="font-size:12px; padding-bottom:2px;">CONNOTE:</font>
<!--##[%NOHTML%]##-->[@cngmt_number@]<!--##[%END NOHTML%]##--><br>
<table cellpadding="0" cellspacing="0" border="0" width="100%" >
<tr>
<td width="1%">
FROM:</td><td><font style="text-transform:uppercase;">
<!--##[%NOHTML%]##-->[@bill_street1@]<!--##[%END NOHTML%]##--></font></td>
</tr>
<tr><td>&nbsp;</td>
<td>
<font style="text-transform:uppercase;">
<!--##[%DATA id:'bill_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_street2@]<!--##[%END NOHTML%]##-->
<!--##[%END DATA%]##-->
</font></td>
</tr>
<tr><td>&nbsp;</td>
<td>
<font style="text-transform:uppercase;">
<!--##[%NOHTML%]##-->[@bill_city@], [@bill_state@] [@bill_zip@]<!--##[%END NOHTML%]##-->
</font></td>
</tr>
</table></td>
  	</tr>
	<tr><td width="40%" valign="top">
<font style="font-size:12px; padding-bottom:2px;">DATE:<!--##[%FORMAT type:'date' now:1 format:'#d/ #M/ #Y' default:'n/a'%]##-->[@label_created@]<!--##[%END FORMAT%]##--></font><br />
<font style="font-size:12px; padding-bottom:2px;">Qty:<!--##[%NOHTML%]##-->[@total@]<!--##[%END NOHTML%]##--></font><br />
<font style="font-size:12px; padding-bottom:2px;">Kgs:<!--##[%FORMAT type:'number' dp:'0' %]##-->[@total_weight_kg@]<!--##[%END FORMAT%]##--></font><br />
<font style="font-size:12px; padding-bottom:2px;">M3:<!--##[%FORMAT type:'number' dp:'3'%]##-->[@total_cubic@]<!--##[%END FORMAT%]##--></font><br />
</td></tr>
<tr>
<td style="padding-bottom:2px;" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td style="padding-bottom:12px;" colspan="2">
<font style="font-size:12px; padding-bottom:2px;">FROM:<!--##[%DATA id:'bill_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_company@]<!--##[%END NOHTML%]##--><!--##[%END DATA%]##--> &nbsp;PH:<!--##[%DATA id:'bill_phone' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_phone@]<!--##[%END NOHTML%]##--><!--##[%END DATA%]##--></font></td></tr>
<tr>
	<td valign="top" style="padding-bottom:8px;padding-top:2px; border-top: 1px solid #000;" colspan="2">
<font style="font-size:12px; padding-bottom:2px;">Received In Good Order</font></td></tr>
<tr>
	<td valign="top" style="padding-bottom:8px;" colspan="2">
<font style="font-size:12px; padding-bottom:2px;">Signed:___ ___ ___ ___ ___ ___  ___ ___ </font></td></tr>
<tr>
	<td valign="top" style="padding-bottom:4px;" width="50%">
<font style="font-size:12px; padding-bottom:2px;">Print Name:__ __ __ __</font></td>
<td valign="top" style="padding-bottom:4px;">
<font style="font-size:12px; padding-bottom:2px;">Date:___ / ___  /___</font></td></tr>
<tr>
	<td align="center" colspan="2">
	<img width="80%" src="[%BARCODE_URL fn:'article' height:'60' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/><br>
<font style="font-size:10px;"><!--##[%NOHTML%]##-->[@barcode@]<!--##[%END NOHTML%]##--></font>  </td>
</tr>
<tr>
  <td align="center" colspan="2">
<font style="font-size:11px; padding-bottom:2px;">Order ID: [@order_id@]</font>
</td>
</tr>
</table></td>
</tr>
</table>
  </td></tr>
	
</table>
