<table cellpadding="0" cellspacing="0" border="0" width="350px" align="center">
	<tr><td style="padding-bottom:8px;">
<!--##[%DATA id:'print_lbheader' if:'eq' value:'y'%][%PARAM if_true%]##-->
<table cellpadding="4px" cellspacing="0" border="0" width="100%" align="center">
	<tr><td style="padding-left:4px;"><img src="[$imageurl$]/couriers/eparcel/eparcel_logo.gif" border="0"/></td>
  <td align="right" style="padding-right:4px;">
<!--##[%DATA id:'shserv_code' if:'like' value:'^X'%][%PARAM if_true%]##-->
<img src="[$imageurl$]/couriers/eparcel/Expresspost_logo.gif" border="0"/>
<!--##[%END PARAM%][%PARAM if_false%]##-->
<img src="[$imageurl$]/couriers/eparcel/Auspost_logo.gif" border="0"/>
<!--##[%END PARAM%][%END DATA%]##-->
</td></tr>
</table>
<!--##[%END PARAM%][%PARAM if_false%]##-->
<div style="height:40px;">&nbsp;</div>
<!--##[%END PARAM%][%END DATA%]##-->
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top">
<font style="font-size:12px; padding-bottom:2px;">DELIVER TO</font><br />
<font style="text-transform:uppercase;">
<!--##[%NOHTML%]##-->[@ship_first_name@] [@ship_last_name@]<!--##[%END NOHTML%]##--><br />
<!--##[%DATA id:'ship_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<b><!--##[%NOHTML%]##-->[@ship_city@], [@ship_state@] [@ship_zip@]<!--##[%END NOHTML%]##--></b><br />
</font></td>
	<td valign="top" nowrap width="30%">
	<font style="text-transform:uppercase;"><!--##[%NOHTML%]##-->[@ship_phone@]<!--##[%END NOHTML%]##--></font>
	</td></tr>
</table>

  </td></tr>
	<tr><td valign="top" style="padding-bottom:8px;">
		
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" nowrap>
<font style="font-size:12px; padding-bottom:2px;">DELIVERY INSTRUCTIONS</font>
	</td><td align="right" valign="top" nowrap>
<b><font style="font-size:13px; padding-bottom:2px;"><!--##[%FORMAT type:'number' dp:'2'%]##-->[@weight@]<!--##[%END FORMAT%]##--> kg</font></b>
		</td></tr>
	<tr><td valign="top" colspan="2">
<font style="font-size:10px; text-transform:uppercase;">
<!--##[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]##-->
<!--##[%NOHTML%]##--><!--##[%FORMAT type:'text' maxlength:'255'%]##-->[@ship_comment@]<!--##[%END FORMAT%]##--><!--##[%END NOHTML%]##-->
<!--##[%END PARAM%][%PARAM if_false%]##-->
n/a
<!--##[%END PARAM%][%END DATA%]##-->
</font>
	</td></tr>
</table>

  </td></tr>
	<tr><td style="padding-bottom:8px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td width="65%" valign="top">
<b>
<!--##[%DATA id:'signature' if:'eq' value:'y'%][%PARAM if_true%]##-->
DELIVERY SIGNATURE ALWAYS REQUIRED	
<!--##[%END PARAM%][%PARAM if_false%]##-->
DELIVERY SIGNATURE REQUIRED UNLESS NO ONE PRESENT
<!--##[%END PARAM%][%END DATA%]##-->
</b>
  	</td >
  	<td valign="top" style="padding-left:4px;" nowrap>
CON NO <!--##[%NOHTML%]##-->[@cngmt_number@]<!--##[%END NOHTML%]##--><br>
<b>PARCEL <!--##[%NOHTML%]##-->[@count@] OF [@total@]<!--##[%END NOHTML%]##--></b>
    </td></tr>
</table>  
  </td></tr>
	<tr><td align="center" style="padding-bottom:8px;">
  	<font style="font-size:10px;">AP Article Id: <!--##[%NOHTML%]##-->[@article_number@]<!--##[%END NOHTML%]##--></font><br />
<img width="295px" src="[%BARCODE_URL fn:'article' height:'80' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/><br>
    <font style="font-size:10px;">AP Article Id: <!--##[%NOHTML%]##-->[@article_number@]<!--##[%END NOHTML%]##--></font>
  </td></tr>
	<tr><td style="padding-bottom:2px;">
 <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td width="30%" valign="top" rowspan="2">
<font style="font-size:12px; padding-bottom:2px;">SENDER</font><br />
<font style="text-transform:uppercase;">
<!--##[%DATA id:'bill_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'bill_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<b><!--##[%NOHTML%]##-->[@bill_city@], [@bill_state@] [@bill_zip@]<!--##[%END NOHTML%]##--></b><br />
</font>
  	</td >
  	<td valign="top" height="80px" style="padding-bottom:4px;">
<!--##[%DATA id:'danger' if:'eq' value:'y'%][%PARAM if_true%]##-->
<b><center>BY ROAD ONLY</center></b><br />
<!--##[%END PARAM%][%PARAM if_false%]##-->
<font style="font-size:9px;">Aviation Security and Dangerous Goods Declaration
<br />
The sender acknowledges that this article may be carried by air and will be subject to
aviation security and clearing procedures; and the
sender declares that the article does not contain any dangerous or prohibited goods, explosive or
incendiary devices. A false declaration is a criminal offence</font><br />
<!--##[%END PARAM%][%END DATA%]##-->
</td></tr>
	<tr><td valign="top">
Customer Ref No.1: <!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##--><br />
<!--##[%DATA id:'customer_po' if:'ne' value:''%]##-->Customer Ref No.2: <!--##[%NOHTML%]##-->[@customer_po@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
</td></tr>
</table> 
</td></tr>
	<tr>
	  <td align="center"><font style="font-size:8px;">Printed With Neto E-commerce Software www.neto.com.au</font></td>
  </tr>
</table>