<table cellpadding="0" cellspacing="0" border="0" width="350px" align="center">
	<tr>
	  <td>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td width="40%" style="padding-right:8px;"><font style="font-size:11px; font-weight:bold;">Fastway [@article_group@]</font></td>
		<td width="30%" style="padding-right:8px;"><font style="font-size:11px; font-weight:bold;">[@article_number@]</font></td>
		<td width="30%"><font style="font-size:11px; font-weight:bold;">DEST RF: [@article_destref@]</font></td>
  </tr>
</table>
<br>
[%DATA id:'total_excesslabels' if:'>' value:'0'%]
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td><font style="font-size:11px; font-weight:bold;">Excess Labels Used &nbsp;-&nbsp; [@total_excesslabels@]</font></td>
  </tr>
</table>
[%END DATA%]
<br>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td width="30%" style="padding-right:8px;" nowrap><font style="font-size:11px; font-weight:bold;">Date Printed:</font></td>
		<td width="70%"><font style="font-size:11px; font-weight:bold;">[%FORMAT type:'date' now:1 format:'#d/#m/#Y'%][%END FORMAT%]</font></td>
  </tr>
</table>
<br>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
<tr>
	<td>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td width="10%" style="padding-right:8px;" valign="top" nowrap>
<font style="font-size:12px; font-weight:bold;">To:</font>
		</td>
		<td width="90%">
<font style="font-size:12px; font-weight:bold;">
[%NOHTML%][@ship_first_name@] [@ship_last_name@][%END NOHTML%]<br />
[%DATA id:'ship_company' if:'ne' value:''%][%NOHTML%][@ship_company@][%END NOHTML%]<br>[%END DATA%]
[%NOHTML%][@ship_street1@][%END NOHTML%]<br>
[%DATA id:'ship_street2' if:'ne' value:''%][%NOHTML%][@ship_street2@][%END NOHTML%]<br>[%END DATA%]
<font style="text-transform:uppercase;">
[%NOHTML%][@ship_city@], [@ship_state@], [@ship_zip@][%END NOHTML%]<br />
</font>
</font>
  	</td>
  </tr>
</table>
<br>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td width="30%" style="padding-right:8px;" nowrap><font style="font-size:11px; font-weight:bold;">Contact Name:</font></td>
		<td width="70%"><font style="font-size:11px; font-weight:bold;">[%NOHTML%][@ship_first_name@] [@ship_last_name@][%END NOHTML%]</font></td>
  </tr>
	<tr>
		<td style="padding-right:8px;" nowrap><font style="font-size:11px; font-weight:bold;">Contact Phone:</font></td>
		<td ><font style="font-size:11px; font-weight:bold;">[%NOHTML%][@ship_phone@][%END NOHTML%]</font></td>
  </tr>
</table>
	</td>
</tr>
</table>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
<tr>
	<td width="50%">
<br>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td width="10%" style="padding-right:8px;" valign="top" nowrap>
<font style="font-size:12px; font-weight:bold;">From:</font>
		</td>
		<td width="90%">
<font style="font-size:11px; font-weight:bold;">
[%DATA id:'bill_company' if:'ne' value:''%][%NOHTML%][@bill_company@][%END NOHTML%]<br>[%END DATA%]
[%NOHTML%][@bill_street1@][%END NOHTML%]<br>
[%DATA id:'bill_street2' if:'ne' value:''%][%NOHTML%][@bill_street2@][%END NOHTML%]<br>[%END DATA%]
<font style="text-transform:uppercase;">
[%NOHTML%][@bill_city@], [@bill_state@], [@bill_zip@][%END NOHTML%]<br />
</font>
</font>
  	</td>
  </tr>
</table>
<br>
<div style="overflow:hidden; width:175px; font-size:11px; font-weight:bold;">
[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]
[%NOHTML%][%FORMAT type:'text' maxlength:'255'%][@ship_comment@][%END FORMAT%][%END NOHTML%]
[%END PARAM%][%PARAM if_false%]
n/a
[%END PARAM%][%END DATA%]
</div>
	</td>
	<td width="50%" valign="top">
<table cellpadding="0px" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td width="70%" valign="top" align="center">
<img src="[%BARCODE_URL fn:'article' height:'50' cngmt:'[@cngmt_id@]' art:'[@art_id@]' barcodetype:'address'%][%END BARCODE_URL%]" border="0"/><br>
		</td>
  </tr>
</table>
	</td>
</tr>
</table>
<br>
<table cellpadding="0px" cellspacing="0" border="0" align="center">
	<tr><td align="center">T Section</td></tr>
	<tr>
		<td align="center" valign="top" nowrap >
  <img height="35px" src="[%BARCODE_URL fn:'article' height:'45' scale:'2' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/><br>
  <font style="font-size:12px; font-weight:bold;">[@barcode@]</font>		  </td>
		</tr>
</table>
<br>
<table cellpadding="0px" cellspacing="0" border="0" align="center">
	<tr><td align="center">Delivery</td></tr>
	<tr>
		<td align="center" valign="top" nowrap >
  <img height="35px" src="[%BARCODE_URL fn:'article' height:'45' scale:'2' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@]D[%END BARCODE_URL%]" border="0"/><br>
  <font style="font-size:12px; font-weight:bold;">[@barcode@]D</font>		  </td>
		</tr>
</table>


<br>
<table cellpadding="0px" cellspacing="0" border="0">
	<tr>
		<td style="padding-right:8px;"><font style="font-size:11px; font-weight:bold;">Ref:</font></td>
		<td><font style="font-size:11px; font-weight:bold;">[%NOHTML%][@order_id@][%END NOHTML%]</font></td>
  </tr>
</table>
<table cellpadding="0px" cellspacing="0" border="0">
	<tr>
		<td style="padding-right:8px;"><font style="font-size:11px; font-weight:bold;">Weight:</font></td>
		<td style="padding-right:8px;"><font style="font-size:11px; font-weight:bold;">[%FORMAT type:'number' dp:'3'%][@weight@][%END FORMAT%]kg</font></td>
		<td style="padding-right:8px;"><font style="font-size:11px; font-weight:bold;">[%NOHTML%][@count@] OF [@total@][%END NOHTML%]</td>
  </tr>
</table>
<br>
[%FORLOOP to:'[@total_excesslabels@]'%][%PARAM header%]
<table cellpadding="4px" cellspacing="0" border="0" width="100%" align="center">
	<tr><td style="padding-left:8px; padding-right:8px;" nowrap><font style="font-size:11px;">Excess Labels</font></td></tr>
	<tr><td>
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
[%END PARAM%][%PARAM *body%]
[%DATA id:'count' calc:'%' cvalue:'2' if:'=' value:'0'%][%PARAM *if_true%]
<tr><td width="50%" style="padding-right:8px;" valign="top">
	<img src="[%BARCODE_URL fn:'article' height:'25' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][%DATA id:'excesslabel_[@count@]'%][%END DATA%]P[%END BARCODE_URL%]" border="0"/><br>
	<font style="font-size:11px; font-weight:bold;">[%DATA id:'excesslabel_[@count@]'%][%END DATA%]P</font><br>
	<br>
	<img src="[%BARCODE_URL fn:'article' height:'25' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][%DATA id:'excesslabel_[@count@]'%][%END DATA%][%END BARCODE_URL%]" border="0"/><br>
	<font style="font-size:11px; font-weight:bold;">[%DATA id:'excesslabel_[@count@]'%][%END DATA%]</font>
	<br><br>
</td>
[%END PARAM%][%PARAM *if_false%]
<td width="50%" valign="top">
	<img src="[%BARCODE_URL fn:'article' height:'25' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][%DATA id:'excesslabel_[@count@]'%][%END DATA%]P[%END BARCODE_URL%]" border="0"/><br>
	<font style="font-size:11px; font-weight:bold;">[%DATA id:'excesslabel_[@count@]'%][%END DATA%]P</font><br>
	<br>
	<img src="[%BARCODE_URL fn:'article' height:'25' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][%DATA id:'excesslabel_[@count@]'%][%END DATA%][%END BARCODE_URL%]" border="0"/><br>
	<font style="font-size:11px; font-weight:bold;">[%DATA id:'excesslabel_[@count@]'%][%END DATA%]</font>
	<br><br>
</td>
</tr>
[%END PARAM%][%END DATA%]
[%END PARAM%][%PARAM footer%]
</table>
	</td></tr>
</table>
[%END PARAM%][%END FORLOOP%]
</td></tr>
	<tr>
	  <td align="center"><font style="font-size:8px;">Printed With Neto E-commerce Software www.neto.com.au</font></td>
  </tr>
</table>

