<table cellpadding="0" cellspacing="0" border="0" width="350px" align="center">
	<tr>
	  <td>
<table cellpadding="4px" cellspacing="0" border="0" width="100%" align="center">
	<tr><td><font style="font-size:14px;"><b> 
	C/N: <!--##[%NOHTML%]##-->[@cngmt_number@]<!--##[%END NOHTML%]##--><br>
	A/N: <!--##[%NOHTML%]##-->[@article_number@]<!--##[%END NOHTML%]##-->
	</b></font></td>
  <td align="right" style="padding-right:4px;">
<font style="font-size:26px; font-weight:bold;">STAR</font></td>
	</tr>
</table>
  </td></tr>
	<tr><td style="padding-bottom:8px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" width="70%">
<font style="font-size:12px; padding-bottom:2px;">DELIVER TO</font><br />
<font style="text-transform:uppercase;">
<!--##[%NOHTML%]##-->[@ship_first_name@] [@ship_last_name@]<!--##[%END NOHTML%]##--><br />
<!--##[%DATA id:'ship_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<b><!--##[%NOHTML%]##-->[@ship_city@], [@ship_state@] [@ship_zip@]<!--##[%END NOHTML%]##--></b><br />
</font>
  	</td>
  	<td valign="top" width="30%" nowrap>
Phone: <font style="text-transform:uppercase;"><!--##[%NOHTML%]##-->[@ship_phone@]<!--##[%END NOHTML%]##--></font><br />
Ref No.1: <!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##--><br />
<!--##[%DATA id:'customer_po' if:'ne' value:''%]##-->Ref No.2: <!--##[%NOHTML%]##-->[@customer_po@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
    </td></tr>
</table>  
  </td></tr>
	<tr><td style="padding-bottom:8px;">
<font style="font-size:12px; padding-bottom:2px;">DELIVERY INSTRUCTIONS</font><br />
<font style="font-size:10px; text-transform:uppercase;">
<!--##[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]##-->
<!--##[%NOHTML%]##--><!--##[%FORMAT type:'text' maxlength:'255'%]##-->[@ship_comment@]<!--##[%END FORMAT%]##--><!--##[%END NOHTML%]##-->
<!--##[%END PARAM%][%PARAM if_false%]##-->
n/a
<!--##[%END PARAM%][%END DATA%]##-->
</font>
  </td></tr>
	<tr>
	  <td style="padding-bottom:10px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td width="65%" valign="top">
DATE PRINTED:<br />
<!--##[%FORMAT type:'date' now:1 format:'#D/#M/#Y'%][%END FORMAT%]##-->
  	</td >
  	<td valign="top" nowrap>
			PARCEL: <!--##[%NOHTML%]##-->[@count@] OF [@total@]<!--##[%END NOHTML%]##--><br>
			WEIGHT: <!--##[%NOHTML%]##-->[@weight@]<!--##[%END NOHTML%]##-->
    </td></tr>
	<tr>
	  <td colspan="2">
<b><font style="font-size:18px;">
<!--##[%NOHTML%]##--><!--##[%FORMAT type:'text' maxlength:'20'%]##-->[@ship_city@]<!--##[%END FORMAT%]##--><!--##[%END NOHTML%]##-->
</font></b></td >
	  </tr>
</table>  
  </td></tr>
	<tr><td style="padding-bottom:10px;" align="center">
<img width="295px" src="[%BARCODE_URL fn:'article' height:'60' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/><br>
<font style="font-size:10px;"><!--##[%NOHTML%]##-->[@barcode@]<!--##[%END NOHTML%]##--></font>
  </td></tr>
<tr><td style="padding-bottom:2px;">
<font style="font-size:12px; padding-bottom:2px;">SENDER</font><br />
<font style="text-transform:uppercase;">
<!--##[%DATA id:'bill_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@bill_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'bill_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@bill_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<b><!--##[%NOHTML%]##-->[@bill_city@], [@bill_state@] [@bill_zip@]<!--##[%END NOHTML%]##--></b><br />
</font>
</td></tr>
	<tr>
	  <td align="center"><font style="font-size:8px;">Printed With Neto E-commerce Software www.neto.com.au</font></td>
  </tr>
</table>