<!--##[?
	my $tracking_id = get_one("SELECT tracking_id from ORDERTRACKINGS WHERE order_id=? AND cngmt_id=?", $_DATA{order_id}, $_DATA{cngmt_id});
	
	my %LINES = ();
	if($tracking_id > 0) {
		my $gpctr = 0;
		
		my $sql = "SELECT counter,SKU,description,quantity,extra,bin_loc,pk_quantity FROM ORDERLINES WHERE order_id=? AND tracking_id=? ORDER BY counter";
		my $sth = run_sql_dyn($sql,$_DATA{order_id},$tracking_id);
		while(my $row = $sth->fetchrow_hashref) {
			my %TMP = %{$row};
			
			my @etmp = get_full_item_extra_list($TMP{SKU},$TMP{extra});
			
			my $key1 = ''; my $find1 = 0;
			my $key2 = ''; my $find2 = 0;
			$TMP{extra} = '';
			for(my $i=0; $i<scalar(@etmp); $i++) {
				if(!$find2 && lc($etmp[$i]{name}) eq $_DATA{giftmsgid}) {
					$key2 = $etmp[$i]{value};
				} else {
					if($_DATA{giftmsgp} eq '*') {
						$key1 = $gpctr; $gpctr++;
					} elsif(!$find1 && lc($etmp[$i]{name}) eq $_DATA{giftmsgp}) {
						$key1 = $etmp[$i]{value};
						$TMP{extra} = ($etmp[$i]{name} eq ''? '':'<b>'.$etmp[$i]{name}.'</b>: ').nohtml($etmp[$i]{value}).'; '.$TMP{extra};
					} else {
						$TMP{extra} .= ($etmp[$i]{name} eq ''? '':'<b>'.$etmp[$i]{name}.'</b>: ').nohtml($etmp[$i]{value}).'; ';
					}
				}
			}
			if(!defined($LINES{$key1})) { $LINES{$key1} = {}; }
			if(!defined($LINES{$key1}{$key2})) {
				$LINES{$key1}{$key2} = [];
			}
			
			my %tmp2 = %TMP;
			push @{$LINES{$key1}{$key2}}, \%TMP;
		}
	}
	
	if( scalar(keys %LINES) == 0 ) {
		my $key1 = '';
		my $key2 = '';
		$LINES{$key1}{$key2} = [];
	}
	
	my $count = 0;
	my $giftcardnum = 1;

	## Set Gift Card Start Number ##
	my $giftcardstart =  $_DATA{giftcardstart};
	if($giftcardstart <=0 ) { $giftcardstart = 0; }

	## Set Gift Card Maximum Page ##
	my $giftcardmax =  $_DATA{giftcardmax};
	if($giftcardmax <0 ) {  # Get Remain Labels
		$giftcardmax = 0; 
		for my $key1 (keys %LINES) {
			for my $key2 (keys %{$LINES{$key1}}) {
				$giftcardmax++;
			}
		}
		$giftcardmax -= $giftcardstart;
	}
	if($giftcardmax <= 0 ) {$giftcardmax=1;}

	my $address = trim("$_DATA{ship_first_name} $_DATA{ship_last_name}").'<br>';
	$address .= $_DATA{ship_company}. ($_DATA{ship_company} eq ''? '': '<br>');
	$address .= $_DATA{ship_street1} .'<br>';
	$address .= $_DATA{ship_street2}. ($_DATA{ship_street2} eq ''? '': '<br>');
	$address .= "$_DATA{ship_city} $_DATA{ship_state} $_DATA{ship_zip}";
	
	my $maxitem = 3;
	
	my $totalart = 0;
	my $tpage = 0;
	my @linekeys = ();
	for my $key1 (sort {$a cmp $b} keys %LINES) {
		for my $key2 (sort {$a cmp $b} keys %{$LINES{$key1}}) {
			if(scalar(@{$LINES{$key1}{$key2}}) > $maxitem ) {
				$tpage++;
			} 
			push @linekeys, [$key1, $key2,1];
			$tpage++;
			$totalart++;
		}
	}
	if($tpage<=0) { $tpage = 1; push @linekeys, ['', '', 0]; }
	
	for(my $i=$totalart; $i<$giftcardstart+$giftcardmax; $i++) {
		push @linekeys, ['', '', 0];
	}
	
	my $cpage = 0;
	my $curart = 0;
	for my $lnkeys (@linekeys) {
		$curart++;
		
		my $key1 = $lnkeys->[0];
		my $key2 = $lnkeys->[1];
		
		my $curitm = 0;
		my $totalitems = 0;
		if($lnkeys->[2] && ref($LINES{$key1}{$key2}) eq 'ARRAY') {
			$totalitems = scalar(@{$LINES{$key1}{$key2}});
		}
		
		my $cpart = $_DATA{art_id}+1;
		
		# Print All item 
		if($totalitems > $maxitem) {
			$cpage++;
			
			if($giftcardstart < $curart) {
				if($count) {
					print qq~##--><hr class="pagebreak"><!--##~; 
				}
	
				print qq~##--><div align="left" class="pageinner" style="width:$TMP::PAGEWIDTH;"><!--##~; 
				print qq~##-->
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr>
  <td valign="top">
    <b>Order Number: $_DATA{order_id}<br />
      Purchase Order Number: $_DATA{customer_po}</b><br />
    </td>
  <td align="right">
    Parcel $cpart of $_DATA{total}<br />
    Page $cpage of $tpage<br />
    </td>
  </tr>
<tr><td colspan="2">
<!--##~;
	
				if($totalitems <= $maxitem  || $curitm<=0) {
					print qq~##-->
  <table cellpadding="4" cellspacing="0" width="100%">
<!--##~;
					for(my $ci=0; $curitm<$totalitems; $ci++) {
						my %TMP = %{$LINES{$key1}{$key2}[$curitm]};
						print qq~##-->
  <tr>
    <td width="1%" valign="top" nowrap style="border-right: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000;"><b>$TMP{quantity}</b></td>
    <td width="1%" valign="top" nowrap style="border-right: 1px solid #000; border-bottom: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000;">$TMP{SKU}&nbsp;</td>
    <td valign="top" style="border-right: 1px solid #000; border-bottom: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000;">$TMP{description}<br /><font class="tiny">$TMP{extra}</font></td>
    </tr>
<!--##~;
						$curitm++;
					}
					print qq~##-->
  </table>
<!--##~;
				}
				print qq~##-->
	  </td></tr>
</table><hr class="pagebreak">
<!--##~;
			}
			
			$totalitems = 0;
		}
		
		my $pntlab = 1;
		if( $giftcardmax > 0) {
			$cpage++;

			my $giftmsg = $key2;
			$giftmsg =~ s/\n/<br>/gis;

			if($giftcardstart < $curart) {
				if($count) {
					print qq~##--><hr class="pagebreak"><!--##~; 
				}

				print qq~##--><div align="left" class="pageinner" style="width:$TMP::PAGEWIDTH;"><!--##~; 
				print qq~##-->
	<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr>
	  <td valign="top">
	    <b>Order Number: $_DATA{order_id}<br />
        Purchase Order Number: $_DATA{customer_po}</b><br />
      </td>
	  <td align="right">
	    Parcel $cpart of $_DATA{total}<br />
	    Page $cpage of $tpage<br />
      </td>
	  </tr>
	<tr><td colspan="2">
	<div style="height:450px; overflow:hidden;">
  <table cellpadding="4" cellspacing="0" width="100%">
<!--##~;
				for(my $ci=0; $curitm<$totalitems; $ci++) {
					my %TMP = %{$LINES{$key1}{$key2}[$curitm]};
					print qq~##-->
  <tr>
    <td width="1%" valign="top" nowrap style="border-right: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000;"><b>$TMP{quantity}</b></td>
    <td width="1%" valign="top" nowrap style="border-right: 1px solid #000; border-bottom: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000;">$TMP{SKU}&nbsp;</td>
    <td valign="top" style="border-right: 1px solid #000; border-bottom: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000;">$TMP{description}<br /><font class="tiny">$TMP{extra}</font></td>
    </tr>
<!--##~;
					$curitm++;
				}
				print qq~##-->
  </table>
				</div>
	  </td></tr>
	<tr><td width="350" valign="top">
<div style="font-size:14px; height:110px; width:220px; overflow:hidden;">
<b>$address</b>
</div>
<div style="font-size:10px; height:100px; overflow:hidden;"><b>Gift Card No.
<!--##~;
				my $giftmsg = $key2;
				$giftmsg =~ s/\n/<br>/gis;
				if($giftmsg ne '') { print $giftcardnum; }

				## Print Gift Card Group By Field ##
				my $key1msg = $key1;
				$key1msg =~ s/\n/<br>/gis;
				if($key1msg ne '') {
					if($_DATA{giftmsgp_name} ne '') {
						print qq~##-->
<br><b>$_DATA{giftmsgp_name}: </b>
<!--##~;
					}
					print $key1msg; 
				}

				print qq~##-->
</b>
<br>
</div>
<div style="width:210px; height:300px; margin-left:15px; font-size:13px;">
$giftmsg
</div>
	</td><td width="350" valign="top">
<div style="font-size:12px; width:350px; overflow:hidden;word-wrap: break-word;">
<!--##~;

				## Print Gift Card Group By Field ##
				my $key1msg = $key1;
				if($key1msg ne '') {
					if($_DATA{giftmsgp_name} ne '') {
						print qq~##-->
<font style="font-size:14px;"><b>$_DATA{giftmsgp_name}: </b>

<!--##~;
					}
					print $key1msg; 
				}

				if(!$count) { print $_DATA{label}; }
				print qq~##-->
</font><br />
</div>
	</td></tr>
</table>
</div>
<!--##~;
				$count++;
				
				$giftcardmax--;
			}

			if($giftmsg ne '') { $giftcardnum++; }
		}
	}

	$TMP::LAST_TRACKING_ID = $tracking_id;

?]##-->
