<table cellpadding="0" cellspacing="0" border="0" width="430" align="center"
       style="font-family:'Arial'; padding:2mm ">
    <tr>
        <td valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="50%" style="padding-left:4px; alignment:left; vertical-align: bottom;">
                        <img height="50" src="/assets/cpanel/pos_malaysia_logo.jpg">
                    </td>
                    <td align="center" valign="bottom" style="padding-left: 8px">
                        <img width="90%" height="62%"
                             src="[%BARCODE_URL fn:'article' height:'80' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]"
                             border="0"/>
                        <br>
                        <div style="font-size:12px">[@barcode@]<div>
                    </td>
                </tr>
            </table>
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr>
                    <td valign="top" align="center" height="100%"
                        style="padding-top: 4.5mm; font-size: 5mm; padding-left: 2mm">[%NOHTML%][@consignment_position_number@][%END NOHTML%]/[%NOHTML%][@number_of_consignments@][%END NOHTML%]
                    </td>
                    <td valign="top" style="padding-top: 1.6%; padding-right: 2.8%" align="right">
                        <table width="100%">
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="1" align="right" width="81.5%"
                                           style="border-style: solid; border-color: grey;">
                                        <tr>
                                            [%split data1:[@location_id@] data2: '000'%]
                                            [%PARAM *body%]<td width="10%" style="text-align:center; font-size:5.5mm; border-style: solid; height: 8mm; width: 6mm;">[@data1@]</td>[%/PARAM%]
                                            [%/split%]
                                            <td width="10%" style="text-align:center; font-size:5.5mm; border-style: solid; height: 8mm; width: 6mm;">-</td>
                                            [%split data1:[@routing_code@] data2: '000000'%]
                                            [%PARAM *body%]<td width="10%" style="text-align:center; font-size:5.5mm; border-style: solid; height: 8mm; width: 6mm;">[@data1@]</td>[%/PARAM%]
                                            [%/split%]
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 1.6mm; font-style: italic; padding-left: 18mm;">Routing</td>
                            </tr>
                        </table>
                    </td>

                    <table cellspacing="0" border="0" width="100%">
                        <tr height="100%">
                            <td width="41%" valign="center"
                                style="padding-top: 4px; padding-right:4px; text-align:right; font-size:11px;"> Tarikh :
                                [%FORMAT type:'date' now:1 format:'#d #k #Y' default:'n/a'%]
                                [@date_manifest@]
                                [%END FORMAT%]<br>
                                Berat : [%FORMAT type:'number' %]
                                [@total_weight_kg@]
                                [%END FORMAT%] KG<br>
                                Berat Vol : [%FORMAT type:'number' dp:'0' %]
                                [@cubic@]
                                [%END FORMAT%] KG<br>
                                W: [%FORMAT type:'number' dp:'0' %][%data id:'width' calc:'*' cvalue:'100'/%][%END FORMAT%]
                                L: [%FORMAT type:'number' dp:'0' %][%data id:'length' calc:'*' cvalue:'100'/%][%END FORMAT%]
                                H: [%FORMAT type:'number' dp:'0' %][%data id:'height' calc:'*' cvalue:'100'/%][%END FORMAT%] cm
                            </td>
                            <td style="padding-top: 4px; padding-left:4px;  border-left:2px solid #000; text-align: left; font-size:11px;">
                                Produk : [%NOHTML%][@shserv_name@][%END NOHTML%]<br>
                                VAS : [%NOHTML%][@lodgement_title@][%END NOHTML%]<br>
                                Keterangan VAS : [%NOHTML%][@lodgement_code@][%END NOHTML%]<br>
                                Jenis : [%DATA id:'danger' if:'eq' value:'y'%][%PARAM if_true%]
                                Dangerous Goods
                                [%END PARAM%][%PARAM if_false%]
                                No Dangerous Goods
                                [%END PARAM%][%END DATA%]<br>
                                Keterangan : [%FORMAT type:'text' nohtml:'1' addbr:'1' maxlength:'35' %][@keterangan@][%END FORMAT%] <br></td>
                        </tr>
                    </table>
                    <table style="border-top:2px solid #000; padding-left: 2mm" cellspacing="0" border="0"
                           width="100%" align="center">
                        <tr height="100%">
                            <td style="padding-top: 0; font-size: 14px; line-height:1;" valign="top" height="100%" width="100%">
                                <span style="float:right;">Poslaju Account No: [@merchant_acc@]</span>
                                DARIPADA :<br/>

                                [%DATA id:'bill_company' if:'ne' value:''%][%NOHTML%]
                                [@bill_company@][%END NOHTML%]<br>
                                [%END DATA%]
                                [%NOHTML%][@bill_street1@][%END NOHTML%]
                                [%DATA id:'bill_street2' if:'ne' value:''%]<br>[%NOHTML%]
                                [@bill_street2@][%END NOHTML%]<br>
                                [%END DATA%]
                                <b>[%NOHTML%][@bill_city@], [@bill_state@] [@bill_zip@]
                                    [%END NOHTML%]</b><br/>
                                TEL: [%NOHTML%][@bill_phone_numbers@][%END NOHTML%]<br>
                                Customer Ref No#: [%NOHTML%][@order_id@][%END NOHTML%]<br>
                                [%DATA id:'bin_loc' if:'ne' value:''%]Bin No#: [%NOHTML%][@bin_loc@][%END NOHTML%][%END DATA%]<br>
                            </td>

                            <td valign="top" nowrap width="30%"></td>
                        </tr>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-top:2px solid #000; padding-left: 2mm" cellpadding="0" cellspacing="0"
                               border="0" width="100%" align="center" height="100%">
                            <tr>
                                <td valign="top" rowspan="2">
                                    <font style="font-size:12px;">KEPADA :</font>
                                    <font style="text-transform:uppercase; font-size:14px; line-height:1;"><br/>
                                        [%NOHTML%][@ship_first_name@] [@ship_last_name@][%END NOHTML%]<br>
                                        [%DATA id:'ship_company' if:'ne' value:''%][%NOHTML%]
                                        [@ship_company@][%END NOHTML%]<br>
                                        [%END DATA%]
                                        [%NOHTML%][@ship_street1@][%END NOHTML%]<br>
                                        [%DATA id:'ship_street2' if:'ne' value:''%][%NOHTML%]
                                        [@ship_street2@][%END NOHTML%]<br>
                                        [%END DATA%]
                                        <b>[%NOHTML%][@ship_city@], [@ship_state@] [@ship_zip@]
                                            [%END NOHTML%], </b>
                                        <b>[%NOHTML%][@ship_country_name@][%END NOHTML%]</b><br/>
                                        TEL: [%NOHTML%][@ship_phone_numbers@][%END NOHTML%]<br>
                                    </font>
                                </td>
                                <td valign="bottom" align="right" height="100%" style="padding-right: 5mm; padding-bottom: 1.5mm;">
                                    <img height="80"" src="[%BARCODE_URL fn:'article' height:'18' cngmt:'[@cngmt_id@]' art:'[@art_id@]' barcodetype:'details'%][@barcode@][%END BARCODE_URL%]"
                                    border="0"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-top:2px solid #000;" cellpadding="0" cellspacing="0" border="0" width="100%" align="center" height="100%">
                            <tr>
                                <td valign="top" style="font-size: 16px; padding-left: 8px" width="50%">Poskod</td>
                                <td align="right" valign="top" style="padding-right:4mm; padding-top: 3.5mm">
                                    <table cellpadding="0" cellspacing="0" border="2" bordercolor="grey" align="right"
                                           width="92%">
                                        <tr>
                                            [%split data1:'[@ship_zip@]' data2:'00000'%]
                                            [%PARAM *body%]<td align="center" style="font-size: 10mm; alignment: center;">[@data1@]</td>[%/PARAM%]
                                            [%/split%]
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="100%">
                        <table cellpadding="5" cellspacing="0" border="0"
                               width="100%" align="center" height="100%">
                            <tr>
                                <td valign="top"><font style="font-size:14px; line-height:1;">KEPADA : </font><br/>
                                    <font style="text-transform:uppercase; font-size:14px; line-height:1;"><br/>
                                        [%NOHTML%][@ship_first_name@] [@ship_last_name@][%END NOHTML%]<br>
                                        [%DATA id:'ship_company' if:'ne' value:''%][%NOHTML%]
                                        [@ship_company@][%END NOHTML%]<br>
                                        [%END DATA%]
                                        [%NOHTML%][@ship_street1@][%END NOHTML%]<br>
                                        [%DATA id:'ship_street2' if:'ne' value:''%][%NOHTML%]
                                        [@ship_street2@][%END NOHTML%]<br>
                                        [%END DATA%]
                                        <b>[%NOHTML%][@ship_city@], [@ship_state@] [@ship_zip@]
                                            [%END NOHTML%], </b>
                                        <b>[%NOHTML%][@ship_country_name@][%END NOHTML%]</b><br/>
                                        TEL: [%NOHTML%][@ship_phone_numbers@][%END NOHTML%]<br>
                                    </font>
                                    <span style="float: right; font-size: 6.2mm; padding-right: 0.55mm; padding-bottom: 0.5mm">*[%NOHTML%][@cngmt_number@][%END NOHTML%]*</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
