<table cellpadding="0" cellspacing="0" border="0" width="350px" align="center">
<tr><td align="right" >Connote:<font style="font-size:18px;"><!--##[%NOHTML%]##-->[@cngmt_number@]<!--##[%END NOHTML%]##--></font></td></tr>
<tr>
<td>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr><td rowspan="2" valign="top">
		<font style="font-size:12px; text-transform:uppercase;"><b><!--##[%NOHTML%]##-->[@return_company@]<!--##[%END NOHTML%]##--></b></font><br>
		Phone: <font style="text-transform:uppercase;"><!--##[%NOHTML%]##-->[@return_phone@]<!--##[%END NOHTML%]##--></font><br>
		Senders Reference:<br>
		<font style="font-size:18px; text-transform:uppercase;"><!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##--></font>
		</td>
		<td valign="top" align="right">
<b><font style="font-size:24px;"><!--##[%NOHTML%]##-->[@ship_port@]<!--##[%END NOHTML%]##--></font></b>
			</td></tr>
		<tr><td valign="bottom" align="right" style="padding-right:10px;">
	Service: <font style="font-size:24px;"><!--##[%NOHTML%]##-->[@shserv_code@]<!--##[%END NOHTML%]##--></font>
			</td></tr>
	</table>
</td></tr>
<tr><td style="padding-bottom:12px;">
<b><font style="font-size:18px;">STAR TRACK EXPRESS</font></b>
</td></tr>
<tr><td style="padding-bottom:8px;">
Receiver: &nbsp;&nbsp;&nbsp; Phone: <font style="text-transform:uppercase;"><!--##[%NOHTML%]##-->[@ship_phone@]<!--##[%END NOHTML%]##--></font><br />
<font style="text-transform:uppercase;">
<!--##[%NOHTML%]##-->[@ship_first_name@] [@ship_last_name@]<!--##[%END NOHTML%]##--><br />
<!--##[%DATA id:'ship_company' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_company@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
<!--##[%NOHTML%]##-->[@ship_street1@]<!--##[%END NOHTML%]##--><br>
<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##--><!--##[%NOHTML%]##-->[@ship_street2@]<!--##[%END NOHTML%]##--><br><!--##[%END DATA%]##-->
</font>
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td width="50%" valign="top">
	<font  style="font-size:18px; text-transform:uppercase;"><!--##[%NOHTML%]##-->[@ship_city@]<!--##[%END NOHTML%]##--></font></td>
	<td width="50%" valign="top">
	<font  style="font-size:18px; text-transform:uppercase;"><!--##[%NOHTML%]##-->[@ship_state@]<!--##[%END NOHTML%]##--> &nbsp; <!--##[%NOHTML%]##-->[@ship_zip@]<!--##[%END NOHTML%]##--></font>
	</td></tr>
	<tr><td colspan="2">
	<font  style="font-size:18px; text-transform:uppercase;"><!--##[%NOHTML%]##-->[@ship_state@]<!--##[%END NOHTML%]##--> &nbsp; <!--##[%NOHTML%]##-->[@ship_zip@]<!--##[%END NOHTML%]##--> &nbsp; <!--##[%NOHTML%]##-->[@ship_country_name@]<!--##[%END NOHTML%]##--></font>
	</td></tr>
</table>
</td></tr>
<tr><td style="padding-bottom:8px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top">
		<img width="225px" src="[%BARCODE_URL fn:'article' height:'80' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/>
	</td>
	<td valign="bottom" align="right" style="padding-bottom:5px;">
<table cellpadding="0" cellspacing="0" border="0">
	<tr><td align="center">
Item:<br>
<!--##[? print $_DATA{count} ?]##--> OF <!--##[? print $_DATA{total} ?]##--><br>
Label No:<br>
 <b><font style="font-size:14px;"><!--##[%NOHTML%]##-->[@article_number@]<!--##[%END NOHTML%]##--></font></b><br>
<!--##[%FORMAT type:'date' now:1 format:'#d/ #M/ #Y' default:'n/a'%]##-->[@label_created@]<!--##[%END FORMAT%]##-->
		</td></tr>
</table>
</td></tr>	
</table>		
		</td>
	</tr>
<tr>
	<td style="padding-bottom:8px;">
	<b>Delivery Instructions:</b><br>
<font style="font-size:10px; text-transform:uppercase;">
<!--##[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]##-->
<!--##[%NOHTML%]##--><!--##[%FORMAT type:'text' maxlength:'255'%]##-->[@ship_comment@]<!--##[%END FORMAT%]##--><!--##[%END NOHTML%]##-->
<!--##[%END PARAM%][%PARAM if_false%]##-->
n/a
<!--##[%END PARAM%][%END DATA%]##-->
</font>
  </td>
</tr>
	<tr>
	  <td align="center"><font style="font-size:8px;">Printed With Neto E-commerce Software www.neto.com.au</font></td>
  </tr>
</table>