<style>
	img {
		border:0;
	}
	.startrack-container {
		font-family: "Calibri", sans-serif;
		border-top: 0;
		margin: 0 auto;
	}
	.startrack-neto {
		font-family: "Calibri", sans-serif;
		font-size: 6pt;
		margin: 0 auto;
		text-align: center;
	}
	.startrack-container > div {
		border-top: 1pt solid black;
		overflow: hidden;
	}
	.startrack-container table {
		width: 100%;
		border: 0;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
		border-spacing: 0;
		overflow: hidden;
	}
	.startrack-container table td {
	}
	.startrack-header table {
	}
	.startrack-sender table {
	}
	.startrack-receiver table {
	}
	.startrack-codes table {
		table-layout: fixed;
	}
	.startrack-item table {
	}
	.startrack-instructions table {
	}
	.startrack-articleid table {
	}
	.startrack-sender table td {
		font-size: 7pt;
	}
	.startrack-receiver table td {
		font-size: 10pt;
	}
	.startrack-codes table td {
		text-align: center;
		font-weight: bold;
		font-size: 22pt;
	}
	.startrack-item table td {
		font-size: 7pt;
	}
	.startrack-instructions table td {
		font-weight: bold;
		font-size: 7pt;
	}
	.startrack-articleid table td {
		font-weight: bold;
		font-size: 8pt;
	}
	.startrack-header td.label-code {
		font-weight: bold; font-size: 22pt; line-height: 22pt; vertical-align: bottom; width: 27mm; text-align: center; padding: 0;
	}
	.startrack-header td.label-code-PRM, .startrack-header td.label-code-PHD, .startrack-header td.label-code-ARL {
		color: white;
		background: black;
	}
</style>
<div class="startrack-container">
	<div class="startrack-header">
		<table>
			<tr>
				<td class="label-code label-code-[@label_code@]">[%NOHTML%][@label_code@][%END NOHTML%]<br><img src="/assets/cpanel/p-startrack.jpg" width="100%"></td>
				<td style="font-weight: bold; font-size: 10pt;">CONNOTE:<br>[%NOHTML%][@cngmt_number@][%END NOHTML%]</td>
				<td style="font-weight: bold; font-size: 8pt; line-height: 8pt; width: 35mm; text-align: center">[%IF [@signature@] eq 'n'%]AUTHORITY TO LEAVE<br><img src="[%BARCODE_URL fn:'article' barcodetype:'atl' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@cngmt_atl@][%END BARCODE_URL%]" style="width:100%;height:10mm"><br>[@cngmt_atl@][%/IF%]</td>
			</tr>
		</table>
	</div>
	<div class="startrack-sender">
		<table>
			<tr>
				<td>
					FROM: [%NOHTML%][@return_company@][%END NOHTML%]
					PH: [%NOHTML%][@return_phone@][%END NOHTML%]
					<br>
					[%NOHTML%][@return_street1@][%END NOHTML%]
					[%NOHTML%][@return_street2@][%END NOHTML%]
					<br>
					[%NOHTML%][@return_city@][%END NOHTML%]
					[%NOHTML%][@return_zip@][%END NOHTML%]
				</td>
			</tr>
		</table>
	</div>
	<div class="startrack-receiver">
		<table>
			<tr>
				<td>
					DELIVER TO:
					<br>
					[%NOHTML%][@ship_first_name@] [@ship_last_name@] [@ship_company@][%END NOHTML%]
					<br>
					PH: [%NOHTML%][@ship_phone@][%END NOHTML%]
					<br>
					[%NOHTML%][@ship_street1@][%END NOHTML%]
					[%NOHTML%][@ship_street2@][%END NOHTML%]
					<br>
					<span style="font-size: 18pt;">[%NOHTML%][@ship_city@][%END NOHTML%]</span>
					<span style="float:right">
						<span style="font-size: 12pt;">[%NOHTML%][@ship_state@][%END NOHTML%]</span>
						<span style="font-size: 18pt;">[%NOHTML%][@ship_zip@][%END NOHTML%]</span>
					</span>
				</td>
			</tr>
		</table>
	</div>
	<div class="startrack-codes">
		<table>
			<tr>
				<td>[@ship_country@]</td>
				<td>[@r1@]</td>
				<td>[@r2@]</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</div>
	<div class="startrack-item">
		<table>
			<tr>
				<td align="center">
					<img src="[%BARCODE_URL fn:'article' barcodetype:'routing' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@shserv_code@][@ship_zip@][@ship_port@][%END BARCODE_URL%]" style="width:38mm; height: 25mm">
					<br>
					[@shserv_code@][@ship_zip@][@ship_port@]
				</td>
				<td>
					DATE: [%FORMAT type:'date' now:1 format:'#D/#M/#Y' default:'n/a'%][@label_created@][%END FORMAT%]<br>
					UNIT TYPE: [@package_type@]<br>
					ITEM [@count@] OF [@total@]<br>
					WEIGHT: [%FORMAT type:'number' round:'up' dp:'0'%][@shipping@][%END FORMAT%]<br>
					CUBE: [%FORMAT type:'number' dp:'3'%][@cubic@][%END FORMAT%]<br>
					VERSION: [$NETO_VERSION$]<br>
				</td>
				<td align="right"><img src="[%BARCODE_URL fn:'article' barcodetype:'address' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][%END BARCODE_URL%]" style="width:33mm; height: 33mm"></td>
			</tr>
		</table>
	</div>
	<div class="startrack-instructions">
		<table>
			<tr>
				<td>
					[@order_id@]<br>
					[%IF [@ship_comment@]%]
					[%FORMAT type:'text' nohtml:'1' maxlength:'255'%][@ship_comment@][%END FORMAT%]
					[%ELSE%]
					n/a
					[%END IF%]
				</td>
			</tr>
		</table>
	</div>
	<div class="startrack-articleid">
		<table>
			<tr>
				<td align="center">
					<img src="[%BARCODE_URL fn:'article' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" style="width:90%; height: 20mm">
					<br>
					[@article_number@]
				</td>
			</tr>
		</table>
	</div>
</div>
