<table cellpadding="0" cellspacing="0" border="0" width="350px" align="center">
	<tr><td style="padding-bottom:2px;">
[%DATA id:'shserv_code' if:'like' value:'^H'%][%PARAM if_true%]
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td style="background-color:#000; color:#FFF; padding-bottom:4px;">
	<b><font style="font-size:15px;">Toll IPEC &nbsp; &nbsp; 
	[%NOHTML%][@shserv_name@][%END NOHTML%]
	</font></b><br />
C/N: <b><font style="font-size:15px;">[%NOHTML%][@cngmt_number@][%END NOHTML%]</font></b>
	</td><td style="background-color:#000; color:#FFF;">
<div style="border:2px solid #FFF; color:#FFF; font-size:20px; text-align:center; padding:2px;">
<b>[%NOHTML%][@ship_port@][%END NOHTML%]</b>
</div>
	</td></tr>
</table>
[%END PARAM%][%PARAM if_false%]
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td style="background-color:#FFF; color:#000; padding-bottom:4px;">
	<b><font style="font-size:15px;">Toll IPEC &nbsp; &nbsp; 
	[%NOHTML%][@shserv_name@][%END NOHTML%]
	</font></b><br />
C/N: <b><font style="font-size:15px;">[%NOHTML%][@cngmt_number@][%END NOHTML%]</font></b>
	</td><td style="background-color:#FFF; color:#000;">
<div style="border:2px solid #000; color:#000; font-size:20px; text-align:center; padding:2px;">
<b>[%NOHTML%][@ship_port@][%END NOHTML%]</b>
</div>
	</td></tr>
</table>
[%END PARAM%][%END DATA%]
	</td></tr>
	<tr><td style="padding-bottom:4px;">
<table cellpadding="4" cellspacing="0" border="0" width="100%" align="center">
	<tr><td style="border:1px solid #000;"><table cellpadding="4" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" width="80%">
<b><font style="text-transform:uppercase;">
[%DATA id:'ship_company' if:'ne' value:''%][%NOHTML%][@ship_company@][%END NOHTML%]<br>[%END DATA%]
[%NOHTML%][@ship_street1@][%END NOHTML%]<br>
[%DATA id:'ship_street2' if:'ne' value:''%][%NOHTML%][@ship_street2@][%END NOHTML%]<br>[%END DATA%]
<font style="font-size:15px;">[%NOHTML%][@ship_city@][%END NOHTML%]</font><br />
</font></b>
Att: <b><font style="text-transform:uppercase;">[%NOHTML%][@ship_first_name@] [@ship_last_name@], [@ship_phone@][%END NOHTML%]</font></b>
	</td><td valign="bottom" nowrap width="20%">
<font style="font-size:20px; text-transform:uppercase;">
<b>[%NOHTML%][@ship_state@][%END NOHTML%]</b><br />
[%NOHTML%][@ship_zip@][%END NOHTML%]
</font>	
	</td></tr>
</table></td></tr>
</table>
	</td></tr>
	<tr><td style="padding-bottom:2px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" width="80%" style="padding-bottom:4px;">
<font style="font-size:10px; text-transform:uppercase;">
[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]
[%NOHTML%][%FORMAT type:'text' maxlength:'255'%][@ship_comment@][%END FORMAT%][%END NOHTML%]
[%END PARAM%][%PARAM if_false%]
n/a
[%END PARAM%][%END DATA%]
</font><br />
	</td><td rowspan="3" width="20%" align="center" style="border:1px solid #000;">
Item No.<br />
<b><font style="font-size:15px;">[%NOHTML%][@count@][%END NOHTML%]</font></b><br />
Tot. Items <br />
<b><font style="font-size:15px;">[%NOHTML%][@total@][%END NOHTML%]</font></b>
	</td></tr>
	<tr><td style="padding-bottom:4px;">
From
<b><font style="text-transform:uppercase;">
[%NOHTML%][@bill_company@][%END NOHTML%] &nbsp; Ph [%NOHTML%][@bill_phone@][%END NOHTML%]<br>
[%NOHTML%][@bill_street1@] [@bill_street2@][%END NOHTML%] &nbsp;
[%NOHTML%][@bill_city@], [@bill_zip@][%END NOHTML%]<br />
</font></b>
	</td></tr>
	<tr><td>
Ref: <b>[%NOHTML%][@order_id@][%END NOHTML%]</b> &nbsp; 
Despatch: <b>[%FORMAT type:'date' now:1 format:'#d #k #y'%][%END FORMAT%]</b><br />
	</td></tr>
</table>
	</td></tr>
	<tr><td style="padding-left:8px;">
Description: [%NOHTML%][@package_type@][%END NOHTML%]
	</td></tr>
	<tr><td style="padding-left:16px; padding-right:16px; padding-bottom:4px;">
	
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" width="80%">
<b><font style="font-size:10px;">
Toll IPEC - [%NOHTML%][@shserv_name@][%END NOHTML%]<br />
C/N: [%NOHTML%][@cngmt_number@][%END NOHTML%]
</font></b><br />
<font style="font-size:10px; text-transform:uppercase;">
[%DATA id:'ship_comment' if:'ne' value:''%][%PARAM if_true%]
[%NOHTML%][%FORMAT type:'text' maxlength:'255'%][@ship_comment@][%END FORMAT%][%END NOHTML%]
[%END PARAM%][%PARAM if_false%]
n/a
[%END PARAM%][%END DATA%]
</font><br />
	</td><td nowrap align="right" valign="top" width="20%">
<font style="font-size:9px;">
Tot. Kgs: 
[%FORMAT type:'number' dp:'3'%][@weight@][%END FORMAT%]<br />
Tot. M<sup style="font-size:10px;">3</sup>: 
[%FORMAT type:'number' dp:'3'%][@cubic@][%END FORMAT%]<br />
[%FORMAT type:'date' now:1 format:'#d #k #y'%][%END FORMAT%]</font>
	</td></tr>
</table>
<table cellpadding="4" cellspacing="0" border="0" width="100%" align="center">
	<tr><td style="border:1px solid #000;"><table cellpadding="4" cellspacing="0" border="0" width="100%" align="center">
	<tr><td valign="top" width="35%">
<b><font style="font-size:10px;">Received items in good order:</font></b>	
<table width="100%" cellpadding="2px" cellspacing="2px">
<tr><td width="50%" align="center" style="border:1px solid #000;">[%NOHTML%][@total@][%END NOHTML%]</td>
	<td width="50%" style="border:1px solid #000;">&nbsp;</td></tr>
<tr><td colspan="2" valign="top" style="border:1px solid #000;">
		<font style="font-size:9px;">Driver No.</font><br /><br />
	</td></tr>
</table>
	</td><td nowrap width="65%">
<table width="100%" cellpadding="0" cellspacing="0">
	<tr><td><font style="font-size:9px;">Signed</font><br /><br /><br /></td></tr>
	<tr><td><font style="font-size:9px;">Print Name</font><br /><br /></td></tr>
	<tr><td><b><font style="font-size:10px;">Date &nbsp;&nbsp; / &nbsp;&nbsp; / &nbsp;&nbsp; &nbsp; Time &nbsp;&nbsp; : &nbsp;&nbsp;</font></b></td></tr>
</table>
	</td></tr>
</table></td></tr>
</table>
	</td></tr>
	<tr><td align="center" style="padding-bottom:4px;">
<img width="260px" src="[%BARCODE_URL fn:'article' height:'70' cngmt:'[@cngmt_id@]' art:'[@art_id@]'%][@barcode@][%END BARCODE_URL%]" border="0"/><br>
[@barcode@]
	</td></tr>
	<tr><td align="center" style="padding-bottom:2px;">
<b>Toll IPEC Pty. Ltd. is not a common carrier.<br />
[%DATA id:'danger' if:'eq' value:'y'%][%PARAM if_true%]
Dangerous Goods consigned within.<br />
[%END PARAM%][%PARAM if_false%]
Dangerous Goods not consigned within.<br />
[%END PARAM%][%END DATA%]
</b>
	</td></tr>
	<tr>
	  <td align="center"><font style="font-size:8px;">Printed With Neto E-commerce Software www.neto.com.au</font></td>
  </tr>
</table>