<style>
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
</style>
[%show_orderlist ids:'[@ids@]' sortby:'[@tmpl_sort_by@]' groupby:'[@tmpl_group_by@]' sortorder:'[@tmpl_sort_order@]'%][%PARAM *header%] 
<div>
[@ship_first_name@] [@ship_last_name@]<br>
[%IF [@ship_company@]%][@ship_company@]<br>[%/IF%]
[%IF [@ship_street1@]%][@ship_street1@]<br>[%/IF%]
[%IF [@ship_street2@]%][@ship_street2@]<br>[%/IF%]
[@ship_city@] [@ship_zip@]<br>
[@ship_state@] [@ship_country@]<br>
<font style="font-size:10px;">Ref # [@order_ID@]</font>
</div>
<div class="page-break"></div>
[%END PARAM%]
[%PARAM *section_header%] 
[%END PARAM%][%PARAM *body%]
[%END PARAM%]
[%PARAM *section_footer%] 
[%END PARAM%]
[%PARAM *footer%] 
[%END PARAM%]
[%END show_orderlist%]

<script type="text/javascript">
 window.onload = function() { window.print(); }
</script>
