<div class="container">
<div class="row">
<div class="col-xs-12">

<ul class="breadcrumb"> 
<li><a href="[@config:home_url@]">Home</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
<li><a href="[@URL@]">Wish Lists</a></li>
</ul>

<!--##[%DATA id:'error' if:'eq' value:'LIST_NOT_FOUND'%]##-->
<div class="alert alert-danger">
<a class="close" data-dismiss="alert">×</a>
Cannot find wish list.
</div>
<!--##[%END DATA%]##-->

<!--##[%DATA id:'msg' if:'eq' value:'LIST_DELETED'%]##-->
<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
Wish list '<!--##[%NOHTML%]##-->[@wishlist_name@]<!--##[%END NOHTML%]##-->' has been deleted.
</div>
<!--##[%END DATA%]##-->
<div class="page-header">
<h1>My Wish Lists</h1>
</div>

<!--##[%thumb_list limit:'10' type:'list_wishlists'%]##-->
<!--##[%PARAM pgnum%][%FORM id:'pgquote'%][%END FORM%][%END PARAM%]##-->
<!--##[%PARAM header%]##-->
<table class="table table-striped table-bordered table-condensed">
 <tr> 
	<th><b>List Name</b></th>
	<th class="hidden"><b>Status</b></th>
	<th class="hidden"><b>Remind Me Every</b></th>
	<th ><b>Created Date</b></th>
	<th class="hidden"><b>Expiry Date</b></th>
	<th >&nbsp;</th>
 </tr>
 <!--##[%END PARAM%]##-->
 <!--##[%PARAM *body%]##-->
 <tr> 
	<td><a href="[%URL page:'account' type:'wishlist' fn:'view' id:'[@wishlist_id@]'%][%END URL%]">[@wishlist_name@]&nbsp;</a></td>
	<td class="hidden">
  <!--##[%DATA id:'wishlist_active' if:'eq' value:'y'%]
[%PARAM if_true%]##--><span class="label label-success">Active</span><!--##[%END PARAM%]
[%PARAM if_false%]##--><span class="label label-important">Inactive</span><!--##[%END PARAM%]
[%END DATA%]##--></td>
	<td class="hidden">
  <!--##[%DATA id:'reminder_inc_days' if:'>' value:'0'%]
[%PARAM if_true%]##-->[@reminder_inc_days@] Day(s)<!--##[%END PARAM%]
[%PARAM if_false%]##-->-<!--##[%END PARAM%]
[%END DATA%]##--></td>
	<td><!--##[%FORMAT type:'date' format:'#d #k #Y' default:'-'%]##-->[@date_created@]<!--##[%END FORMAT%]##--></td>
	<td class="hidden"><!--##[%FORMAT type:'date' format:'#d #k #Y' default:'-'%]##-->[@date_expiry@]<!--##[%END FORMAT%]##--></td>
	<td><a class="btn btn-block btn-danger" href="[%URL page:'account' type:'wishlist' id:'[@wishlist_id@]' qs:'proc=deletelist' %][%END URL%]"><i class="fa fa-trash-o icon-white"></i> Delete</a></td>
 </tr>
 <!--##[%END PARAM%]##-->
 <!--##[%PARAM *footer%]##-->
</table>
        
<!--##[%END PARAM%]##-->
<!--##[%PARAM ifempty%]##-->
You have no wish lists setup. Please add a new list below.
<!--##[%END PARAM%]##-->
<!--##[%END thumb_list%]##-->




<h4><i class="fa fa-plus"></i> Add New List</h4>
<hr />

<form method="POST" action="[%URL page:'account' type:'wishlist'%][%END URL%]">
<div class="row">
<div class="col-xs-12 col-md-2">
<input type="hidden" name="proc" value="addlist"/>
<label>List Name</label>
</div>
<div class="col-xs-12 col-md-3">
<input  class="form-control" type="input" name="wh_name" value=""/><br>
</div>
<div class="col-xs-12 col-md-3">
<input class="btn btn-block btn-success" type="submit" name="submit" value="Add New List" />
</div>
</div>
</form>

</div>
</div>
</div>