<!--[SUBJECT:[$COMPANY_NAME$]: Added to [@CONTENT_NAME@]]-->
<!--[FROM:]-->
<!--[TO:[@email@]]-->
<!--[BCC:]-->
Dear [@full_name@],
<p>
[%FORMAT type:'number' tl_unit:'item has' tl_plural:'items have' %][@COUNT_INVENTORY@][%END FORMAT%] just been added to [@CONTENT_NAME@].
</p>
<p>
You are receiving this email because you requested to be advised regarding this.
</p>
<p>
Regards<br>
[$COMPANY_NAME$]
</p>
