.offers-banner {
  background-color: $secondary-black;/*n{offers-banner-background}*/
  color: #979797;/*n{offers-banner-color}*/
  text-transform: uppercase;
  text-align: center;
  font-size: em(10);
  line-height: em(20,12);
  padding: em(10,12) 0;
  letter-spacing: 0.3em;
  font-weight: 300;
  @media (min-width: $screen-sm){
  	font-size: em(12);
  }
}