.owl-next,
.owl-prev{
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	button{
		@include appearance(none);
		border: none;
		background: none;
		@include border-radius(0);
		padding: 0;
	}
	svg{
		display: block;
		fill: black;
		width: 20px;
		height: 35px;
	}
}
.owl-prev{
	left: em(15);
	@media (min-width: $screen-md){
		left: em(25);
	}
}
.owl-next{
	right: em(15);
	@media (min-width: $screen-md){
		right: em(25);
	}
}
.button-prev,
.button-next{
	outline: none;
	svg{
		fill:#efefef;
	}
}