.sort-by{
	display: inline-block;
	position: relative;
	z-index: 2;
	text-align: right;
	&.active{
		.sort-by--options{
			visibility: visible;
			height: auto;
			opacity: 1;
			@include transition(height 0.3s ease-out, opacity 0.3s ease-out, visibility 0s linear);
		}
	}
}
.sort-by--placeholder{
	cursor: pointer;
	text-transform: uppercase;
	.icon{
		fill: $main-black;
		margin-left: em(10);
	}
}
.sort-by--options{
	margin: 0;
	padding: 0;
	visibility: hidden;
	height: 0;
	position: absolute;
	opacity: 0;
	top: 100%;
	right: 0;
	min-width: 100%;
	list-style:none;
	background: white;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	@include transition(height 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s linear);
	li{
		text-align: left;
		cursor: pointer;
		white-space: nowrap;
		padding: em(10) em(20);
		@include transition(background 0.3s ease-out, color 0.3s ease-out);
		&:hover{
			background: $purple;
			color: white;
		}
		&.selected{
			background: $main-black;
			color: white;	
		}
	}
}