<div class="homepage--custom-dye-container container">
<section class="homepage--custom-dye" style="background-image: url([%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]);">
	<div class="container-fluid">
		<div class="row">
			<div class="homepage-custom-dye--content">
				<h2>[@headline@]</h2>
				<p>[@description@]</p>
				[%if [@linktext@]%]
					<p><a href="[@url@]" target="[@target@]" class="btn [%if [@description@] like 'btn_black'%]btn-black[%/if%]">[@linktext@]</a></p>
				[%/if%]
			</div>
		</div>
	</div>
</section>
</div>