<div class="slide [%if [@description@]%][@description@][%/if%]">
	<div class="image" style="background-image: url([%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]);">
      <img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="[@headline@]" border="0" />
  </div>
	<div class="wrapper">
    <div class="description-wrap [%if [@description@] like 'bg_white'%]bg-white[%/if%]">
      <div class="description">
      	[%if [@headline@] or [@description@]%]
          [%if [@description@] like 'show_logo'%]
        	<div class="logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.4 213.3"><path fill="#AAA9AB" d="M66.7 146.6l11.9-11.1 12 11.1"/><path fill="#6D6D6D" d="M93.3 29.1v115.7l-13-12.2L80.2 17"/><path fill="#636464" d="M136.8 21.9l-10.6-9.6 10.6-9.5"/><path d="M123.6 14.3H81.9l12.4 11.5 41.9-.2m-114.6-.5h42l11.7-10.8H33.7" fill="#999998"/><path d="M21.6 0L34 11.1h88.9L135.2 0M20.6 21.8l10.2-9.2-10.2-9.3M64.1 29v115.6l13-12L77 17" fill="#D1D1D1"/><path class="text" d="M131.5 199.1h11.4v-5.3h-11.4v-3.5l25.9-4.6-1.1-5.5-10.6 1.9h-20.3v3.6l-11.4 2v-5.6h-6.8l-3 7.3-8.9 1.6-3.6-8.9h-6.8v10.8l-15.4 2.7-4.9-13.5h-6.1l-6 16.5-14.3 2.5v-19H32v20.1h-.1l-12-20.1h-6.4v23.3L0 207.8l1.1 5.5 12.4-2.2v1.7h6.1V210l9.4-1.7 2.6 4.4H38v-6l12.1-2.1-3 8.2h6.6l2.4-7.2h10.4l2.4 7.2h6.6l-4.3-11.9 13.5-2.4v14.3h6.1v-15.3l1.3-.2 5 12.8h4.4l6-15.5h.2v18.3h6.1v-19.4l11.4-2v21.4H146v-5.3h-14.7v-8.5zm-111.9 5.3v-11.8l6.4 10.7-6.4 1.1zm39.3-7l2.5-7.8 2.3 6.9-4.8.9zm40.4 3.8l-2-5 4.3-.8-2.3 5.8z"/></svg>
					</div>
        	[%/if%]
					[%if [@headline@]%]
						<div>[%content_zone id:'[@headline@]'%][%end content_zone%]</div>[%/if%]
					[%if [@linktext@]%]
						<a href="[@url@]" target="[@target@]" class="btn [%if [@description@] like 'btn_black'%]btn-black[%/if%]">[@linktext@]</a>
					[%/if%]
				[%/if%]
			</div>
    </div>
  </div>
</div>
