[%SERVICE_DOCUMENT service_id:'[@service_id@]' id:'[@sdoc_id@]'%]
[%PARAM *header%]
<!--[SUBJECT:[@sdoc_title@]]-->
<!--[FROM:]-->
<!--[TO:[@email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
[%END PARAM%][%PARAM *body%]
[@sdoc_body@]

[%DOCUMENT_FILELIST service_id:'[@service_id@]' id:'[@sdoc_id@]'%]
[%PARAM *header%]
<hr />
<p>
Attachments:<br />
[%END PARAM%][%PARAM *body%]
<a href="[$homeurl$][@file_url@]">[$homeurl$][@file_url@]</a><br />
[%END PARAM%][%PARAM *footer%]
</p>
[%END PARAM%]
[%END DOCUMENT_FILELIST%]

[%END PARAM%][%PARAM *footer%]
[%END PARAM%]
[%END SERVICE_DOCUMENT%]