<!--[SUBJECT:[$COMPANY_NAME$] Dispute #[@dispute_id@] Raised]-->
<!--[FROM:[$company_email$]]-->
<!--[TO:[@email@]]-->
------------------------------------------------------------------------------------------------
<br />
<a href="[%URL page:'account' type:'warranty' id:'[@dispute_id@]'%][%END URL%]">Click Here To Reply To Message And Read Message History </a>
<br />
------------------------------------------------------------------------------------------------
<br /><br />
Dear [@bill_first_name@],
<!--##[%SHOW_DISPUTE id:'[@dispute_id@]' customer:'[@username@]'%]
[%PARAM *header%]##-->
<p>
You have raised Dispute #[@dispute_id@] for Order #[@order_id@]
on [%FORMAT type:'date' now:'1' format:'#d #k #Y (#H:#I)'%][%END FORMAT%].
</p>
<p>
<b>Type Of Dispute:</b> [@dispute_type@]</p>
<p>
<p>
<b>Reason For Dispute:</b> [@dispute_reason@]</p>
<p>
<b>Status Of Dispute:</b> [@dispute_status@]</p>
<p>
<b>Message:</b>
<br />
[@message@]
</p>
<!--##[%END PARAM%]
[%PARAM *body%]##-->
[@qty@] x [@model@] <font size="1">(SKU: [@SKU@])</font><br />
<br />
<!--##[%END PARAM%]
[%END SHOW_DISPUTE%]##-->
------------------------------------------------------------------------------------------------
<br />
<a href="[%URL page:'account' type:'warranty' id:'[@dispute_id@]'%][%END URL%]">Click Here To Reply To Message And Read Message History </a>
<br />
------------------------------------------------------------------------------------------------
<br />
<p><font color="#666666" size="1"> This 
  message was sent from [$homeurl$]. If you have received this message in error please contact [$company_name$]<br />
Copyright  &copy;  [$company_name$]. All Rights Reserved. </font></p>
