<div class="col-xs-12 col-sm-3">
	<div id="left-sidebar">
	<button type="button" class="btn-close"><svg class="icon" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><title>Close</title><path d="M437.5 386.6L306.9 256l130.6-130.6c14.1-14.1 14.1-36.8 0-50.9-14.1-14.1-36.8-14.1-50.9 0L256 205.1 125.4 74.5c-14.1-14.1-36.8-14.1-50.9 0-14.1 14.1-14.1 36.8 0 50.9L205.1 256 74.5 386.6c-14.1 14.1-14.1 36.8 0 50.9 14.1 14.1 36.8 14.1 50.9 0L256 306.9l130.6 130.6c14.1 14.1 36.8 14.1 50.9 0 14-14.1 14-36.9 0-50.9z"/></svg></button>
	<h2>T With No Name</h2>
	[%CACHE type:'cmenu' id:'sidebar'%]
	[%/CACHE%]	
	[%CATEGORYMENU sortby:'sortorder,name' show_empty:'1'%]
		[%PARAM header%]
			<div class="categories">
				<h3>Category</h3>
				<ul class="list-unstyled">
				[%/PARAM%]
				[%PARAM *level_1%]
					<li><a href="[@url@]" class="[%if [@selected@]%]active[%/if%]">[@name@]</a>						
					</li>
				[%/PARAM%]
				[%PARAM footer%]
				</ul>
				</div>
		[%/PARAM%]
	[%/CATEGORYMENU%]	
	[%IF [@page_type@] eq 'category' and [@config:show_filters@]%]
		<div id="filters">
				<h3>Refine</h3>
				[%IF [@name@] eq 'All'%][%set [@filter_parent@] %]1[%/set%][%else%][%set [@filter_parent@] %]0[%/set%][%/if%]
				[%PRODUCT_FILTER type:'category' limit:'100' autohide:'0' filter_parent_content:[@filter_parent@]%]
					[%PARAM header%]
							<h4>Style	<span>+</span></h4>
							<ul class="list-unstyled">
					[%/PARAM%]
					[%PARAM *body%]
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
							<li class="filter-remove"><a href="[@remove_url@]" rel="nofollow">
							[@name@] <span class="text-muted">([@total@])</span></a>
							</li>
							[%/PARAM%]
							[%PARAM *if_false%]
								<li class="filter">
								<a href="[@url@]">[@name@] <span class="text-muted">([@total@])</span></a>
								</li>
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
					[%PARAM footer%]
					</ul>
					[%/PARAM%]
				[%/PRODUCT_FILTER%]				
				[%PRODUCT_FILTER type:'variations' sortby:'filter_name' autohide:'0'%]
					[%PARAM *header%]
						[%DATA id:'activecount' if:'>' value:'0'%]
							[%PARAM *if_true%]
								<h4 class="open">[@filter_name@]	<a href="[@remove_url@]" class="pull-right"> clear</a> <span>-</span></h4>
								<ul class="list-unstyled open">								
							[%/PARAM%]
							[%PARAM *if_false%]
							<h4>[@filter_name@]	<span>+</span></h4>
							<ul class="list-unstyled">
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
					[%PARAM *body%]
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
								<li class="filter-remove filter"><a href="[@remove_single_url@]" rel="nofollow">
									[%if [@filter_name@] eq 'Colour' %]
									<span class="swatch" style="[%if [@variation_swatch@] ne ''%]background-color: [@variation_swatch@][%else%]
                background-image:url('[@config:homeurl@]/assets/itmspecific/[@id@].png')
                [%/if%];"></span>[%/if%][@name@]</a>									
								</li>
							[%/PARAM%]
							[%PARAM *if_false%]
								<li class="filter">
									<a href="[@url@]">[%if [@filter_name@] eq 'Colour' %]
									<span class="swatch" style="[%if [@variation_swatch@] ne ''%]background-color: [@variation_swatch@][%else%]
                background-image:url('[@config:homeurl@]/assets/itmspecific/[@id@].png')
                [%/if%];"></span>[%/if%][@name@]</a>
								</li>
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
					[%PARAM footer%]
						</ul>
					[%/PARAM%]
				[%/PRODUCT_FILTER%]

					[%PRODUCT_FILTER type:'price' limit:'1'%]
						[%PARAM *header%]
							<h4 class="filter-price">Price <span>+</span></h4>
							<ul class="filter-price list-unstyled">
						[%/PARAM%]
						[%PARAM *body%]
							[%SITE_VALUE id:'footer_javascript'%]
								<script type="text/javascript">
									$(function() {
									[%if [@selected@]%]
									$('#filters h4.filter-price').trigger('click');
									$('#filters h4.filter-price span').before('<a href="[@remove_url@]" class="pull-right" rel="nofollow"> clear</a>');
									[%/if%]										
									var vals = ['[@min@]','[@max@]'];
									for(var i=0; i<vals.length; i++) {vals[i]=parseInt(vals[i]); }
										$( "#price-range" ).slider({
											range: true,
											min: vals[0],
											max: vals[1],
											values: vals,
											slide: function( event, ui ) {
												$( "#price-range-text" ).html( '$'+ui.values[0]+' to $'+ui.values[1] );
												$( '#pricesearch input[name="pr"]' ).val( ui.values[0]+'-'+ui.values[1] );
											},
											create: function( event, ui ) {
												$( "#price-range-text" ).html( '$'+vals[0]+' to $'+vals[1] );
												$( '#pricesearch input[name="pr"]' ).val( vals[0]+'-'+vals[1] );
											}
										});
									});
								</script>
							[%/SITE_VALUE%]
							<li class="filter">
								<p id="price-range"></p>
								[%DATA id:'selected' if:'==' value:'1'%]
									[%PARAM *if_true%]
										<p id="price-range-text" class="price_range"></p>
									[%/PARAM%]
									[%PARAM *if_false%]
										<p id="price-range-text" class="price_range"></p>
									[%/PARAM%]
								[%/DATA%]
								<form id="pricesearch" method="get" action="[@config:current_url@]">
									<input type="hidden" name="rf" value="[%FILTER_CODE id:'price'%][%/FILTER_CODE%]">
									<input  name="pr" type="hidden" value="">
									<button type="submit" class="btn btn-black" >Filter By Price</button>									
								</form>
							</li>
						[%/PARAM%]
						[%PARAM footer%]
						</ul>
						[%/PARAM%]
					[%/PRODUCT_FILTER%]
					[%PRODUCT_FILTER type:'brand' limit:'50' autohide:'0'%]
						[%PARAM header%]
							<h3>Brand	<span>+</span></h3>
							<ul class="list-unstyled">
						[%/PARAM%]
						[%PARAM *body%]
							[%DATA id:'selected' if:'==' value:'1'%]
								[%PARAM *if_true%]
									<li class="filter-remove"><a href="[@remove_url@]" rel="nofollow">
										[@brand@] <span class="text-muted">([@total@])</span></a>
									</li>
								[%/PARAM%][%PARAM *if_false%]
									<li class="filter">
										<a href="[@url@]">[@brand@] <span class="text-muted">([@total@])</span></a>
									</li>
								[%/PARAM%]
							[%/DATA%]
						[%/PARAM%]
						[%PARAM more%]
							<li class="lv1"><a href="[%URL type:'page' id:'brands'%][%/URL%]">Show all brands...</a></li>
						[%/PARAM%]
						[%PARAM footer%]
						</ul>
						[%/PARAM%]
					[%/PRODUCT_FILTER%]
			</ul>
		</div>
	[%/IF%]	
	</div>
</div>