<!--[SUBJECT:eBay Auction Sold Below Cost - [@ebstore_name@]]-->
<!--[FROM:[$COMPANY_EMAIL$]]-->
<!--[TO:[@ebay_notification_email@]]-->
<!--[BCC:[$BCC_EMAIL$]]-->
Dear [$COMPANY_NAME$],

The following eBay Auction for [@ebay_user_id@] has been sold below cost on <!--##[%FORMAT type:'date' format:'#d #k #Y (#G:#I#a)'%]##-->[@date_created@]<!--##[%END FORMAT%]##-->.

<table cellspacing="1px" border="0" cellpadding="4px">
<tr>
	<td><b>eBay ID</b></td>
	<td><b>eBay Transaction ID</b></td>
	<td><b>Quantity</b></td>
	<td><b>SKU</b></td>
	<td><b>eBay Title</b></td>
	<td><b>Unit Price</b></td>
	<td><b>Unit Cost</b></td>
</tr>
<tr>
	<td>[@ebay_id@]</td>
	<td>[@ebay_trans_id@]</td>
	<td>[@sold_qty@]</td>
	<td>[%NOHTML%][@SKU@][%END NOHTML%]</td>
	<td>[%NOHTML%][@ebay_title@][%END NOHTML%] <!--##[%DATA id:'lot_zie' if:'>' value:'1'%]##-->[@lot_size@]<!--##[%END DATA%]##--></td>
	<td style="color:red;"><b><!--##[%FORMAT type:'currency'%]##-->[@unit_price@]<!--##[%END FORMAT%]##--></b></td>
	<td><b><!--##[%FORMAT type:'currency'%]##-->[@unit_cost@]<!--##[%END FORMAT%]##--></b></td>
</tr>
</table>


<p>
You can view more details in the eBay Transaction.<br>
<a href="[$SECURE_HOME_URL$]/_cpanel?item=ebaytrans&limitid=^[@ebtrans_id@]">[$SECURE_HOME_URL$]/_cpanel?item=ebaytrans&limitid=^[@ebtrans_id@]</a>
</p>

<!--##[%content_zone id:'email_signature'%][%end content_zone%]##-->
