<div class="container">
<div class="row">
<div class="col-xs-12">
<ul class="breadcrumb">
<li><a href="[@config:home_url@]">Home</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
</ul>
<h1>Quote #[@order_id@]</h1>
<script language="javascript" type="text/javascript">
function print_quote() {
	var win = window.open('[%URL page:"account" type:"print" fn:"invoice" id:"[@order_id@]"%][%END URL%]', 'print_invoice', 'width=740,height=400,scrollbars=yes,resizeable=yes');
}
</script>
<div class="form-actions">
<input type="button" class="btn btn-default pull-left" value="Print Quote" onClick="print_quote()"> &nbsp; <a href="[%URL page:'account' type:'approve_quote'%][%END URL%]" class="btn btn-success pull-right"><i class="fa fa-check icon-white"></i> Approve Quote</a>
<div class="clear"></div>
</div>
[%print_order id:'[@order_id@]'%][%END print_order%]
</div>
</div>
</div>